<% if can? :manage, Gallery %>
<div id="upload-video" class="upload">
    <a href="<%= new_gallery_album_video_path(@gallery,@album)%>">
        <p class="big-text">
            Добавить видео
        </p>
    </a>
</div>
<% end %>
<div class="video-container container">
    <div class="gallery-page-header">
        <% if @album.videos.any? %>
        <h1>Название альбома:
            <%=@album.name%></h1>
        <% if @album.description.length > 0 %>
        <p>Описание альбома:
            <%=@album.description%></p>
        <% end %>
    <% else %>
        <h1>Нет Видео</h1>
        <% end %>
    </div>
    <div class="gallery-video-block">
        <%= render 'videos' %>
    </div>

</div>
