<div class="container-fluid gallery-page">
    <div class="new-gallery">
        <div class="gallery-page-header">
            <h1>Новый альбом</h1>
        </div>
        <%= form_for(:album, url: gallery_albums_path(@gallery), method: :post) do |f| %>
        <div class="container form-content">
            <div class="col-md-8 col-md-offset-2">
                <div class="name-field ">
                    <h2>
                        Введите имя альбома:
                    </h2>
                    <%= f.text_field :name, autocomplete: "off", placeholder: "Имя альбома" %>
                </div>
                <div class="description-field">
                    <h2>
                        Добавьте описание:
                    </h2>
                    <%= f.text_area :description, autocomplete: "off", placeholder: "Описание" %>
                </div>
            </div>
            <div class="btn-group col-md-4 col-md-offset-4">
                <button type="submit" class="btn btn-success">Создать</button>
                <%= link_to 'Назад',gallery_path(@gallery), class: "btn btn-info" %>
            </div>
        </div>
        <% end %>
    </div>
</div>
