<div class="container-fluid album-page">
    <a href="<%=gallery_path(@gallery)%>">
        <div id="back-to">
            <span class="fa fa-angle-left" title="Назад"></span>
        </div>
    </a>
    <% if @gallery.type_gallery == 'photo'%>
    <%= render 'picture_block' %>
    <%else %>
    <%= render 'video_block' %>
    <% end %>
</div>
