<div class="container media">
    <% if @gallery.type_gallery == 'photo'%>
    <div id="upload" image-url="<%= gallery_album_pictures_path(@gallery,@album) %>">
        <p class="big-text">
            Загрузить фото
        </p>
    </div>
    <%else %>
    <p class="big-text">
        Загрузить видео
    </p>
    <% end %>
    <div id="back-to-albums">
        <a href="<%=gallery_path(@gallery)%>">
            <p class="big-text">Назад</p>
        </a>
    </div>
    <div class="row" id="links">
        <% @album.pictures.all.each do |picture| %>
        <div class="col-sm-4 col-md-2 thumbnail album-icon">
            <a href="<%= picture.image_url%>" title="" data-gallery>
                <%= image_tag picture.image_url, class: "img-responsive"%>
            </a>
        </div>
        <% end %>
    </div>
</div>

<div id="blueimp-gallery" class="blueimp-gallery">
    <div class="slides"></div>
    <h3 class="title"></h3>
    <a class="prev">‹</a>
    <a class="next">›</a>
    <a class="close">×</a>
    <a class="play-pause"></a>
    <ol class="indicator"></ol>
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"></h4>
                </div>
                <div class="modal-body next"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default pull-left prev">
                        <i class="glyphicon glyphicon-chevron-left"></i>
                        Предыдущая
                    </button>
                    <button type="button" class="btn btn-primary next">
                        Следующая
                        <i class="glyphicon glyphicon-chevron-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
