@import "gallery";

.album-page {
	min-height: 100%;
	background: $gallery-background;

	h1 {
		text-align: center;
	}

	.picture-container {
		width: 60%;
		margin: auto;
	}

	.album-item {
		box-sizing: border-box;
		padding: 1px;
		height: 130px;
		width: 22%;
		display: inline-block;
		margin: 10px;
		border: 0;
		overflow: hidden;
		position: relative;

		.delete-picture {
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
		}

		img {
			width: 100%;
			height: 100%;
			transition: all 0.8s ease-in-out;

			&:hover {
				transform: scale(1.3);
			}
		}
	}
	@media (max-width: 1251px) {
		.picture-container {
			width: 80%;
		}

		.album-item {
			width: 45%;
			height: 200px;
		}
	}
	@media (max-width: 800px) {
		.album-item {
			width: 100%;
			height: 200px;
		}
	}
}

.upload {
	@extend .big-button;
	display: block !important;
	background: $main-color-second;

	&:hover {
		background: darken($main-color-second,10%);
	}
}
@media (max-width: 1000px) {
	.big-button {
		display: block !important;
		background: $main-color-second;

		&:hover {
			background: darken($main-color-second,10%);
		}
	}

	.arrow-back {
		display: none;
	}
}

.big-button {
	display: none;
	width: 200px;
	height: 60px;
	line-height: 60px;
	border-radius: 20px;
	margin: 20px auto;
	cursor: pointer;
}

.big-text {
	color: #ffffff;
	text-align: center;
	vertical-align: middle;
	font-size: 3rem;
}

.arrow-back {
	position: fixed;
	left: 0;
	height: 100%;
	width: 200px;
	transition: background 0.6s ease;

	&:hover {
		background: $back-arrow-background;
	}

	&:hover span {
		color: $back-div-hover-arrow-color;
	}

	span {
		position: absolute;
		top: 100px;
		left: 50%;
		transform: translate(-50%);
		font-size: 10rem;
		font-weight: bold;
		color: $back-arrow-color;

		&:hover {
			color: $back-arrow-color-hover;
		}
	}
}

#blueimp-gallery {
	@media (min-width: 768px) {
		.modal-dialog {
			max-width: 70%;
		}
	}
	@media (max-width: 700px) {
		.modal-dialog {
			max-width: 70%;
			min-height: 800px !important;
		}
	}
}
