@import "gallery";

.album-page {
    min-height: 100%;
    background: $gallery-color-first;

    h1 {
        text-align: center;
    }

    .album-item {
        box-sizing: border-box;
        padding: 1px;
        height: 130px;
        margin: 10px;
        border: 0;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            transition: all 0.8s ease-in-out;

            &:hover {
                transform: scale(1.3);
            }
        }
    }

    .big-button {
        width: 200px;
        height: 60px;
        line-height: 60px;
        color: #ffffff;
        border-radius: 20px;
        margin: 20px auto;
        cursor: pointer;
    }

    .big-text {
        text-align: center;
        vertical-align: middle;
        font-size: 3rem;
    }

    a,
    a:hover {
        text-decoration: none;
        color: #ffffff;
    }

    .upload {
        @extend .big-button;
        background: $main-color-second;

        &:hover {
            background: darken($main-color-second,10%);
        }
    }

    #back-to {
        @extend .big-button;
        background-color: $gallery-color-second;

        &:hover {
            background: darken($gallery-color-second,10%);
        }
    }
}

#blueimp-gallery {
    @media (min-width: 768px) {
        .modal-dialog {
            max-width: 70%;
        }
    }
}
