@import "variables";
$footer-height: 80px;

.footer {
    width: 100%;
    height: $footer-height;
    background-color: lighten(#E80536, 3%);
    color: #ffffff;
    box-sizing: border-box;
    padding-top: $footer-height /4;
    font-size: 2rem;
    overflow: hidden;
    margin-top: 50px;

    .copyright {
        float: left;
    }

    &-address {
        margin-left: 20%;
        float: left;
    }

    &-contact {
        float: right;
    }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1200px)
and (orientation : landscape) {

    .footer {
        width: 79%;
        height: 100px;
        float: right;

        .clearfix {
            width: 98% !important;
        }

        .copyright {
            display: inline-block;
        }

        &-address {
            margin-left: 0;
            display: inline-block;
            float: right;
            text-align: right;
        }

        &-contact {
            width: 50%;
            display: inline-block;
            text-align: right;
            float: right;
        }
    }

}