#info-modal-pdf {
	.modal-dialog {
		width: 50%;
	}

	p {
		margin: 0;
	}

	h5 {
		font-size: 1.6rem;
		margin: 5px 0;
	}

	.main-title {
		text-align: center;
		font-weight: bold;
	}

	.sub-title {
		text-align: center;

		h4 {
			font-weight: bold;
			margin: 0;
		}
	}

	.emphasised-text {
		font-weight: bold;
		text-decoration: underline;
	}
}

.info-sign {
	font-size: 2rem;
}

.btn-info-rspp {
  padding-bottom: 0 !important;
  padding-left: 11px !important;
  padding-right: 11px !important;
}

