@import "variables";

.wrapper {
    width: 90%;
    min-height: 1500px; // for scrolling
}

#mainNavbar {
    margin-top: 40px;
    position: relative;
    background-color: #FFFFFF;
    border: none;
}

#logo {
    width: 333px;
    height: 209px;
}

#contacts {
    display: inline-block;
    list-style: none;
    vertical-align: middle;
}

.contact {
    border-bottom: 1px solid #ededed;
    margin-top: 10px;

    &-name {
        font-weight: bold;
    }

    &-credits {
        .email {
            color: $main-color;
            text-decoration: none;

            &:hover {
                color: darken($main-color, 20%);
            }
        }
    }
}

#infoSlider {
    position: relative;
    margin-top: 25px;
}

.carousel {
    .item {
        height: 400px;
        overflow: hidden;
    }

    .slide-photo {
        width: 100%;
        top: -50px;
    }
}

#siteMap {
    display: inline-block;
    margin-top: 20px;
    margin-right: 20px;
}

#categories {
    margin-top: 85px;
    display: flex;
    justify-content: space-around;
    border-radius: 0;
    background: #FAFAFA;
    border-color: #CCCCCC;
    box-shadow: 0 0 2px 0 #CCCCCC;

    .navbar-brand {
        font-size: 22px;
    }

    .category {
        color: $main-color;
        border-style: solid;
        border-width: 0 0 2px 0;
        border-color: #FAFAFA;
        padding: 7px 0;
        transition: border 0.2s;

        &:hover {
            border-color: $main-color;

            .dropdown-menu {
                opacity: 1;
            }

            .dropdown-text {
                font-size: 18px;
                transition-duration: 0.2s;
            }
        }

        a {
            color: $main-color;
        }

        .dropdown-menu {
            display: block;
            opacity: 0;
            transition: opacity 0.2s;
        }

        .dropdown-text:hover {
            color: #FFFFFF !important;
            background-color: $main-color !important;
        }
    }
}

.login {
    width: 250px;
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    float: right;

    &-header,
    p {
        margin-top: 0;
        margin-bottom: 0;
    }

    &-header {
        background: $main-color;
        padding: 10px;
        font-size: 1.4em;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
    }

    &-container {
        background: #EBEBEB;
        padding: 10px;
    }

    p {
        padding: 5px 12px;
    }

    input {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-width: 1px;
        border-style: solid;
        padding: 8px;
        outline: 0;
        font-family: inherit;
        font-size: 0.95em;
    }

    input[type="email"],
    input[type="password"] {
        background: #FFFFFF;
        border-color: #BBBBBB;
        color: #555555;
    }

    input[type="email"]:focus,
    input[type="password"]:focus {
        border-color: #888888;
    }

    input[type="submit"] {
        background: $main-color;
        padding: 5px;
        border-color: transparent;
        color: #FFFFFF;
        cursor: pointer;
    }

    input[type="submit"]:hover {
        background: darken($main-color, 10%);
    }

    input[type="submit"]:focus {
        border-color: #05a;
    }
}
