@import "variables";


.back-btn {
  position: fixed;
  font-size: 55px;
  top: 30px;
  left: 120px;

  span {
    transition: 0.2s;
    color: #555555;

    &:hover {
      cursor: pointer;
      color: $main-color-second;
    }
  }
}

.news-post-container {
  background-color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;

  hr {
    border-top: 1px solid #000000;
  }

  .news-post-content {
    .news-post-image-container {
      float: left; 
      margin-right: 40px; 
      margin-bottom: 30px;
    }

  }

  p {
    margin-bottom: 25px;
  }

  .info {
    font-size: 20px;
    margin-top: 10px;
    border-bottom: 1px solid #000000;
    display: inline-block;
    margin-bottom: 0;

    &-last {
      margin-bottom: 20px;
      font-size: 20px;
      margin-top: 10px;
      border-bottom: 1px solid #000000;
      display: inline-block;
    }
  } 

  input[type="text"] {
    width: 100%;
    border: none;
  }

  textarea {
    width: 100%;
    max-width: 100%;
    max-height: 150px;
    border: none;
    resize: none;
  }

  input[type="submit"] {
    margin-top: 40px;
    font-size: 25px;
  }

}

.no-border {
  border: none !important;
}

#upload-picture-news-post {
  margin-bottom: 15px;
  max-width: 100%;
  .btn-area {
    border: 3px dotted #000000;
    border-radius: 15px;
    display: inline-block;
    font-size: 23px;
    padding: 6px;
    cursor: pointer;
  }
}

// #upload-picture-news-post-bottom {
//   margin-top: 65px;

//   .btn-area {
//     border: 3px dotted #000000;
//     border-radius: 15px;
//     display: inline-block;
//     font-size: 23px;
//     padding: 6px;
//     cursor: pointer;
//   }
// }

.middle-content {
  display: flex; 
  justify-content: space-between;

  // #upload-picture-news-post-left {
  //   border: 3px dotted black;
  //   border-radius: 15px;
  //   width: 105px;
  //   height: 87px;
  //   margin-right: 10px;
  //   display: inline-block;
  //   font-size: 23px;
  //   padding: 6px;
  //   cursor: pointer;
  // }

  // #upload-picture-news-post-right {
  //   @extend #upload-picture-news-post-left;
  //   margin-right: 0;
  //   margin-left: 10px;
  // }

  .editor {
    width: 100%;
    margin-bottom: 50px;
  }
}

#loadedImage {
  max-width: 100%;
  margin-bottom: 15px;
}