@import "variables";

.parallax {
    height: 400px;
    margin-top: 60px;
    background-image: url("../parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 4.5rem;
    padding-top: 20px;
    position: relative;

    p {
        font-family: 'PT Sans', sans-serif;
        text-shadow: 1px 2px 3px rgba(0, 0, 0, .6);
        text-transform: uppercase;
        font-weight: 700;
    }

    .partners-block {
        height: 100%;

        &.main {
            line-height: 250px;
            height: 75%;
            background: rgba(0,0,0,0.6);
            border: 2px solid red;
            transition: 0.2s;

            &.partner-single {
                border: none;
                background: rgba(0,0,0,0);

                &:hover {
                    background: rgba(0,0,0,0);
                }

                .partner-image {
                    box-shadow: 0 0 5px 2px $main-color-first;
                    border-radius: 3px;
                    vertical-align: 0;
                    max-width: 100%;
                    max-height: 100%;
                    cursor: pointer;
                }
            }

            &.add-partner-single {
                cursor: pointer;
                
                &:hover {
                    background: rgba(0,0,0,0.8);
                }

                .partner-image {
                    vertical-align: 0;
                    max-width: 100%;
                    max-height: 100%;
                }
            }

        }

        .add-partner-line {
            height: 25%;
            border: 2px solid red;
            background: rgba(0,0,0,0.6);

            .add-partner-single {
                height: 100%;
                line-height: 90px;
                cursor: pointer;
                transition: 0.2s;
                padding: 0;

                &:not(:first-child) {
                    border-left: 2px solid red;
                }

                &:hover {
                    background: rgba(20,20,20,0.65);
                }
            }

            .partner-single {
                @extend .add-partner-single;

                .partner-image {
                    vertical-align: 0;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }

        .partner-line {
            height: 25%;

            .partner-single {
                max-height: 100%;
                padding: 4.5px 0;
                height: 100%;
                line-height: 90px;
                cursor: pointer;

                .partner-image {
                    box-shadow: 0 0 5px 2px $main-color-first;
                    border-radius: 3px;
                    vertical-align: 0;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
    }
}




@media only screen
and (min-device-width : 768px)
and (max-device-width : 1200px)
and (orientation : landscape) {

    .parallax {
        width: 79%;
        float: right;
        background-position: 41%;
        background-size: cover;
        background-attachment: scroll;
    }

}

@media (min-width : 768px) and (max-width : 1200px) {

    .parallax {
        width: 79%;
        float: right;
        background-position: 50%;
        background-size: cover;
        background-attachment: scroll;
    }

}