@import "variables";

.parallax {
    height: 400px;
    margin-top: 60px;
    background-image: url("../parallax.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 4.5rem;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;

    p {
        font-family: 'PT Sans', sans-serif;
        text-shadow: 1px 2px 3px rgba(0, 0, 0, .6);
        text-transform: uppercase;
        font-weight: 700;
    }

    .add-partner-single {
        font-size: 18px;
        font-weight: bold;
    }

    .partners {
        margin-top: 50px;

        .partner-image {
            max-height: 100%;
            max-width: 100%;
            border-radius: 5px;
        }
    }

}

// Второй вариант для лого партнеров
// .wide {
//     width: 100%;
//     height: auto;
// }

// .tall {
//     height: 100%;
//     width: auto;
// }




@media only screen
and (min-device-width : 768px)
and (max-device-width : 1200px)
and (orientation : landscape) {

    .parallax {
        width: 79%;
        float: right;
        background-position: 41%;
        background-size: cover;
        background-attachment: scroll;
        z-index: -1;
    }

}

@media (min-width : 768px) and (max-width : 1200px) {

    .parallax {
        width: 79%;
        float: right;
        background-position: 50%;
        background-size: cover;
        background-attachment: scroll;
        z-index: -1;
    }

}
