$background-form-page: #ffffff;
@media (max-width: 970px) {
	.form-container {
		width: 100% !important;
	}

	.pdf-page-content {
		width: 80% !important;
	}
}

.form-page {
	background: $background-form-page;
	padding: 0 !important;

	.form-container {
		font-size: 1.4rem;
		width: 80%;
		margin: auto;

		td {
			box-sizing: border-box;
			padding: 5px;
		}

		.checkbox-cell {
			width: 7%;
			text-align: center;
			line-height: 40px;

			input {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				width: 70%;
				height: 70%;
			}
		}

		.pdf-page {
			&-title {
				text-align: center;

				* {
					font-weight: bold;
				}
			}

			&-content {
				width: 60%;
				margin: auto;
			}

			.form-group * {
				vertical-align: middle !important;
			}
		}

		label {
			display: inline-block;
			font-size: 1.5rem;
		}

		.navigation-form {
			text-align: center;
			margin-bottom: 30px;
		}

		.required-field {
			padding: 0;
			font-size: 2.5rem;
		}

		.table-pdf {
			border: 1px solid #000000;
			border-radius: 5px;

			.table-title-pdf {
				text-align: center;

				td {
					font-size: 2rem;
					font-weight: bold;
				}
			}

			td,
			tr {
				height: 40px;
				border: 1px solid #000000;
				font-size: 1.5rem;
			}
		}

		.partition-title-pdf {
			text-align: center;
			text-decoration: underline;
			margin-bottom: 30px;

			h3 {
				font-weight: bold;
			}
		}

		.partition-subtitle-pdf {
			text-align: center;
			margin-bottom: 30px;

			h3 {
				font-weight: bold;
			}
		}
	}
}
