.print-page {
	min-height: 100%;
	background: #ffffff !important;
	width: 100%;
	overflow: hidden;
}

.print-container {
	min-height: 100%;
	width: 80%;
	margin: auto;
	padding: 0;
	border: none;
	background: #ffffff !important;
	overflow: hidden;
}

.print-line_items {
	page-break-before: always;
}

.statement {
	font-family: "Arial";
	font-size: 1.6rem;

	.img-podpis {
		width: 80px;
		height: 80px;
	}

	.img-pechat {
		width: 150px;
		height: 150px;
	}

	p {
		margin: 0;
	}

	.helper-text {
		font-size: 1.2rem;
	}

	&-header {
		height: 130px;
		width: 100%;
		position: relative;

		&-content {
			position: absolute;
			right: 0;
			width: 35%;
		}
	}

	&-body {
		&-title {
			text-align: center;
			font-size: 1.8rem;
			text-transform: uppercase;
		}

		.first-line {
			margin-top: 0;
			width: 100%;
			border-bottom: 1px solid #000000;
		}

		.second-line {
			margin-top: 5px;
			width: 100%;
			border-bottom: 2px solid #000000;
		}

		.statement-input {
			border: none;
			width: 100%;
		}
	}

	&-bottom {
		width: 100%;

		&-sign {
			margin-top: 20px;
		}

		&-note {
			margin-top: 29px;
			font-size: 1.2rem;
		}
	}
}

.registration-card {
	&-header {
		&-title {
			text-align: center;
			font-weight: bold;
			font-size: 1.8rem;
			font-family: "Arial";

			p {
				padding: 10px 0;
			}
		}
	}

	&-content {
		&-table {
			width: 100%;
			font-style: "Arial";
			font-size: 1.6rem;
			border-collapse: collapse;

			&-title {
				font-weight: bold;
				text-align: center;

				td {
					box-sizing: border-box;
					padding: 5px 10px;
				}
			}

			tr {}

			td {
				border: 1px solid #000000;
			}

			.column-name {
				width: 40%;
				box-sizing: border-box;
				padding: 5px;
			}

			.column-value {
				width: 60%;
				border: 1px solid #000000;
			}

			.--wider {
				width: 80%;
			}

			.--thinner {
				width: 20%;
			}

			.--equal {
				width: 50%;
			}

			.registration-card-input {
				width: 100%;
				height: 100%;
				box-sizing: border-box;
				margin: 0;
				padding: 0 10px;
				border: 0;
				font-size: 2rem;
			}

			.column-deals {
				&-name {
					min-height: 35px;
					display: inline-block;
					width: 87%;
					border-right: 1px solid #000000;
					height: 100%;
					font-size: 1.6rem;
					box-sizing: border-box;
					padding: 0 10px;
				}

				&-value {
					display: inline-block;
					width: 13%;
					height: 100%;
					text-align: center;
					position: relative;
					float: right;

					label {
						width: 100%;
						height: 100%;
						top: 0;
						left: 0;
						position: absolute;
						cursor: pointer;

						&:after {
							opacity: 0;
							content: '';
							position: absolute;
							width: 28%;
							height: 50%;
							background: transparent;
							top: 5%;
							left: 37%;
							border: 3px solid #000000;
							border-top: none;
							border-right: none;
							transform: rotate(-45deg);
						}
					}

					input[type=checkbox] {
						visibility: hidden;
					}

					input[type=checkbox]:checked + label:after {
						opacity: 1;
					}
				}
			}
		}
	}
}
