@import "variables";
$news-post-height: 300px;

.rspp-news {
	display: inline-block;
	width: 48%;
	padding: 20px 0 20px 20px;
	float: right;
	word-wrap: break-word;

	h2 {
		margin-left: 15px;
		font-weight: bold;
	}

	hr {
		border-top: 1px solid #333333;
	}

	&-container {
		overflow: hidden;
		padding-right: 20px;
		max-height: $news-post-height * 2.1;
		padding: 7px 10px 7px 7px;

		&:hover {
			overflow-y: scroll;

			.rspp-news-post {
				margin-right: 0;
			}
		}
	}

	&-post {
		background: #FFFFFF;
		vertical-align: top;
		box-shadow: 0 0 1px 0 #000000;
		padding: 20px;
		margin-bottom: 30px;
		min-height: $news-post-height;
		margin-right: 10px;

		p {
			font-size: 1.8rem;
		}

		.post-title {
			margin-bottom: 20px;

			h2 {
				margin: 0;

				a {
					text-decoration: none;
					margin: 0;
					font-size: 3.1rem;
					color: $main-color-first;
				}
			}

			.tags {
				margin-top: 5px;
				font-size: 1.5rem;

				.label {
					&:not(:last-child) {
						margin-right: 3px;
					}
				}

				.label-default {
					background-color: #919191;

					&:hover {
						background-color: darken(#919191, 10%);
					}
				}
			}
		}

		hr {
			margin: 10px 0;
		}
	}
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1200px) and (orientation : landscape) {
	.rspp-news {
		width: 70%;
		margin-top: 0;
	}
}
@media (min-width : 768px) and (max-width : 1200px) {
	.rspp-news {
		width: 70%;
		margin-top: 0;
	}

}
