@import "variables";

.sign-in-container {
  margin-top: 30px;
  background-color: #FFFFFF;
  padding-bottom: 20px;

  .field {
    font-size: 2rem;

    input {
      margin-bottom: 20px;
    }
  }

  .actions {

    input[type=submit] {
      font-size: 2rem;
      background: $main-color-second;
      padding: 5px;
      width: 100%;
      border-color: transparent;
      color: #FFFFFF;
      cursor: pointer;
      transition: background 0.4s;
      display: inline-block;

      &:hover {
        background: darken($main-color-second, 10%);
      }
    }
  }
}

.sign-up-container {
  @extend .sign-in-container;

  .actions {
    input[type=submit] {
      background: $main-color-first;

      &:hover {
        background: darken($main-color-first, 10%);
      }
    }
  }
}
