@import "variables";
$survey-title-back: #00b200;
$survey-content-back: #ffffff;
$survey-hide-button: #009900;

.survey {
    position: fixed;
    top: 25%;
    left: 30px;
    width: 250px;

    &-body {
        box-shadow: 1px 1px 6px #000000;
        border-radius: 10px;
        background: $survey-content-back;
        width: 250px;
        height: auto;
        overflow: hidden;
    }

    &-hide {
        width: 25px;
        height: 40px;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        background: $survey-hide-button;
        position: absolute;
        left: -30px;
        color: #ffffff;
        transition: background 0.2s;
        cursor: pointer;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-size: 3rem;
            font-weight: bold;
        }

        &:hover {
            background: darken($survey-hide-button,13%);
        }
    }

    &-vote {
        margin-top: 10px;
    }

    &-close {
        position: absolute;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        background: rgba(34, 34, 34, 0.7);
        z-index: 999;
        right: -8px;
        top: -14px;
        text-align: center;
        cursor: pointer;

        i {
            color: #Ffffff;
            font-size: 2rem;
            line-height: 25px;
        }

        &:hover {
            background: rgba(34, 34, 34, 1);
        }
    }

    &-title {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        background: $survey-title-back;
        color: #000000;
        min-height: 40px;
        width: 100%;
        box-sizing: border-box;
        padding: 5px;
        font-size: 1.7rem;
        font-weight: bold;
        word-wrap: break-word;
        border-bottom: 1px dashed #000000;
        text-align: center;

        input {
            box-sizing: border-box;
            padding: 2px 5px;
            height: 40px;
            font-size: 2rem;
            width: 90%;
            border-radius: 5px;
        }
    }

    &-content {
        box-sizing: border-box;
        padding: 10px;
        min-height: 40px;

        .options-content {
            margin-bottom: 10px;

            .remove-option {
                color: rgba(34, 34, 34, .7);
                font-size: 2rem;
                line-height: 35px;
                cursor: pointer;

                &:hover {
                    color: rgba(34, 34, 34, 1);
                }

                &:before {
                    margin-left: 3px;
                }
            }
        }

        .input-option {
            width: 90%;
            box-sizing: border-box;
            padding: 2px 5px;
            height: 35px;
            border-radius: 2px;
            font-size: 1.8rem;
        }

        &-question-list {
            .survey-question {
                width: 100%;
                overflow: hidden;
                word-wrap: break-word;
                margin-bottom: 10px;

                .question-text {
                    max-width: 80%;
                    display: inline-block;
                    font-size: 1.7rem;
                    vertical-align: middle;
                }

                input[name="answer-survey"] {
                    margin-right: 5px;
                    vertical-align: middle;
                }
            }
        }

        &-result-list {
            .survey-result {
                width: 100%;
                margin-bottom: 5px;
                display: inline-block;

                .result-text {
                    font-size: 1.4rem;
                    font-weight: bold;
                    width: 85%;
                }

                .progress-bar {
                    float: left;
                    overflow: hidden;
                    border-radius: 2px;
                    border: 1px solid #dae1e8;
                    width: 85%;
                    position: relative;
                    background-color: #f2f4f7;
                    height: 30px;

                    &-filled {
                        position: absolute;
                        width: 0;
                        height: 100%;
                        background-color: #dae1e8;
                    }
                }

                .count-result {
                    position: absolute;
                    height: 100%;
                    width: 85%;
                    line-height: 30px;
                    text-align: center;
                    color: #000000;
                    font-size: 1.5rem;
                }

                .percent-result {
                    float: right;
                    line-height: 30px;
                    font-size: 1.5rem;

                    &:after {
                        content: '%';
                        font-size: 1.2rem;
                    }
                }
            }
        }

        &-add-field {
            width: 70%;
            height: 30px;
            border: 1px solid lighten(#000000,40%);
            background: #ededed;
            cursor: pointer;
            margin: auto;
            font-size: 2rem;
            text-align: center;

            &:hover {
                background: darken(#ededed, 10%);
            }
        }

        &-bottom {
            margin-top: 10px;
            width: 100%;
            text-align: center;

            .survey-total {
                &-count {
                    font-size: 1.6rem;
                }
            }
        }
    }
}
