$main-color-first: #ED1B24;
$main-color-second: #4DB748;
$gallery-color-first: #F0F0F0;
$gallery-color-second: #4DB748;
$gallery-color-third: #222;
$form-font-color: #000000;
$join-badge-color: #c62d1f;
$complaint-btn-color: #c62d1f;
