$main-color-first: #ED1B24;
$main-color-second: #4DB748;
$gallery-color-first: #F0F0F0;
$gallery-color-second: #4DB748;
$gallery-color-third: #222;
$form-font-color: #000000;

$survey-show-comments-color: #d1dfea;
$survey-show-comments-font-color: #222;

$video-show-comments-color: #ED1B24;
$video-show-comments-font-color: #ffffff;

$survey-title-back: #d1dfea;
$survey-content-back: #ffffff;
$survey-hide-button: #009900;
