@import "variables";

@media (max-width: 1000px) {
    .video-container {
        width: 70% !important;
    }
}

.video-container {
    margin: 20px auto;
    width: 55%;

    .pagination {
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    .video-item {
        margin: 20px 0 !important;
        color: #000000;
        min-height: 650px;
        margin: 10px;
        overflow: hidden;

        .show-comments {
            background: $video-show-comments-color !important;
            color: $video-show-comments-font-color;

            &:hover {
                background: darken($video-show-comments-color,10%) !important;
                color: $video-show-comments-font-color;
            }
        }

        iframe {
            height: 500px;
        }

        .title-block {
            width: 100%;
            display: inline-block;
            box-sizing: border-box;
            padding: 10px 20px;

            .title-link {
                display: inline-block;
                float: left;
                vertical-align: top;
                color: #000000;
                width: 80%;
                word-wrap: break-word;

                &:hover {
                    text-decoration: underline;
                }

                h3 {
                    margin: 0;
                    font-size: 2.5rem;
                }
            }

            .type-video {
                display: inline-block;
                float: right;
                background: #000000;
                color: #ffffff;
                width: 100px;
                height: 20px;
                line-height: 20px;
                text-align: center;
            }
        }

        .video-description-block {
            box-sizing: border-box;
            padding: 0 20px;

            p {
                font-style: italic;
                font-size: 1.5rem;
            }
        }

        .video-tools {
            box-sizing: border-box;
            margin: 5px 0;
            text-align: center;

            a {
                color: #000000 !important;
            }
        }
    }
}
