@import "variables";

.video-block {
    background: #F0F0F0;
    margin-top: 20px;
    display: inline-block;
    margin-bottom: 20px;
    width: 50%;

    .main-video {
        margin-top: 7px;
    }

    h2 {
        font-weight: bold;
    }

    hr {
        border-top: 1px solid #333333;
    }

    .comments-body {
        margin-top: -4px;

        .comments-list {
            max-height: 170px;
            overflow-y: scroll;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        .show-comments {
            background: $video-show-comments-color !important;
            color: $video-show-comments-font-color;

            &:hover {
                background: darken($video-show-comments-color,10%) !important;
                color: $video-show-comments-font-color;
            }
        }
    }

    .video-preview-container {
        padding: 0;

        .video-preview {
            padding-left: 0;
        }

        .video-preview:last-child {
            padding-right: 0;
        }
    }

    .video-preview-comments {
        display: none;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1200px) and (orientation : landscape) {
    .video-block {
        width: 100%;
    }
}
@media (min-width : 768px) and (max-width : 1200px) {
    .video-block {
        width: 100%;
    }
}
