<div class="col-lg-12 col-md-12 col-sm-12 business-news-container">
  <h1>
    СМИ о нас
    <%= link_to "", class: 'all-news-link' do %>
      <span class="all-news-arrow"></span>
      <span class="all-news-arrow"></span>
    <% end %>
  </h1>
  <% @mass_media_news.each do |post| %>
    <div class="col-lg-4 col-md-12 col-sm-12 post">
      <div class="title"><p><%= post.title %></p></div>
      <div class="description"><%= post.description %></div>
      <div class="more-btn">
        <%= link_to "Далее...", news_post_path(post) %>
      </div>
    </div>
  <% end %>
</div>
