<%= form_for(template, url: update_content_path(template), method: :patch, html: {id: "template-form"}) do |f| %>
  <div class="editor">
  	<%= f.cktext_area :description %>
  </div>

  <div class="actions">
    <%= f.submit "Добавить", class: "add-topic-changes create-btn" %>
  </div>
<% end %>
