<div class="news-item">
	<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 img-container">
		<!-- link to post -->
		<a href="#">
			<img src="img_chania.jpg" alt="">
		</a>
	</div>
	<div class="news-item-description col-lg-9 col-md-8 col-sm-8 col-xs-8">
		<div class="news-item-description-title">
			<%= post.title %>
		</div>
		<div class="news-item-description-text">
			<%= post.description %>
		</div>
		<div class="more-btn">
			<!-- link to post -->
			<%= link_to "Читать далее", news_post_path(post), class: "link-more" %>
		</div>
	</div>
</div>
