<div class="news-container container">

	<div class="news-container-body col-md-9">
		<% @news_posts.each do |post| %>
		  <%= render 'news', post: post %>
		<% end %>
	</div>
	<div class="col-md-3">
		<%= render 'news_navigation', active: @post_type %>
	</div>
</div>
