<div class="news-container container">

	<%= render 'news_navigation', active: @active_news %>

	 <!-- news_post do |news_post| -->
	 <% 10.times do |news_post| %>
	 <%= render 'news', post: news_post %>
	<% end %>
</div>
