<div class="pdf-page-title">
	<h2>
    Форма для вступления в союз
		<button type="button" class="btn btn-default btn-info-rspp" data-toggle="modal" data-target="#info-modal-pdf">
			<span class="glyphicon glyphicon-info-sign info-sign"></span>
		</button>
	</h2>
</div>

<!-- Modal with info -->
<%= render 'join-rspp/help_information' %>
