<div class='content'>
<div class="partition-title-pdf">
    <h3>
        ОБЩИЕ СВЕДЕНИЯ О ДЕЯТЕЛЬНОСТИ ОРГАНИЗАЦИИ
    </h3>
</div>
<div class="pdf-page-field form-group row">
    <label for="221" class="col-md-9 text-info">
        Общее число удаленных подразделений (филиалов, представительств) и дочерних предприятий/обществ (указать количество)
    </label>
    <div class="col-md-3 small-input">
        <input id="221" class="pdf-page-input form-input" type="number" min="0">
    </div>
</div>

<div class="pdf-page-field form-group row">
    <label for="222" class="col-md-9 text-info required">
        Среднесписочная численность персонала, включая филиалы, представительства и дочерние предприятия/общества (чел.)
        <br>
        Указывается общая численность персонала в организациях
    </label>
    <div class="col-md-3 small-input">
        <input id="222" class="pdf-page-input form-input" required type="number" min="0">
    </div>
</div>

<div class="pdf-page-field form-group row">
    <label for="223" class="col-md-9 text-info">
        Объем реализованной продукции (товаров, услуг) тыс.руб.
        <p>
            Указывается объем реализованной продукции (товаров и услуг) всех коммерческой организации за последний отчетный год.
        </p>
    </label>
    <div class="col-md-3 small-input">
        <input id="223" class="pdf-page-input form-input" type="number" min="0">
    </div>
</div>
</div>
