<div class="final-page-pdf">


	<div class="final-page-pdf-header">
		<h2>Документы отправлены вам почту</h2>
		<h3>Вы также можете скачать их здесь</h3>
	</div>

	<div class="final-page-pdf-content">
		<!-- Final button  -->
    <%= form_tag get_pdf_path, method: :post, id: "send-PDF-form" do %>
      <%= hidden_field_tag :registration_toPDF, id: "registration_toPDF" %>
      <%= hidden_field_tag :statement_toPDF, id: "statement_toPDF" %>
      <%= hidden_field_tag :bill_toPDF, id: "bill_toPDF" %>
    <% end %>

		<div class="spinner">

		</div>

		<button class="send-data-pdf btn-download" id="get-pdf">
				Скачать документы <span class="glyphicon glyphicon-download-alt"></span>
		</button>

	</div>
</div>
