<%= form_for @complaint, html: {id: "complaint-form"} do |f| %>
  <div class="title">
    <%= f.text_field :title, autocomplete: "off", placeholder: "Тема обращения" %>
  </div>
  <div class="body">
    <%= f.text_area :body, autocomplete: "off", placeholder: "Описание" %>
  </div>

  <%= f.submit "Отправить" %>

<% end %>