<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<div class="print-page">
			<div class="print-container">
				<div class="statement">
					<div class="statement-header">
						<div class="statement-header-content">
							<p>
								Республиканский союз
							</p>
							<p>
								промышленников и
							</p>
							<p>
								предпринимателей
							</p>
							<p>
								Председателю РСПП
							</p>
							<p style="text-align:center;">
								А.И.Швецу
							</p>
						</div>
					</div>
					<div class="statement-body">
						<h2 class="statement-body-title">
							Заявление
						</h2>
						<p class="statement-body-description">
							О вступлении в члены Республиканского союза промышленников и предпринимателей
						</p>
						<div class="first-line">
							<div type="text" class="statement-input">%INS-id-name%</div>
						</div>
						<div class="second-line">
							<input type="text" class="statement-input">
						</div>
						<div style="text-align:center;">
							<span class="helper-text">(полное наименование организации)</span>
						</div>
						<p>
							просит принять нашу организацию в члены Республиканского союза
						</p>
						<p>
							промышленников и предпринимателей (РСПП).
						</p>
						<p style="margin-top:7px;">
							Положения Устава Союза и решения его органов управления
						</p>
						<p>
							обязуемся соблюдать.
						</p>
						<p style="margin-top:7px;">
							Решение принято
						</p>
						<div class="first-line">
							<input type="text" class="statement-input">
						</div>
						<span class="helper-text">(Правлением, собранием, советом или иным органам, полномочным принимать решение об участии в других организациях)</span>
						<p style="font-size:14px; margin-top: 10px;">
							Протокол № _______________ от «____» _________________ 201____ года.
						</p>
					</div>
					<div class="statement-bottom">
						<div class="statement-bottom-sign">
							<div class="display:inline-block;">
								<span class="helper-text">(должность руководителя)</span>
								<div class="img-podpis" style="display:inline-block;margin-left:20%;">
									<div class="placeholder"></div>
									<div class="helper-text">(подпись)</div>
								</div>
								<span class="helper-text" style="margin-left:20%;">(Ф.И.О)</span>
							</div>
							<div style="margin-top:30px;">
								<div class="img-pechat" style="display:inline-block;margin-left:20%;">
									<span class="helper-text">Печать</span>
									<div class="placeholder"></div>
								</div>
								<span class="helper-text" style="margin-left:10%;">дата</span>
							</div>
						</div>
						<div class="statement-bottom-note">
							<p style="text-decoration:underline;">
								СПРАВОЧНО:
							</p>
							<p>
								Реквизиты Республиканского союза промышленников и предпринимателей
							</p>
							<p>
								УНП 805000965
							</p>
							<p>
								Расчетный счет:
							</p>
							<p>
								- в белорусских рублях 3015048277018
							</p>
							<p>
								- в российских рублях 3015048277513
							</p>
							<p>
								- в долларах США 3015048277513
							</p>
							<p>
								в «Приорбанк» ОАО ЦБУ 111 г.Минск, УНП 100220190, БИК 153001749
							</p>
							<p>
								адрес банка 220123 г.Минск пр. Машерова 40
							</p>
							<p>
								Председатель РСПП Швец Александр Иосифович
							</p>
						</div>
					</div>

				</div>
			</div>

		</div>
	</body>
</html>


<style>

.statement {
	font-family: "Arial";
	font-size: 0.9rem;
}

.statement .img-podpis .placeholder {
	width: 80px;
	height: 80px;
	display: inline-block;
}

.statement .img-pechat .placeholder {
	width: 150px;
	height: 150px;
	margin-left: 10px;
	display: inline-block;
}

.statement p {
	margin: 0;
}

.statement .helper-text {
	font-size: 1rem;
}

.statement-header {
	height: 130px;
	width: 100%;
	position: relative;
}

.statement-header-content {
	position: absolute;
	right: 0;
	width: 35%;
}

.statement-body-title {
	text-align: center;
	font-size: 1.3rem;
	text-transform: uppercase;
}

.statement-body .first-line {
	margin-top: 0;
	width: 100%;
	border-bottom: 1px solid #000000;
}

.statement-body .second-line {
	margin-top: 5px;
	width: 100%;
	border-bottom: 2px solid #000000;
}

.statement-body .statement-input {
	border: none;
	width: 100%;
}

.statement-bottom {
	width: 100%;
}

.statement-bottom-sign {
	margin-top: 20px;
}

.statement-bottom-note {
	margin-top: 29px;
	font-size: 0.9rem;
}

</style>
