<a href="<%=root_path%>">
    <div class="arrow-back">
        <span class="fa fa-angle-left" title="Назад"></span>
    </div>
    <div class="big-button">
        <p class="big-text">Назад</p>
    </div>
</a>
