<div class="exchange-rates">
    <h2>
        Курсы валют
    </h2>
    <hr>
    <table class="table table-striped text-center">
        <tr>
            <td></td>
            <td>
                <b>
                    Белорусский рубль
                </b>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    Доллар США
                </b>
            </td>
            <td id="USD" class="value">
                <h3>
                    ...
                </h3>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    Евро
                </b>
            </td>
            <td id="EUR" class="value">
                <h3>
                    ...
                </h3>
            </td>
        </tr>
        <tr>
            <td>
                <b>
                    Российский рубль
                </b>
            </td>
            <td id="RUB" class="value">
                <h3>
                    ...
                </h3>
            </td>
        </tr>
    </table>
</div>
