<div class="mainpage-footer footer">
    <div class="container clearfix">
        <p class="copyright">© 2017 «РСПП», Все права защищены</p>
        <div class="mainpage-footer-address">
            <p>
                Минск, ул. Сторожевская, 5, офис 15
            </p>
        </div>
        <div class="mainpage-footer-contact">
            <p class="phone">+375 11 111 11 11</p>
        </div>
    </div>
</div>
