<div class="mass-media-news">

    <h2>
        СМИ о нас
    </h2>

    <hr>
    
    <div class="mass-media-news-container">

        <div class="mass-media-news-post">
            <div class="image text-center">
                <img class="image" src="shvetc.jpg">
            </div>
            <div class="text">
                <h4>
                    <a href="">Александр ШВЕЦ: «О решениях в сфере реформ власти должны объявить до Нового года»</a>
                </h4>
                <p>
                    Абсолютно независимому частному белорусскому бизнесу реформы нужны. А вот бизнесу, который построен на сателлитной промышленной или торговой кооперации с государственным или частным бизнесом, реформы не нужны.
                    <small class="date-block">17 Ноября 2015, 08:52</small>
                </p>
            </div>
            <hr>
        </div>

    </div>
</div>