<div class="orspp-link-content active" id="orspp-content">
    <h2 class="template-title">О РСПП</h2>
    <div class="description-body">
        <p>
            Российский союз промышленников и предпринимателей (РСПП) - общероссийская организация, представляющая интересы деловых кругов как в России так и на международном уровне. Российский союз осуществляет свою деятельность посредством двух юридических лиц,
            обладающих различным правовым статусом – общероссийского объединения работодателей (ООР «РСПП») и общероссийской общественной организации (РСПП).
        </p>
        <p>
            РСПП сегодня - это более ста отраслевых и региональных объединений, представляющих ключевые секторы экономики: ТЭК, машиностроение, инвестиционно - банковскую сферу, а также оборонно-промышленный комплекс, строительство, химическое производство,
            легкую и пищевую промышленность, сферу услуг.
        </p>
        <p>
            РСПП объединяет тысячи крупнейших российских компаний - представителей промышленных, научных, финансовых и коммерческих организаций во всех регионах России. РСПП видит свое предназначение в консолидации усилий промышленников и предпринимателей
            России, направленных на улучшение деловой среды, повышение статуса российского бизнеса в стране и в мире, поддержание баланса интересов общества, власти и бизнеса.
        </p>
        <p>
            РСПП ведет постоянную практическую работу: на высоком государственном уровне проводятся конференции по актуальным экономическим проблемам с участием представителей российских и зарубежных бизнес-кругов, а также руководителей федеральных органов
            власти. Итогами этих форумов являются решения, которые принимаются на государственном уровне в сфере предпринимательства и бизнеса в России.
        </p>
    </div>
</div>
