<div class="parallax text-center">
    <p>
        ПАРТНЕРЫ:
    </p>

    <div class="partner">
        <img class="partner-img" src="partner1.png" style="border-radius: 5px;">
    </div>

    <div class="partner">
        <img class="partner-img" src="partner2.png">
    </div>
</div>