<div class="parallax text-center">
    <p>
      ПАРТНЕРЫ:
    </p>

    <div class="partners">
      <% @partners.each do |partner| %>
        <%= render 'partner_single', partner: partner %>
      <% end %>
    </div>

    
</div>


<script type="text/javascript">
$('.partners').slick({
  slidesToShow: 5,
  autoplay: true,
  autoplaySpeed: 1800,
  arrows: false,

  responsive: [
    {
      breakpoint: 1600,
      settings: {
        arrows: false,
        slidesToShow: 4
      }
    },
    {
      breakpoint: 1400,
      settings: {
        arrows: false,
        slidesToShow: 3
      }
    },
    {
      breakpoint: 1100,
      settings: {
        arrows: false,
        slidesToShow: 2
      }
    }
  ]
});

 // $('.partner-image').each(function(){
 //  var imgClass = (this.naturalWidth/this.naturalHeight > 1) ? 'wide' : 'tall';
 //  $(this).addClass(imgClass);
 //  console.log($(this))
 // })

</script>