<div class="rspp-news">

    <h2>
        Новости РСПП
    </h2>

    <hr>

    <div class="rspp-news-container">
    
        <div class="rspp-news-post">
            <div class="post-title">
                <h2>
                    <a href="">Новость про РСПП</a>
                </h2>
                <div class="tags">
                    <a href="" class="label label-default">Бизнес</a>
                    <a href="" class="label label-default">3 Комментария</a>
                    <a class="label label-default">3 Июня, 2017</a>
                </div>
            </div>
            <hr>
            <p>
                Praesent augue arcu, ornare ut tincidunt eu, mattis a libero. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. In...
            </p>
        </div>

    </div>
</div>