<% if user_signed_in? %>
<div class="survey">
    <div class="survey-hide" title="" state="opened">
        <span class="fa fa-angle-left"></span>
    </div>
    <% if (@survey) %>
    <div class="survey-body">
        <% if  can? :manage, Survey %>
        <div class="survey-close">
            <a href="<%=survey_path(@survey)%>" data-remote="true" data-method="delete" title="Удалить опрос">
                <i class="glyphicon glyphicon-remove"></i>
            </a>
        </div>
        <% end %>
        <%= render "survey"%>
    </div>
<% else %>
    <% if can? :manage, Survey %>
    <div class="survey-body">
        <%= render "survey_add"%>
    </div>
    <% end %>
    <% end %>
</div>
<% end %>
