<%= javascript_tag do %>
window.currentUserId = '<%= current_user.id %>'
<% end %>
<div class="survey-title">
    <%= @survey.title %>
</div>
<div class="survey-content">
    <div class="survey-content-bottom">
        <div class="survey-total">
            <div class="survey-total-count">
                Проголосовали:
                <b><%= @survey.count_votes %></b>
            </div>
        </div>
    </div>
</div>
