<div class="survey">
    <div class="survey-close">
        <i class="glyphicon glyphicon-remove"></i>
    </div>
    <% if @survey.empty? %>
    <%= render "survey_add"%>
    <% else%>
    <div class="survey-title">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
    </div>
    <div class="survey-content">
        <div class="survey-content-question-list">
            <div class="survey-question"></div>
            <div class="survey-question radiobtn"></div>
        </div>
        <div class="survey-content-bottom">
            <div class="survey-total">
                <div class="survey-total-count">
                    <b>0</b>
                    людей проголосовало
                </div>
            </div>
            <div class="survey-vote">
                <button id="survey-vote-btn" class="btn btn-primary btn-xs" type="button" name="button">
                    Проголосовать
                </button>
            </div>
        </div>
    </div>
    <% end %>
</div>

<!-- <div class="survey">
    <div class="survey-title">
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
    </div>
    <div class="survey-content">
        <div class="survey-stats">
            <div class="survey-stat">
                <div class="survey-text">
                    Да
                </div>
                <div class="survey-row">
                    <div class="percent">
                        0%
                    </div>
                    <div class="survey-row">
                        <div class="survey-row-progress-percent"></div>
                        <div class="survey-row-count">
                            0
                        </div>
                    </div>
                </div>
            </div>
            <div class="survey-stat">
                <div class="survey-text">
                    Нет
                </div>
                <div class="survey-row">
                    <div class="percent">
                        0%
                    </div>
                    <div class="survey-row">
                        <div class="survey-row-progress-percent"></div>
                        <div class="survey-row-count">
                            0
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
