<% if @survey %>
<div class="survey">
	<div class="survey-hide" title="" state="opened">
		<span class="fa fa-angle-left"></span>
	</div>
	<div class="survey-body">
		<%= render "survey"%>
		<div class="survey-comments col-md-12">
			<%= render 'comments/comments', commentable: @survey %>
			<%= render 'comments/new_comment', commentable: @survey %>
		</div>
	</div>
</div>
<% end %>
