<% if user_signed_in? %>
    <div class="survey">
        <div class="survey-hide" title="" state="opened">
            <span class="fa fa-angle-left"></span>
        </div>

        <% if @survey %>
            <div class="survey-body">
                <% if  can? :manage, Survey %>
                <div class="survey-close" data-remote="true">
                    <a title="Закрыть опрос">
                        <i class="glyphicon glyphicon-remove"></i>
                    </a>
                </div>
                <% end %>
                <%= render "survey"%>
                <div class="survey-comments col-md-12">
                  <%= render 'comments/comments', commentable: @survey %>
                  <%= render 'comments/new_comment', commentable: @survey %>
                </div>
            </div>
        <% end %>
    </div>
<% end %>
