<div class="survey-add">
  <div class="survey-title">
    <input type="text" name="survey[title]" placeholder="Вопрос..." id="survey-title-input">
  </div>
  <div class="survey-content">
    <div class="survey-content-add-field" title="Добавить вариант ответа">
      <i class="glyphicon glyphicon-plus"></i>
    </div>
    <div class="survey-content-bottom">
      <button type="button" name="button" data-remote="true" data-controller="<%=surveys_path%>" id="btn-create-survey" title="Создать опрос" class="btn btn-success btn-md">Создать</button>
    </div>
  </div>
</div>
