<div class="shadow"></div>
<div class="vertical-navbar-wrapper">
  <div class="vertical-navbar text-center">
    <div class="hidden-scroll">
      <img id="logo" src="logo.png">

      <div class="join-badge text-center">
          <div class="text">
              <p>Вступить в союз</p>
          </div>
      </div>

      <div class="topics">
          <% @topics.each do |topic| %>
            <div class="topic-body">
              <a href="<%= topic.link %>">
                <div class="topic">
                  <%= topic.text %>
                </div>
              </a>
              <% if topic.subtopics %>
                <div class="arrow-for-subtopics">
                   <span class="glyphicon glyphicon-chevron-right"></span>
                </div>
              <% end %>
            </div>
          <% end %>
      </div>

      <button class="signup-btn shadow-on">Регистрация</button>
      <button class="login-btn shadow-on">Войти</button>
    </div>
  </div>
</div>
