<style type="text/css" media="print">
	@media print {
		.print-page {
			background-color: #ffffff;
		}

		body {
			background-color: #ffffff;
		}
	}
</style>
<div class="print-page">
	<div class="print-container">
		<div class="bill">
			<div class="bill-header">
				<div class="bill-header-destination clearfix">
					<div class="bill-header-destination-item" style="width: 60%; float:left;">
						<p>
							Получатель:
							<strong>РСПП</strong>
						</p>
						<p>
							и его адрес: Минск, ул.Сторожевская, 5-15
						</p>
						<p>
							Сч. N 3015048277018 в «Приорбанк» ОАО
						</p>
						<p>
							ЦБУ 111 г.Минск, код 749
						</p>
						<p>
							в гор.Минске УНП получателя - 805000965
						</p>
					</div>
					<div class="bill-header-destination-item" style="width: 34%; float:right;">
						<div style="display:inline-block;">
							<p>
								СЧЕТ-ФАКТУРА
							</p>
							<p>
								N
							</p>
							<p>
								от _________________
							</p>
						</div>
					</div>
				</div>
				<div class="bill-header-payer">
					<p>
						Плательщик:
					</p>
					<p>
						и его адрес: г.Минск, Сч. N
						<span style="padding-left: 20%;">
							в банке
						</span>
						<span style="padding-left: 25%;">
							в
						</span>
					</p>
				</div>
				<div class="bill-header-note clearfix">
					<div class="bill-header-note-item">
						<p>
							Основание уплаты:
						</p>
						<p>
							Решение Совета РСПП
						</p>
						<p>
							от 18.05.2016г.
						</p>
					</div>
					<div class="bill-header-note-item" style="padding-left:10px;">
						<p>Вступительный взнос</p>
						<p>единовременный</p>
					</div>
					<div class="bill-header-note-item" style="padding-left:10px;">
						<p>Годовой членский взнос</p>
						<p>за 2016</p>
					</div>
				</div>
			</div>
			<div class="bill-addon">
				<p>Дополнение: Назначение платежа:
					<strong>уплата взноса (вступительного, членского</strong>
				</p>
				<p>
					<strong>за ______ год)</strong>
					в Республиканский союз промышленников и предпринимателей (РСПП)</p>
				<p>согласно Порядку и размерам внесения (уплаты взносов) утвержденному решением</p>
				<p>Совета РСПП, протокол №2 от 18.05.2016</p>
			</div>
			<div class="bill-content">
				<table class="bill-content-table">
					<thead>
						<tr>
							<td>Наименование</td>
							<td>ед. измер.</td>
							<td>Количество</td>
							<td>1 БВ, руб.</td>
							<td>Сумма, руб.</td>
							<td>Ставка НДС</td>
							<td>Сумма НДС</td>
							<td>Итого - Сумма, руб.</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td style="text-align:left;box-sizing:border-box;padding:5px;">Вступительный
								<p>взнос</p>
							</td>
							<td>разовый</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>Х</td>
							<td></td>
						</tr>
						<tr>
							<td style="text-align:left;box-sizing:border-box;padding:5px;">Годовой
								<p>членский взнос</p>
							</td>
							<td>разовый</td>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td>Х</td>
							<td></td>
						</tr>
						<tr>
							<td style="text-align:left;box-sizing:border-box;padding:5px;">ИТОГО:</td>
							<td>X</td>
							<td></td>
							<td>X</td>
							<td>X</td>
							<td>X</td>
							<td>Х</td>
							<td></td>
						</tr>
					</tbody>
				</table>

				<p>
					<strong>Сумма НДС: Без НДС.</strong>
				</p>
				<p style="margin-bottom:-5px;">
					Всего к оплате: ________________________________________________________
				</p>
				<span style="font-style:italic;padding-left:35%;font-size:1.2rem;">
					(сумма прописью)
				</span>
			</div>
			<div class="bill-footer">
				<p>Председатель РСПП
					<span style="padding-left:24%;">Швец А.И.</span>
				</p>
				<p style="padding-bottom:37%;">Главный бухгалтер
					<span style="padding-left:25%;">Шевченко Е.А.</span>
				</p>
			</div>
		</div>
	</div>
</div>
