<div class="print-page">

	<div class="print-container">

		<p align="justify">
			Получатель:
			<strong>РСПП</strong>
			│ СЧЕТ-ФАКТУРА
		</p>
		<p align="justify">
			и его адрес: Минск, ул.Сторожевская, 5-15 │ N
		</p>
		<p align="justify">
			Сч. N 3015048277018 в «Приорбанк» ОАО │ от __________________
		</p>
		<p align="justify">
			ЦБУ 111 г.Минск, код 749 │
		</p>
		<p align="justify">
			в гор.Минске УНП получателя - 805000965│
		</p>
		<p align="justify">
			──────────────────────────────────────────┴─────────────────────────
		</p>
		<p align="justify">
			Плательщик:
		</p>
		<p align="justify">
			и его адрес: г.Минск, Сч. N в банке в
		</p>
		<p align="justify">
			────────────────────────────────────────────────────────────────────
		</p>
		<p align="justify">
			────────────────────┬─────────────────────┬─────────────────────────
		</p>
		<p align="justify">
			Основание уплаты: │ Вступительный взнос │ Годовой членский взнос
		</p>
		<p align="justify">
			Решение Совета РСПП │ единовременный │ за 2016
		</p>
		<p align="justify">
			от 18.05.2016г. │ │
		</p>
		<p align="justify">
			────────────────────┴─────────────────────┴─────────────────────────
		</p>
		<p align="justify">
			Дополнение: Назначение платежа:
			<strong>уплата взноса</strong>
			(
			<strong>вступительного,</strong>
			<strong>членского
			</strong>
		</p>
		<p align="justify">
			<strong>за ______ год)</strong>
			в Республиканский союз промышленников и предпринимателей (РСПП)
		</p>
		<p align="justify">
			согласно Порядку и размерам внесения (уплаты взносов) утвержденному решением
		</p>
		<p align="justify">
			Совета РСПП, протокол №2 от 18.05.2016
		</p>
		<table width="600" cellpadding="3" cellspacing="0">
			<colgroup>
				<col width="121"/>
				<col width="58"/>
				<col width="90"/>
				<col width="42"/>
				<col width="50"/>
				<col width="58"/>
				<col width="66"/>
				<col width="65"/>
			</colgroup>
			<tbody>
				<tr valign="top">
					<td width="121" height="9">
						<p align="justify">
							Наименование
						</p>
					</td>
					<td width="58">
						<p align="justify">
							ед.
						</p>
						<p align="justify">
							измер.
						</p>
					</td>
					<td width="90">
						<p align="justify">
							Количество
						</p>
					</td>
					<td width="42">
						<p align="justify">
							1 БВ,
						</p>
						<p align="justify">
							руб.
						</p>
					</td>
					<td width="50">
						<p align="justify">
							Сумма,
						</p>
						<p align="justify">
							руб.
						</p>
					</td>
					<td width="58">
						<p align="justify">
							Ставка
						</p>
						<p align="justify">
							НДС
						</p>
					</td>
					<td width="66">
						<p align="justify">
							Сумма
						</p>
						<p align="justify">
							НДС
						</p>
					</td>
					<td width="65">
						<p align="justify">
							Итого -
						</p>
						<p align="justify">
							Сумма, руб.
						</p>
					</td>
				</tr>
				<tr valign="top">
					<td width="121" height="10">
						<p align="justify">
							Вступительный взнос
						</p>
					</td>
					<td width="58">
						<p align="justify">
							разовый
						</p>
					</td>
					<td width="90"></td>
					<td width="42"></td>
					<td width="50"></td>
					<td width="58"></td>
					<td width="66"></td>
					<td width="65"></td>
				</tr>
				<tr valign="top">
					<td width="121" height="10">
						<p align="justify">
							Годовой членский взнос
						</p>
					</td>
					<td width="58"></td>
					<td width="90"></td>
					<td width="42"></td>
					<td width="50"></td>
					<td width="58"></td>
					<td width="66"></td>
					<td width="65"></td>
				</tr>
				<tr valign="top">
					<td width="121" height="10">
						<p align="justify">
							ИТОГО:
						</p>
					</td>
					<td width="58">
						<p align="justify">
							Х
						</p>
					</td>
					<td width="90"></td>
					<td width="42">
						<p align="justify">
							Х
						</p>
					</td>
					<td width="50">
						<p align="justify">
							Х
						</p>
					</td>
					<td width="58">
						<p align="justify">
							-
						</p>
					</td>
					<td width="66">
						<p align="justify">
							-
						</p>
					</td>
					<td width="65"></td>
				</tr>
				<tr valign="top">
					<td width="121" height="9"></td>
					<td width="58"></td>
					<td width="90"></td>
					<td width="42"></td>
					<td width="50"></td>
					<td width="58"></td>
					<td width="66"></td>
					<td width="65"></td>
				</tr>
			</tbody>
		</table>
		<p align="justify">
			<strong>Сумма НДС: Без НДС.</strong>
		</p>
		<p align="justify">
			<strong>
				Всего к оплате: ________________________________________________________
			</strong>
		</p>
		<p align="justify">
			<em>(сумма прописью)</em>
		</p>
		<p align="justify">
			Председатель РСПП Швец А.И.<em></em>
		</p>
		<p align="justify">
			Главный бухгалтер Шевченко Е.А.
		</p>
	</div>
</div>
