 <html>
  <head>
    <meta charset="utf-8">
  </head>
  <body>
    <style>

      body {
        width: 90%;
        margin: 0 auto;
      }

      #mainNavbar {
        top: 40px;
        position: relative;
        background-color: #FFFFFF;
        border: none;
      }

      #logo {
        width: 333px;
        height: 209px;
      }

      #contacts {
        display: inline-block;
        vertical-align: middle;
        margin-left: 60px;
      }

      #contacts hr {
        margin: 7px;
      }


      #infoSlider {
        position: relative;
        margin-top: 25px;
      }

      .item {
        height: 400px;
        overflow: hidden;
      }

      .slide-photo {
        width: 100%;
        top: -50px;
      }

      #siteMap {
        display: inline-block;
        margin-top: 20px;
        margin-right: 20px;
      }

      #categories {
        margin-top: 85px;
        display: flex;
        justify-content: space-around;
        border-radius: 0;
        background: #FAFAFA; 
        border-color: #CCCCCC;
        box-shadow: 0 0 2px 0 #CCCCCC;
      }

      #categories .navbar-brand {
        font-size: 22px;
      }

      #categories .category a { 
        color: #F14444; 
      }

      #categories .category { 
        color: #F14444; 
        border-style: solid;
        border-width: 0 0 2px 0;
        border-color: #FAFAFA;
        padding: 7px 0;
        transition: border 0.2s;
      }

      #categories .category:hover { 
        border-color: #F14444; 
      }

      #categories .category .dropdown-menu {
        display: block;
        opacity: 0;
        transition: opacity 0.2s;
      }

      #categories .category:hover .dropdown-menu {
        opacity: 1;
      }

      .dropdown-text {
        font-size: 18px;
        transition-duration: 0.2s;
      }

      /*REMOVE DROPDOWN ITEMS DECORATION*/
      .dropdown-text:hover {
        color: #FFFFFF !important;
        background-color: #F14444 !important;
      }

      .login {
        width: 250px;
        display: inline-block;
        vertical-align: top;
        font-size: 16px;
        float: right;
      }

      .login-header,
      .login p {
        margin-top: 0;
        margin-bottom: 0;
      }

      .login-header {
        background: #F14444;
        padding: 10px;
        font-size: 1.4em;
        font-weight: normal;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
      }

      .login-container {
        background: #EBEBEB;
        padding: 10px;
      }

      .login p {
        padding: 5px 12px;
      }

      .login input {
        box-sizing: border-box;
        display: block;
        width: 100%;
        border-width: 1px;
        border-style: solid;
        padding: 8px;
        outline: 0;
        font-family: inherit;
        font-size: 0.95em;
      }

      .login input[type="email"],
      .login input[type="password"] {
        background: #FFFFFF;
        border-color: #BBBBBB;
        color: #555555;
      }

      .login input[type="email"]:focus,
      .login input[type="password"]:focus {
        border-color: #888888;
      }

      .login input[type="submit"] {
        background: #F14444;
        padding: 5px;
        border-color: transparent;
        color: #FFFFFF;
        cursor: pointer;
      }

      .login input[type="submit"]:hover {
        background: #E32636;
      }

      /* Buttons' focus effect */
      .login input[type="submit"]:focus {
        border-color: #05a;
      }

    </style>


    <nav id="mainNavbar" class="navbar navbar-default">
      <img id="logo" src="logo.png">

      <div id="contacts">
        <div class="contact">
          <b>Швец Александр Иосифович</b>
          <br>
          + 111111111111, shvec@mail.ru
        </div>
        <hr>
        <div class="contact">
          <b>Иванов Иван Иванович</b>
          <br>
          + 222222222222, ivan@mail.ru
        </div>
        <hr>
        <div class="contact">
          <b>Игорев Игорь Игоревич</b>
          <br>
          + 333333333333, igor@mail.ru
        </div>
      </div>

      <div class="login">  
        <h2 class="login-header">Войти</h2>

        <form class="login-container">
          <p><input type="email" placeholder="Email"></p>
          <p><input type="password" placeholder="Пароль"></p>
          <p><input type="submit" value="Вход"></p>
        </form>
      </div>
    </nav>

    <nav id="categories" class="navbar navbar-default text-center">

      <div class="category dropdown">
        <a href="#" class="navbar-brand">О РСПП</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-text" href=""> Информация </a></li>
          <li><a class="dropdown-text" href=""> Информация </a></li>
          <li><a class="dropdown-text" href=""> Информация </a></li>
        </ul>
      </div>

      <div class="category">
        <a class="navbar-brand" href="">Сотрудничество</a>
      </div>  

      <div class="category dropdown">
        <a href="#" class="navbar-brand">Международная деятельность</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-text" href=""> Информация и еще информация</a></li>
          <li><a class="dropdown-text" href=""> Информация у меня не хватает идей</a></li>
          <li><a class="dropdown-text" href=""> Информация что писать кроме информация</a></li>
        </ul>
      </div>

      <div class="category">
        <a class="navbar-brand" href=""> Законодательство </a>
      </div>  
      <div class="category">
        <a class="navbar-brand" href=""> Аналитика </a>
      </div>  
    </nav>

    <div id="infoSlider" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#infoSlider" data-slide-to="0" class="active"></li>
        <li data-target="#infoSlider" data-slide-to="1"></li>
        <li data-target="#infoSlider" data-slide-to="2"></li>
        <li data-target="#infoSlider" data-slide-to="3"></li>
      </ol>

      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="slide-photo" src="img_chania.jpg">
        </div>

        <div class="item">
          <img class="slide-photo" src="img_chania2.jpg">
        </div>

        <div class="item">
          <img class="slide-photo" src="img_chania3.jpg">
        </div>

        <div class="item">
          <img class="slide-photo" src="img_chania4.jpg">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#infoSlider" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#infoSlider" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </body>
</html>
