<div id="pdf-page-form">
	<div class="pdf-page-title">
		<h2>Форма вступить в союз</h2>
	</div>
	<div class="pdf-page-content">
		<div class="partition-title-pdf">
			<h3>ОБЩИЕ СВЕДЕНИЯ ОБ ОРГАНИЗАЦИИ</h3>
		</div>
		<div class="pdf-page-field">
			<label for="1-1">
				Организационно-правовая форма согласно Уставу и Свидетельству о государственной регистрации юридического лица
			</label>
			<input id="1-1" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="1-2">
				Поўная назва на беларускай мове (без указання органiзацыйна-правовой формы)
			</label>
			<input id="1-2" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="1-3">
				Полное наименование на русском языке (без указания организационно-правовой формы)
			</label>
			<input id="1-3" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="1-4">
				Полное наименование на английском языке
			</label>
			<input id="1-4" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="1-5">
				Скарочаная назва на беларускай мове
			</label>
			<input id="1-5" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="1-6">
				Краткое наименование на русском языке
			</label>
			<input id="1-6" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="1-7">
				Краткое наименование на английском языке
			</label>
			<input id="1-7" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="1-8">
				Регистрационный номер (в ЕГР)
			</label>
			<input id="1-8" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="1-9">
				Дата присвоения ЕГР/УНП
			</label>
			<input id="1-9" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="1-10">
				Фактический адрес (место нахождения) организации
			</label>
			<input id="1-10" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="mail-index-pdf">
				Почтовый индекс
			</label>
			<input id="mail-index-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="region-rb-pdf">
				Область Республики Беларусь
			</label>
			<input id="region-rb-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="district-rb-pdf">
				Район
			</label>
			<input id="district-rb-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="city-pdf">
				Город (населенный пункт)
			</label>
			<input id="city-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="street-pdf">
				Улица (проспект, переулок и т.д.)
			</label>
			<input id="street-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="house-number-pdf">
				Номер дома (владение)
			</label>
			<input id="house-number-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="corpus-pdf">
				Корпус (строение)
			</label>
			<input id="corpus-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="office-pdf">
				Офис (квартира)
			</label>
			<input id="office-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="1-11">
				Интернет сайт Организации
			</label>
			<input id="1-11" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="1-12">
				Среднесписочная численность сотрудников непосредственно в Организации (чел.) без филиалов, представительств и дочерних предприятий / обществ
			</label>
			<input id="1-12" class="pdf-page-input" type="text">
		</div>
		<div class="partition-title-pdf">
			<h3>
				II ОБЩИЕ СВЕДЕНИЯ О ДЕЯТЕЛЬНОСТИ ОРГАНИЗАЦИИ- II (1) – для объединений юридических лиц и/или индивидуальных предпринимателей, члене РСПП II (2) - для коммерческих и иных организаций
			</h3>
		</div>
		<div class="partition-title-pdf">
			<h3>
				II (1) ОБЩИЕ СВЕДЕНИЯ О ДЕЯТЕЛЬНОСТИ ОБЪЕДИНЕНИЯ юридических лиц и/или индивидуальных предпринимателей
			</h3>
		</div>
		<div class="partition-subtitle-pdf">
			<h3>
				Число членов объединения
			</h3>
		</div>
		<div class="pdf-page-field">
			<label for="total-pdf">Всего</label>
			<input id="total-pdf" class="pdf-page-input" type="number">
			<label for="legal-faces-pdf">Юридических лиц</label>
			<input id="legal-faces-pdf" class="pdf-page-input" type="number">
			<label for="ip-businessman">Индивидуальных предпринимателей</label>
			<input id="ip-businessman" class="pdf-page-input" type="number">
		</div>
		<div class="pdf-page-field">
			<label for="2-1-2">
				Среднесписочная численность персонала с учетом филиалов, представительств, дочерних предприятий/обществ (чел.) Указывается общая численность персонала в организациях – членах объединения
			</label>
			<input id="2-1-2" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="2-1-3">
				Объем реализованной продукции (товаров, услуг) членами объединения (тыс.руб.) Указывается объем реализованной продукции (товаров и услуг) всех членов объединения за последний отчетный год.
			</label>
			<input id="2-1-3" class="pdf-page-input" type="text">
		</div>
		<div class="partition-title-pdf">
			<h3>
				II (2) ОБЩИЕ СВЕДЕНИЯ О ДЕЯТЕЛЬНОСТИ КОММЕРЧЕСКОЙ (ИНОЙ) ОРГАНИЗАЦИИ
			</h3>
		</div>
		<div class="pdf-page-field">
			<label for="2-2-1">
				Общее число удаленных подразделений (филиалов, представительств) и дочерних предприятий/обществ (указать количество)
			</label>
			<input id="2-2-1" class="pdf-page-input" type="number">
		</div>
		<div class="pdf-page-field">
			<label for="2-2-2">
				Среднесписочная численность персонала, включая филиалы, представительства и дочерние предприятия/общества (чел.) Указывается общая численность персонала в организациях
			</label>
			<input id="2-2-2" class="pdf-page-input" type="number">
		</div>
		<div class="pdf-page-field">
			<label for="2-2-3">
				Объем реализованной продукции (товаров, услуг) тыс.руб. Указывается объем реализованной продукции (товаров и услуг) всех коммерческой организации за последний отчетный год.
			</label>
			<input id="2-2-3" class="pdf-page-input" type="number">
		</div>
		<div class="partition-subtitle-pdf">
			<h3>
				Сведения об основных видах экономической деятельности организации – члене РСПП (ОКЭД) (отметить)
			</h3>
		</div>
		<!-- <table class="table-pdf"> -->
			<thead>
				<tr class="table-title-pdf">
					<td colspan="2">Наименование вида деятельности</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						<label for="test">Сельское хозяйство, охота (01)</label><input type="checkbox"></td>
					<td>
						<label for="test">Лесное хозяйство (02)</label><input type="checkbox"></td>
				</tr>
				<tr>
					<td>
						<label for="test">Рыболовство, рыбоводство (05)</label><input type="checkbox"></td>
					<td>
						<label for="test">Добыча торфа, других полезных ископаемых (10-11)</label><input type="checkbox"></td>
				</tr>
				<tr>
					<td>
						<label for="test">Прочие отрасли горно-добывающей промышленности (14)</label><input type="checkbox"></td>
					<td>
						<label for="test">Производство пищевых продуктов, включая напитки, и табака (15-16)</label><input type="checkbox"></td>
				</tr>
				<tr>
					<td>
						<label for="test">Текстильное производство, производство одежды (17-18)</label><input type="checkbox"></td>
					<td>
						<label for="test">Производство кожи, изделий из кожи и производство обуви (19)</label><input type="checkbox"></td>
				</tr>
				<tr>
					<td>
						<label for="test">Обработка древесины и производство изделий из дерева (20)</label><input type="checkbox"></td>
					<td>
						<label for="test">Целлюлозно- бумажное производство (21)</label><input type="checkbox"></td>
				</tr>
				<tr>
					<td>
						<label for="test">Издательская и полиграфическая деятельность (22)</label><input type="checkbox"></td>
					<td>
						<label for="test">Производство кокса, нефтепродуктов и ядерных материалов (23)</label><input type="checkbox"></td>
				</tr>
				<tr>
					<td>
						<label for="test">Химическое производство (24)</label><input type="checkbox"></td>
					<td>
						<label for="test">Производство резиновых и пластмассовых изделий (25)</label><input type="checkbox"></td>
				</tr>
				<tr>
					<td>
						<label for="test">Производство прочих неметаллических минеральных продуктов (26)</label><input type="checkbox"></td>
					<td>
						<label for="test">Металлургическое производство и производство готовых металлических изделий (27-28)</label><input type="checkbox"></td>
				</tr>
				<tr>
					<td>
						<label for="test">Производство машин и оборудования (29)</label><input type="checkbox"></td>
					<td>
						<label for="test">Производство электрооборудования, электронного и оптического оборудования (30-33)</label><input type="checkbox"></td>
				</tr>
				<tr>
					<td>
						<label for="test">Производство транспортных средств и оборудования (34-35)</label><input type="checkbox"></td>
					<td>
						<label for="test">Производство мебели и прочие производства (36)</label><input type="checkbox"></td>
				</tr>
				<tr>
					<td>
						<label for="test">Обработка вторичного сырья (37)</label><input type="checkbox"></td>
					<td>
						<label for="test">Производство и распределение электроэнергии, газа, пара и горячей воды (40-41)</label><input type="checkbox"></td>
				</tr>
				<tr>
					<td>
						<label for="test">Строительство (45)</label><input type="checkbox"></td>
					<td>
						<label for="test">Торговля автомобилями и мотоциклами, их техобслуживание, ремонт (50)</label><input type="checkbox"></td>
				</tr>
				<tr>
					<td>
						<label for="test">Розничная и оптовая торговля (кроме автомобилей и мотоциклов); ремонт бытовых изделий и предметов личного пользования (51-52)</label><input type="checkbox"></td>
					<td>
						<label for="test">Гостиницы и рестораны (55)</label><input type="checkbox"></td>
				</tr>
				<tr>
					<td>
						<label for="test">Транспорт и связь (60-64)</label><input type="checkbox"></td>
					<td>
						<label for="test">Финансовая деятельность (65-67)</label><input type="checkbox"></td>
				</tr>
				<tr>
					<td>
						<label for="test">Операции с недвижимым имуществом, аренда и предоставление услуг (70-74)</label><input type="checkbox"></td>
					<td>
						<label for="test">Государственное управление и обеспечение военной безопасности; обязательное социальное обеспечение (75)</label><input type="checkbox"></td>
				</tr>
				<tr>
					<td>
						<label for="test">Образование (80)</label><input type="checkbox"></td>
					<td>
						<label for="test">Здравоохранение и предоставление социальных услуг (85)</label><input type="checkbox"></td>
				</tr>
				<tr>
					<td>
						<label for="test">Предоставление прочих коммунальных, социальных и персональных услуг (90-93)</label><input type="checkbox"></td>
					<td>
						<label for="test">Предоставление услуг по ведению домашнего хозяйства, деятельность домашних хозяйств (95-97)</label><input type="checkbox"></td>
				</tr>
			</tbody>
		</table>
		<div class="partition-title-pdf">
			<h3>
				IV СВЕДЕНИЯ О КОНТАКТНЫХ ЛИЦАХ
			</h3>
		</div>
		<div class="partition-subtitle-pdf">
			<h3>
				Руководитель организации (лицо, имеющее право действовать от имени юридического лица без доверенности)
			</h3>
		</div>
		<div class="pdf-page-field">
			<label for="lastname-organization-pdf">
				Фамилия
			</label>
			<input id="lastname-organization-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="firstname-organization-pdf">
				Имя
			</label>
			<input id="firstname-organization-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="patronymic-organization-pdf">
				Отчество
			</label>
			<input id="patronymic-organization-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="position-organization-pdf">
				Должность в объединении (предприятии, организации)
			</label>
			<input id="position-organization-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="main-workplace-organization-pdf">
				Основное место работы, должность
			</label>
			<input id="main-workplace-organization-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="telephone-organization-pdf">
				Телефон (региональный код)
			</label>
			<input id="telephone-organization-pdf" class="pdf-page-input" type="text">
			<label for="fax-organization-pdf">
				Факс
			</label>
			<input id="fax-organization-pdf" class="pdf-page-input" type="text">
			<label for="email-organization-pdf">
				Электронная почта
			</label>
			<input id="email-organization-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="partition-subtitle-pdf">
			<h3>
				Руководитель, ответственный за связь с РСПП
			</h3>
		</div>
		<div class="pdf-page-field">
			<label for="lastname-connection-rspp-pdf">
				Фамилия
			</label>
			<input id="lastname-connection-rspp-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="firstname-connection-rspp-pdf">
				Имя
			</label>
			<input id="firstname-connection-rspp-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="patronymic-connection-rspp-pdf">
				Отчество
			</label>
			<input id="patronymic-connection-rspp-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="position-connection-rspp-pdf">
				Должность в объединении (предприятии, организации)
			</label>
			<input id="position-connection-rspp-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="main-workplace-connection-rspp-pdf">
				Основное место работы, должность
			</label>
			<input id="main-workplace-connection-rspp-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="telephone-connection-rspp-pdf">
				Телефон (региональный код)
			</label>
			<input id="telephone-connection-rspp-pdf" class="pdf-page-input" type="text">
			<label for="fax-connection-rspp-pdf">
				Факс
			</label>
			<input id="fax-connection-rspp-pdf" class="pdf-page-input" type="text">
			<label for="email-connection-rspp-pdf">
				Электронная почта
			</label>
			<input id="email-connection-rspp-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="partition-subtitle-pdf">
			<h3>
				Контактное лицо
			</h3>
		</div>
		<div class="pdf-page-field">
			<label for="lastname-contact-face-pdf">
				Фамилия
			</label>
			<input id="lastname-contact-face-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="firstname-contact-face-pdf">
				Имя
			</label>
			<input id="firstname-contact-face-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="patronymic-contact-face-pdf">
				Отчество
			</label>
			<input id="patronymic-contact-face-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="position-contact-face-pdf">
				Должность в объединении (предприятии, организации)
			</label>
			<input id="position-contact-face-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="main-workplace-contact-face-pdf">
				Основное место работы, должность
			</label>
			<input id="main-workplace-contact-face-pdf" class="pdf-page-input" type="text">
		</div>
		<div class="pdf-page-field">
			<label for="telephone-contact-face-pdf">
				Телефон (региональный код)
			</label>
			<input id="telephone-contact-face-pdf" class="pdf-page-input" type="text">
			<label for="fax-contact-face-pdf">
				Факс
			</label>
			<input id="fax-contact-face-pdf" class="pdf-page-input" type="text">
			<label for="email-contact-face-pdf">
				Электронная почта
			</label>
			<input id="email-contact-face-pdf" class="pdf-page-input" type="text">
		</div>
	</div>
</div>
<button class="create-pdf">PDF</button>
