<div class="container-fluid form-page">
	<%= render 'home/back' %>
	<div id="pdf-page-form" class="form-container">
		<div class="pdf-page-title form-group row">
			<h2>Форма вступить в союз</h2>
		</div>
		<div class="pdf-page-content">
			<%= render 'join-rspp/common_info_1' %>
			<%= render 'join-rspp/common_info_2' %>
			<%= render 'join-rspp/contact_faces_info' %>
		</div>
	</div>
</div>
