

<div class="print-page">
	<div class="print-container">
		<div class="registration-card">
			<div class="registration-card-header">
				<h2 class="registration-card-header-title">
					РЕГИСТРАЦИОННАЯ КАРТА
					<p>
						члена Республиканского союза промышленников и предпринимателей
					</p>
				</h2>
			</div>
			<div class="registration-card-content">

				<table class="registration-card-content-table">
					<tr class="registration-card-content-table-title">
						<td colspan="2">ОБЩИЕ СВЕДЕНИЯ ОБ ОРГАНИЗАЦИИ</td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>1. Организационно-правовая форма</strong>
							согласно Уставу и Свидетельству о государственной регистрации юридического лица
						</td>
						<td class="column-value"><div type="text" class="registration-card-input">%INS-id-11%</div></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>2. Поўная назва на беларускай мове</strong>
							(без указання органiзацыйна-правовой формы)
						</td>
						<td class="column-value"><div type="text" class="registration-card-input">%INS-id-12%</div></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>
								3. Полное наименование на русском языке
							</strong>
							(без указания организационно-правовой формы)
						</td>
						<td class="column-value"><div type="text" class="registration-card-input">%INS-id-13%</div></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>
								4. Полное наименование на английском языке
							</strong>
						</td>
						<td class="column-value"><div type="text" class="registration-card-input">%INS-id-14%</div></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>5. Скарочаная назва на беларускай мове</strong>
						</td>
						<td class="column-value"><div type="text" class="registration-card-input">%INS-id-15%</div></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>6. Краткое наименование на русском языке
							</strong>
						</td>
						<td class="column-value"><div type="text" class="registration-card-input">%INS-id-16%</div></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>7. Краткое наименование на английском языке</strong>
						</td>
						<td class="column-value"><div type="text" class="registration-card-input">%INS-id-17%</div></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>8. Регистрационный номер (в ЕГР)</strong>
						</td>
						<td class="column-value"><div type="text" class="registration-card-input">%INS-id-18%</div></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>9. Дата присвоения ЕГР/УНП</strong>
						</td>
						<td class="column-value"><div type="text" class="registration-card-input">%INS-id-19%</div></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>10. Фактический адрес (место нахождения) организации</strong>
						</td>
						<td class="column-value"><div type="text" class="registration-card-input"></div></td>
					</tr>
					<tr>
						<td class="column-name">
							Почтовый индекс
						</td>
						<td class="column-value"><div type="text" class="registration-card-input">%INS-id-mail-index-pdf%</div></td>
					</tr>
					<tr>
						<td class="column-name">
							Область Республики Беларусь
						</td>
						<td class="column-value"><div type="text" class="registration-card-input">%INS-id-region-rb-pdf%</div></td>
					</tr>
					<tr>
						<td class="column-name">
							Район
						</td>
						<td class="column-value"><div type="text" class="registration-card-input">%INS-id-district-rb-pdf%</div></td>
					</tr>
					<tr>
						<td class="column-name">
							Город (населенный пункт)
						</td>
						<td class="column-value"><div type="text" class="registration-card-input">%INS-id-city-pdf%</div></td>
					</tr>
					<tr>
						<td class="column-name">
							Улица (проспект, переулок и т.д.)
						</td>
						<td class="column-value"><div type="text" class="registration-card-input">%INS-id-street-pdf%</div></td>
					</tr>
					<tr>
						<td class="column-name">
							Номер дома (владение)
						</td>
						<td class="column-value"><div type="text" class="registration-card-input">%INS-id-house-number-pdf%</div></td>
					</tr>
					<tr>
						<td class="column-name">
							Корпус (строение)
						</td>
						<td class="column-value"><div type="text" class="registration-card-input">%INS-id-corpus-pdf%</div></td>
					</tr>
					<tr>
						<td class="column-name">
							Офис (квартира)
						</td>
						<td class="column-value"><div type="text" class="registration-card-input">%INS-id-office-pdf%</div></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>11. Интернет сайт Организации</strong>
						</td>
						<td class="column-value"><div type="text" class="registration-card-input">%INS-id-111%</div></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>12. Среднесписочная численность сотрудников непосредственно в Организации (чел.) без филиалов, представительств и дочерних предприятий / обществ</strong>
						</td>
						<td class="column-value"><div type="text" class="registration-card-input">%INS-id-112%</div></td>
					</tr>
				</table>

				<table class="registration-card-content-table">
					<tr class="registration-card-content-table-title">
						<td colspan="2">ОБЩИЕ СВЕДЕНИЯ О ДЕЯТЕЛЬНОСТИ ОРГАНИЗАЦИИ-ЧЛЕНЕ РСПП</td>
					</tr>
					<tr>
						<td class="column-name" style="width: 80%;">
							<strong>
								1. Общее число удаленных подразделений (филиалов, представительств) и дочерних предприятий/обществ
							</strong>
							(указать количество)
						</td>
						<td class="column-value" style="width: 20%;"><div type="text" class="registration-card-input">%INS-id-221%</div></td>
					</tr>
					<tr>
						<td class="column-name" style="width: 80%;">
							<strong>
								2. Среднесписочная численность персонала, включая филиалы, представительства и дочерние предприятия/общества (чел.)
							</strong>
							Указывается общая численность персонала в организациях
						</td>
						<td class="column-value" style="width: 20%;"><div type="text" class="registration-card-input">%INS-id-222%</div></td>
					</tr>
					<tr>
						<td class="column-name" style="width: 80%;">
							<strong>
								3. Объем реализованной продукции (товаров, услуг) тыс.руб
							</strong>
							Указывается объем реализованной продукции (товаров и услуг) всех коммерческой организации за последний отчетный год.
						</td>
						<td class="column-value" style="width: 20%;"><div type="text" class="registration-card-input">%INS-id-223%</div></td>
					</tr>
				</table>

				<table class="registration-card-content-table print-line_items">
					<tr class="registration-card-content-table-title">
						<td colspan="2">Сведения об основных видах экономической деятельности организации – члене РСПП (ОКЭД)</td>
					</tr>
					<tr class="registration-card-content-table-title">
						<td colspan="2">Наименование вида деятельности</td>
					</tr>
					<tr>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Сельское хозяйство, охота (01)
							</div>
							<div class="column-deals-value">
								<input id="t01" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Лесное хозяйство (02)
							</div>
							<div class="column-deals-value">
								<input id="t02" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Рыболовство, рыбоводство (05)
							</div>
							<div class="column-deals-value">
								<input id="t05" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Добыча торфа, других полезных ископаемых (10-11)
							</div>
							<div class="column-deals-value">
								<input id="t10" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Прочие отрасли горно-добывающей промышленности (14)
							</div>
							<div class="column-deals-value">
								<input id="t14" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Производство пищевых продуктов, включая напитки, и табака (15-16)
							</div>
							<div class="column-deals-value">
								<input id="t15" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Текстильное производство, производство одежды (17-18)
							</div>
							<div class="column-deals-value">
								<input id="t17" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Производство кожи, изделий из кожи и производство обуви (19)
							</div>
							<div class="column-deals-value">
								<input id="t19" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Обработка древесины и производство изделий из дерева (20)
							</div>
							<div class="column-deals-value">
								<input id="t20" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Целлюлозно- бумажное производство (21)
							</div>
							<div class="column-deals-value">
								<input id="t21" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Издательская и полиграфическая деятельность (22)
							</div>
							<div class="column-deals-value">
								<input id="t22" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Производство кокса, нефтепродуктов и ядерных материалов (23)
							</div>
							<div class="column-deals-value">
								<input id="t23" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Химическое производство (24)
							</div>
							<div class="column-deals-value">
								<input id="t24" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Производство резиновых и пластмассовых изделий (25)
							</div>
							<div class="column-deals-value">
								<input id="t25" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Производство прочих неметаллических минеральных продуктов (26)
							</div>
							<div class="column-deals-value">
								<input id="t26" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Металлургическое производство и производство готовых металлических изделий (27-28)
							</div>
							<div class="column-deals-value">
								<input id="t27" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Производство машин и оборудования (29)
							</div>
							<div class="column-deals-value">
								<input id="t29" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Производство электрооборудования, электронного и оптического оборудования (30-33)
							</div>
							<div class="column-deals-value">
								<input id="t30" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Производство транспортных средств и оборудования (34-35)
							</div>
							<div class="column-deals-value">
								<input id="t34" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Производство мебели и прочие производства (36)
							</div>
							<div class="column-deals-value">
								<input id="t36" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Обработка вторичного сырья (37)
							</div>
							<div class="column-deals-value">
								<input id="t37" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Производство и распределение электроэнергии, газа, пара и горячей воды (40-41)
							</div>
							<div class="column-deals-value">
								<input id="t40" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Строительство (45)
							</div>
							<div class="column-deals-value">
								<input id="t45" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Торговля автомобилями и мотоциклами, их техобслуживание, ремонт (50)
							</div>
							<div class="column-deals-value">
								<input id="t50" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Розничная и оптовая торговля (кроме автомобилей и мотоциклов); ремонт бытовых изделий и предметов личного пользования (51-52)
							</div>
							<div class="column-deals-value">
								<input id="t51" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal clearfix">
							<div class="column-deals-name" style="min-height: 33px;">
								Гостиницы и рестораны (55)
							</div>
							<div class="column-deals-value">
								<input id="t55" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Транспорт и связь (60-64)
							</div>
							<div class="column-deals-value">
								<input id="t60" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Финансовая деятельность (65-67)
							</div>
							<div class="column-deals-value">
								<input id="t65" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal clearfix">
							<div class="column-deals-name" style="min-height: 33px;">
								Операции с недвижимым имуществом, аренда и предоставление услуг (70-74)
							</div>
							<div class="column-deals-value">
								<input id="t70" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Государственное управление и обеспечение военной безопасности; обязательное социальное обеспечение (75)
							</div>
							<div class="column-deals-value">
								<input id="t75" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>

					<tr>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Образование (80)
							</div>
							<div class="column-deals-value">
								<input id="t80" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Здравоохранение и предоставление социальных услуг (85)
							</div>
							<div class="column-deals-value">
								<input id="t85" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Предоставление прочих коммунальных, социальных и персональных услуг (90-93)
							</div>
							<div class="column-deals-value">
								<input id="t90" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal clearfix">
							<div class="column-deals-name">
								Предоставление услуг по ведению домашнего хозяйства, деятельность домашних хозяйств (95-97)
							</div>
							<div class="column-deals-value">
								<input id="t95" type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
				</table>

				<style>
					table {
						border-spacing: 0;
						border-collapse: collapse;
					}

					.dich {
						height: 100%;
						vertical-align: top;
						text-align: center;
						font-size: 7px;
						display: inline-block;
						width: 49%;
					}

					.dich-2 {
						width: 20%;
						text-align: center;
						font-size: 7px;
						display: inline-block;
					}

				</style>

				<table class="registration-card-content-table">
					<tr class="registration-card-content-table-title">
						<td colspan="2">СВЕДЕНИЯ О КОНТАКТНЫХ ЛИЦАХ</td>
					</tr>
					<tr class="registration-card-content-table-title">
						<td colspan="2">
							<strong>Руководитель организации</strong>
							(лицо, имеющее право действовать от имени юридического лица без доверенности)
						</td>
					</tr>
					<tr>
						<td class="column-name-contacts">
							Фамилия, имя, отчество
						</td>
						<td class="column-value-contacts">
							<div class="third-part-field">
								<div type="text" class="registration-card-input">%INS-id-lastname-organization-pdf%</div>
							</div>
							<div class="third-part-field">
								<div type="text" class="registration-card-input">%INS-id-firstname-organization-pdf%</div>
							</div>
							<div class="third-part-field" style="border: none;">
								<div type="text" class="registration-card-input">%INS-id-patronymic-organization-pdf%</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="column-name-contacts">
							Должность в объединении (предприятии, организации)
						</td>
						<td class="column-value-contacts">
							<div type="text" class="registration-card-input">%INS-id-position-organization-pdf%</div>
						</td>
					</tr>
					<tr>
						<td class="column-name-contacts">
							Основное место работы, должность
						</td>
						<td class="column-value-contacts">
							<div type="text" class="registration-card-input">%INS-id-main-workplace-organization-pdf%</div>
						</td>
					</tr>
					<tr>
						<td class="column-name-contacts">
							Телефон (региональный код)
						</td>
						<td class="column-value-contacts">
							<div class="third-part-field" style="width:32%;height:100%;display:inline-block;">
								<div style="display:inline-block;height:100%; width:75%;border-right:1px solid #000000;">
									<div type="text" class="registration-card-input">%INS-id-telephone-organization-pdf%</div>
								</div>
								<div class="dich-2">
									Факс
								</div>
							</div>
							<div class="third-part-field" style="width:32%;height:100%;display:inline-block;">
								<div style="display:inline-block; height:100%;width:40%;border-right:1px solid #000000;">
									<div type="text" class="registration-card-input">%INS-id-fax-organization-pdf%</div>
								</div>
								<div class="dich">
									Электронная почта
								</div>
							</div>
							<div class="third-part-field" style="width:32%;height:100%;display:inline-block;border: none;">
								<div type="text" class="registration-card-input">%INS-id-email-organization-pdf%</div>
							</div>
						</td>
					</tr>

					<tr class="registration-card-content-table-title">
						<td colspan="2">
							<strong>Руководитель, ответственный за связь с РСПП
							</strong>
						</td>
					</tr>
					<tr>
						<td class="column-name-contacts">
							Фамилия, имя, отчество
						</td>
						<td class="column-value-contacts">
							<div class="third-part-field">
								<div type="text" class="registration-card-input">%INS-id-lastname-connection-rspp-pdf%</div>
							</div>
							<div class="third-part-field">
								<div type="text" class="registration-card-input">%INS-id-firstname-connection-rspp-pdf%</div>
							</div>
							<div class="third-part-field" style="border: none;">
								<div type="text" class="registration-card-input">%INS-id-patronymic-connection-rspp-pdf%</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="column-name-contacts">
							Должность в объединении (предприятии, организации)
						</td>
						<td class="column-value-contacts">
							<div type="text" class="registration-card-input">%INS-id-position-connection-rspp-pdf%</div>
						</td>
					</tr>
					<tr>
						<td class="column-name-contacts">
							Основное место работы, должность
						</td>
						<td class="column-value-contacts">
							<div type="text" class="registration-card-input">%INS-id-main-workplace-connection-rspp-pdf%</div>
						</td>
					</tr>
					<tr>
						<td class="column-name-contacts">
							Телефон (региональный код)
						</td>
						<td class="column-value-contacts">
							<div class="third-part-field" style="width:32%;height:100%;display:inline-block;">
								<div style="display:inline-block;height:100%; width:75%;border-right:1px solid #000000;">
									<div type="text" class="registration-card-input">%INS-id-telephone-connection-rspp-pdf%</div>
								</div>
								<div class="dich-2">
									Факс
								</div>
							</div>
							<div class="third-part-field" style="width:32%;height:100%;display:inline-block;">
								<div style="display:inline-block; height:100%;width:40%;border-right:1px solid #000000;">
									<div type="text" class="registration-card-input">%INS-id-fax-connection-rspp-pdf%</div>
								</div>
								<div class="dich">
									Электронная почта
								</div>
							</div>
							<div class="third-part-field" style="width:32%;height:100%;display:inline-block;border: none;">
								<div type="text" class="registration-card-input">%INS-id-email-connection-rspp-pdf%</div>
							</div>
						</td>
					</tr>

					<tr class="registration-card-content-table-title">
						<td colspan="2">
							<strong>Контактное лицо</strong>
						</td>
					</tr>
					<tr>
						<td class="column-name-contacts">
							Фамилия, имя, отчество
						</td>
						<td class="column-value-contacts">
							<div class="third-part-field">
								<div type="text" class="registration-card-input">%INS-id-lastname-contact-face-pdf%</div>
							</div>
							<div class="third-part-field">
								<div type="text" class="registration-card-input">%INS-id-firstname-contact-face-pdf%</div>
							</div>
							<div class="third-part-field" style="border: none;">
								<div type="text" class="registration-card-input">%INS-id-patronymic-contact-face-pdf%</div>
							</div>
						</td>
					</tr>
					<tr>
						<td class="column-name-contacts">
							Должность в объединении (предприятии, организации)
						</td>
						<td class="column-value-contacts">
							<div type="text" class="registration-card-input">%INS-id-position-contact-face-pdf%</div>
						</td>
					</tr>
					<tr>
						<td class="column-name-contacts">
							Основное место работы, должность
						</td>
						<td class="column-value-contacts">
							<div type="text" class="registration-card-input">%INS-id-main-workplace-contact-face-pdf%</div>
						</td>
					</tr>
					<tr>
						<td class="column-name-contacts">
							Телефон (региональный код)
						</td>
						<td class="column-value-contacts">
							<div class="third-part-field" style="width:32%;height:100%;display:inline-block;">
								<div style="display:inline-block;height:100%; width:75%;border-right:1px solid #000000;">
									<div type="text" class="registration-card-input">%INS-id-telephone-contact-face-pdf%</div>
								</div>
								<div class="dich-2">
									Факс
								</div>
							</div>
							<div class="third-part-field" style="width:32%;height:100%;display:inline-block;">
								<div style="display:inline-block; height:100%;width:40%;border-right:1px solid #000000;">
									<div type="text" class="registration-card-input">%INS-id-fax-contact-face-pdf%</div>
								</div>
								<div class="dich">
									Электронная почта
								</div>
							</div>
							<div class="third-part-field" style="width:32%;height:100%;display:inline-block;border: none;">
								<div type="text" class="registration-card-input">%INS-id-email-contact-face-pdf%</div>
							</div>
						</td>
					</tr>
				</table>

			</div>

			<div class="registration-card-footer">
				<div>
					<p>
						<span>Подпись руководителя:</span>
						<span style="padding-left:10%;">/</span>
						<span style="padding-left:18%;">/</span>
					</p>
					<p>
						<span>Дата, печать</span>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>










<style>
.print-page {
	min-height: 100%;
	background-color: #ffffff !important;
	width: 100%;
}

.print-container {
	min-height: 100%;
	width: 80%;
	margin: auto;
	padding: 0;
	background-color: #ffffff !important;
}

.print-line_items {
	page-break-before: always;
}



.registration-card {
	font-size: 10px;
}

.registration-card-header-title {
	text-align: center;
	font-weight: bold;
	font-size: 1.2rem;
	font-family: "Arial";
}

.registration-card-header p {
	padding: 5px 0;
}

.registration-card-content td {
		border: 1px solid #000000;
}

.registration-card-content-table {
	margin: auto;
	width: 100%;
	font-style: "Arial";
	font-size: 9px;
	border: 0.25px solid #000000;
}

.registration-card-content-table-title {
	font-weight: bold;
}

.registration-card-content-table-title td {
	box-sizing: border-box;
	border: 0.25px solid #0000000;
	padding: 5px;
}

.registration-card-content-table {

}

.registration-card-content-table .column-name {
	width: 45%;
	box-sizing: border-box;
	padding: 5px 2px;
}

.registration-card-content-table .column-name-contacts {
	box-sizing: border-box;
	padding: 5px 2px;
	width: 25%;
}

.registration-card-content-table .column-value {
	width: 55%;
	box-sizing: border-box;
	padding: 1px;
}

.registration-card-content-table .column-value-contacts {
	width: 75%;
	font-size: 7px;
	height: 100%;
	box-sizing: border-box;
	padding: 1px;
}

.registration-card-content-table .column-value-contacts .third-part-field {
	border-right: 1px solid #000000;
}

.registration-card-content-table .dich {
	height: 100%;
	vertical-align: top;
	text-align: center;
	font-size: 7px;
	display: inline-block;
	width: 49%;
}

.registration-card-content-table .third-part-field {
	width: 32%;
	height: 100%;
	display: inline-block;
}

.registration-card-content-table .--wider {
	width: 80%;
}

.registration-card-content-table .--thinner {
	width: 20%;
}

.registration-card-content-table .--equal {
	width: 50%;
}

.registration-card-content-table .registration-card-input {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: 0 3px;
	border: 0;
	outline: none;
	font-size: 9px;
}

.registration-card-content-table .column-deals-name {
	min-height: 22px;
	width: 87%;
	font-size: 8px;
	box-sizing: border-box;
	border-right: 1px solid #000000;
	padding: 0 2px;
	float: left;
}

.registration-card-content-table .column-deals-value {
	width: 13%;
	min-height: 22px;
	text-align: center;
	position: relative;
	float: right;
	margin: 0;
}

.registration-card-content-table .column-deals-value label {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	position: absolute;
	cursor: pointer;
}

.registration-card-content-table .column-deals-value label:after {
	opacity: 0;
	content: '';
	position: absolute;
	width: 15px;
	height: 6px;
	background: transparent;
	top: 5%;
	left: 52%;
	border: 2px solid #000000;
	border-top: none;
	border-right: none;
	-webkit-transform: rotate(-45deg) translate(-50%, -50%);
	-moz-transform: rotate(-45deg) translate(-50%, -50%);
	-ms-transform: rotate(-45deg) translate(-50%, -50%);
	transform: rotate(-45deg) translate(-50%, -50%);
}


.registration-card-content-table .column-deals-value input[type=checkbox] {
	visibility: hidden;
}

.registration-card-content-table .column-deals-value input[type=checkbox]:checked + label:after {
	opacity: 1;
}

.registration-card-footer {
	text-align: left;
}

.registration-card-footer div {
	margin-left: 15%;
}

.registration-card-footer div p {
	font-weight: bold;
	font-size: 9px;
	margin: 15px 0 0;
}


</style>
