<div class="print-container">

	<p align="center">
		<strong>РЕГИСТРАЦИОННАЯ КАРТА
		</strong>
	</p>
	<p align="center">
		<strong>
			члена Республиканского союза промышленников и предпринимателей
		</strong>
	</p>
	<table width="690" cellpadding="7" cellspacing="1">
		<colgroup>
			<col width="4358"/>
		</colgroup>
		<colgroup>
			<col width="69"/>
		</colgroup>
		<colgroup>
			<col width="9"/>
			<col width="6"/>
		</colgroup>
		<colgroup>
			<col width="126"/>
		</colgroup>
		<colgroup>
			<col width="4359"/>
		</colgroup>
		<colgroup>
			<col width="4355"/>
		</colgroup>
		<colgroup>
			<col width="26"/>
		</colgroup>
		<colgroup>
			<col width="4368"/>
		</colgroup>
		<colgroup>
			<col width="4366"/>
		</colgroup>
		<colgroup>
			<col width="5"/>
		</colgroup>
		<colgroup>
			<col width="1"/>
		</colgroup>
		<colgroup>
			<col width="16"/>
		</colgroup>
		<colgroup>
			<col width="4362"/>
		</colgroup>
		<colgroup>
			<col width="4360"/>
		</colgroup>
		<colgroup>
			<col width="17"/>
		</colgroup>
		<colgroup>
			<col width="4368"/>
		</colgroup>
		<colgroup>
			<col width="17"/>
		</colgroup>
		<colgroup>
			<col width="1"/>
		</colgroup>
		<colgroup>
			<col width="4357"/>
		</colgroup>
		<colgroup>
			<col width="13"/>
		</colgroup>
		<colgroup>
			<col width="8"/>
		</colgroup>
		<colgroup>
			<col width="9"/>
		</colgroup>
		<colgroup>
			<col width="11"/>
		</colgroup>
		<colgroup>
			<col width="4364"/>
		</colgroup>
		<colgroup>
			<col width="4355"/>
		</colgroup>
		<colgroup>
			<col width="39"/>
		</colgroup>
		<tbody>
			<tr>
				<td width="4358" height="12" valign="top"></td>
				<td colspan="26" width="669">
					<p>
						<strong>I</strong>
						<strong>
							ОБЩИЕ СВЕДЕНИЯ ОБ ОРГАНИЗАЦИИ</strong>
					</p>
				</td>
			</tr>
			<tr>
				<td width="4358" height="14" valign="top"></td>
				<td colspan="4" width="255">
					<ol>
						<li>
							<p>
								<strong>Организационно-правовая форма
								</strong>
								согласно
								<em>
									Уставу и Свидетельству о государственной регистрации юридического лица
								</em>
							</p>
						</li>
					</ol>
				</td>
				<td colspan="22" width="399"></td>
			</tr>
			<tr>
				<td width="4358" height="17" valign="top"></td>
				<td colspan="4" width="255">
					<ol start="2">
						<li>
							<p>
								<strong>По</strong>
								<strong>ўная назва</strong>
								<strong>
									на беларускай мове
								</strong>
								<em>(без указання орган</em>
								<em>i</em>
								<em>зацыйна-правовой формы)</em>
							</p>
						</li>
					</ol>
				</td>
				<td colspan="22" width="399"></td>
			</tr>
			<tr>
				<td width="4358" height="17" valign="top"></td>
				<td colspan="4" width="255">
					<ol start="3">
						<li>
							<p>
								<strong>
									Полное наименование на русском языке
								</strong>
								<em>
									(без указания организационно-правовой формы)
								</em>
							</p>
						</li>
					</ol>
				</td>
				<td colspan="22" width="399"></td>
			</tr>
			<tr>
				<td width="4358" height="8" valign="top"></td>
				<td colspan="4" width="255">
					<ol start="4">
						<li>
							<p>
								<strong>
									Полное наименование на английском языке
								</strong>
							</p>
						</li>
					</ol>
				</td>
				<td colspan="22" width="399"></td>
			</tr>
			<tr>
				<td width="4358" height="7" valign="top"></td>
				<td colspan="4" width="255">
					<ol start="5">
						<li>
							<p>
								<strong>Скарочаная</strong>
								<strong>
									назва</strong>
								<strong>
									на беларускай мове</strong>
							</p>
						</li>
					</ol>
				</td>
				<td colspan="22" width="399" valign="top"></td>
			</tr>
			<tr>
				<td width="4358" height="7" valign="top"></td>
				<td colspan="4" width="255">
					<ol start="6">
						<li>
							<p>
								<strong>
									Краткое наименование на русском языке
								</strong>
							</p>
						</li>
					</ol>
				</td>
				<td colspan="22" width="399" valign="top"></td>
			</tr>
			<tr>
				<td width="4358" height="9" valign="top"></td>
				<td colspan="4" width="255">
					<ol start="7">
						<li>
							<p>
								<strong>
									Краткое наименование на английском языке
								</strong>
							</p>
						</li>
					</ol>
				</td>
				<td colspan="22" width="399" valign="top"></td>
			</tr>
			<tr>
				<td width="4358" valign="top"></td>
				<td colspan="4" width="255">
					<ol start="8">
						<li>
							<p>
								<strong>Регистрационный номер (в ЕГР)</strong>
							</p>
						</li>
					</ol>
				</td>
				<td colspan="3" width="31"></td>
				<td colspan="3" width="31"></td>
				<td colspan="2" width="31"></td>
				<td colspan="3" width="31"></td>
				<td colspan="2" width="31"></td>
				<td colspan="3" width="31"></td>
				<td colspan="2" width="31"></td>
				<td colspan="3" width="22"></td>
				<td width="39"></td>
			</tr>
			<tr>
				<td width="4358" height="9" valign="top"></td>
				<td colspan="4" width="255">
					<ol start="9">
						<li>
							<p>
								<strong>Дата присвоения ЕГР/УНП</strong>
							</p>
						</li>
					</ol>
				</td>
				<td colspan="22" width="399" valign="top"></td>
			</tr>
			<tr>
				<td width="4358" height="8" valign="top"></td>
				<td colspan="26" width="669">
					<ol start="10">
						<li>
							<p>
								<strong>
									Фактический адрес (место нахождения) организации
								</strong>
							</p>
						</li>
					</ol>
				</td>
			</tr>
			<tr>
				<td width="4358" height="8" valign="top"></td>
				<td colspan="2" width="93">
					<p>
						Почтовый индекс
					</p>
				</td>
				<td colspan="4" width="152"></td>
				<td colspan="2" width="40"></td>
				<td colspan="3" width="32"></td>
				<td colspan="3" width="30"></td>
				<td colspan="2" width="31"></td>
				<td colspan="2" width="32"></td>
				<td colspan="3" width="39"></td>
				<td colspan="5" width="99"></td>
			</tr>
			<tr>
				<td width="4358" height="4" valign="top"></td>
				<td colspan="5" width="259">
					<p>
						Область Республики Беларусь
					</p>
				</td>
				<td colspan="21" width="394"></td>
			</tr>
			<tr>
				<td width="4358" height="11" valign="top"></td>
				<td colspan="5" width="259">
					<p>
						Район
					</p>
				</td>
				<td colspan="21" width="394"></td>
			</tr>
			<tr>
				<td width="4358" height="8" valign="top"></td>
				<td colspan="5" width="259">
					<p>
						Город (населенный пункт)
					</p>
				</td>
				<td colspan="21" width="394"></td>
			</tr>
			<tr>
				<td width="4358" height="8" valign="top"></td>
				<td colspan="5" width="259">
					<p>
						Улица (проспект, переулок и т.д.)
					</p>
				</td>
				<td colspan="21" width="394"></td>
			</tr>
			<tr>
				<td width="4358" height="8" valign="top"></td>
				<td colspan="5" width="259">
					<p>
						Номер дома (владение)
					</p>
				</td>
				<td colspan="21" width="394"></td>
			</tr>
			<tr>
				<td width="4358" height="7" valign="top"></td>
				<td colspan="5" width="259">
					<p>
						Корпус (строение)
					</p>
				</td>
				<td colspan="21" width="394"></td>
			</tr>
			<tr>
				<td width="4358" height="7" valign="top"></td>
				<td colspan="5" width="259">
					<p>
						Офис (квартира)
					</p>
				</td>
				<td colspan="21" width="394"></td>
			</tr>
			<tr>
				<td width="4358" height="7" valign="top"></td>
				<td colspan="5" width="259">
					<p>
						<strong>11. Интернет сайт Организации</strong>
					</p>
				</td>
				<td colspan="21" width="394"></td>
			</tr>
			<tr>
				<td width="4358" height="7" valign="top"></td>
				<td colspan="5" width="259">
					<p>
						<strong>
							12. Среднесписочная численность сотрудников непосредственно в Организации (чел.)
						</strong>
						без филиалов, представительств и дочерних предприятий / обществ
						<a name="sdfootnote1anc" href="#sdfootnote1sym">
							<sup>1</sup>
						</a>
					</p>
				</td>
				<td colspan="21" width="394"></td>
			</tr>
			<tr>
				<td width="4358" height="25" valign="top"></td>
				<td colspan="26" width="669">
					<p>
						<strong>II</strong>
						<strong></strong>
						<strong>
							ОБЩИЕ СВЕДЕНИЯ О ДЕЯТЕЛЬНОСТИ ОРГАНИЗАЦИИ-
						</strong>
						II (1) – для объединений юридических лиц и/или индивидуальных предпринимателей,
					</p>
					<p>
						<strong>члене РСПП
						</strong>
						II (2) - для коммерческих и иных организаций
					</p>
				</td>
			</tr>
			<tr>
				<td width="4358" valign="top"></td>
				<td colspan="26" width="669"></td>
			</tr>
			<tr>
				<td width="4358" height="3" valign="top"></td>
				<td colspan="26" width="669">
					<p>
						<strong>II</strong>
						<strong>
							(1) ОБЩИЕ СВЕДЕНИЯ О ДЕЯТЕЛЬНОСТИ ОБЪЕДИНЕНИЯ
						</strong>
						юридических лиц и/или индивидуальных предпринимателей
					</p>
				</td>
			</tr>
			<tr>
				<td width="4358" height="9" valign="top"></td>
				<td colspan="26" width="669">
					<p>
						<strong>1.Число членов объединения</strong>
					</p>
				</td>
			</tr>
			<tr>
				<td width="4358" height="8" valign="top"></td>
				<td width="69">
					<p>
						Всего
					</p>
				</td>
				<td colspan="2" width="30"></td>
				<td colspan="6" width="199">
					<p>
						Юридических лиц
					</p>
				</td>
				<td colspan="4" width="59"></td>
				<td colspan="10" width="188">
					<p>
						Индивидуальных предпринимателей
					</p>
				</td>
				<td colspan="3" width="49" valign="top"></td>
			</tr>
			<tr>
				<td width="4358" height="19" valign="top"></td>
				<td colspan="23" width="604">
					<p>
						<strong>
							2. Среднесписочная численность персонала с учетом филиалов, представительств, дочерних предприятий/обществ (чел.)
						</strong>
						<em>Указывается
						</em>
						<strong></strong>
						<em>общая</em>
						<strong></strong>
						<em>
							численность персонала в организациях – членах объединения
						</em>
					</p>
				</td>
				<td colspan="3" width="49"></td>
			</tr>
			<tr>
				<td width="4358" height="26" valign="top"></td>
				<td colspan="23" width="604">
					<p>
						<strong>
							3. Объем реализованной продукции (товаров, услуг) членами объединения (тыс.руб.)
						</strong>
					</p>
					<p>
						<em>
							Указывается объем реализованной продукции (товаров и услуг) всех членов объединения за последний отчетный год.
						</em>
					</p>
				</td>
				<td colspan="3" width="49"></td>
			</tr>
			<tr>
				<td width="4358" valign="top"></td>
				<td colspan="23" width="604"></td>
				<td colspan="3" width="49"></td>
			</tr>
			<tr>
				<td width="4358" height="3" valign="top"></td>
				<td colspan="26" width="669">
					<p>
						<strong>II</strong>
						<strong>
							(2) ОБЩИЕ СВЕДЕНИЯ О ДЕЯТЕЛЬНОСТИ КОММЕРЧЕСКОЙ (ИНОЙ) ОРГАНИЗАЦИИ
						</strong>
						<em></em>
					</p>
				</td>
			</tr>
			<tr>
				<td width="4358" height="19" valign="top"></td>
				<td colspan="19" width="504">
					<p>
						<strong>
							1. Общее число удаленных подразделений (филиалов, представительств) и дочерних предприятий/обществ
						</strong>
						<em>(указать количество)</em>
					</p>
				</td>
				<td colspan="7" width="150"></td>
			</tr>
			<tr>
				<td width="4358" height="20" valign="top"></td>
				<td colspan="19" width="504">
					<p>
						<strong>
							2. Среднесписочная численность персонала, включая филиалы, представительства и дочерние предприятия/общества (чел.)
						</strong>
						<em>
							Указывается
						</em>
						<strong></strong>
						<em>общая</em>
						<strong></strong>
						<em>численность персонала в организациях</em>
						<sup></sup>
					</p>
				</td>
				<td colspan="7" width="150"></td>
			</tr>
			<tr>
				<td width="4358" height="22" valign="top"></td>
				<td colspan="19" width="504">
					<p>
						<strong>
							3. Объем реализованной продукции (товаров, услуг) тыс.руб.
						</strong>
						<em>
							Указывается объем реализованной продукции (товаров и услуг) всех коммерческой организации за последний отчетный год.
						</em>
					</p>
				</td>
				<td colspan="7" width="150"></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="27" width="673" height="20">
					<p>
						<strong>4</strong>
						.<strong>Сведения об
						</strong>
						<em>
							<u>
								<strong>основных</strong>
							</u>
						</em>
						<u>
							<strong></strong>
						</u>
						<strong>
							видах экономической деятельности организации – члене РСПП (ОКЭД)
						</strong>
						(отметить<strong></strong>)
					</p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="9" width="319" height="3">
					<p align="center">
						<strong>Наименование вида деятельности</strong>
					</p>
				</td>
				<td colspan="18" width="339">
					<p align="center">
						<strong>Наименование вида деятельности</strong>
					</p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td colspan="5" width="259" height="3">
					<p>
						Сельское хозяйство, охота (01)
					</p>
				</td>
				<td colspan="4" width="45"></td>
				<td colspan="16" width="284">
					<p>
						Лесное хозяйство (02)
					</p>
				</td>
				<td colspan="2" width="39"></td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td colspan="5" width="259">
					<p>
						Рыболовство, рыбоводство (05)
					</p>
				</td>
				<td colspan="4" width="45"></td>
				<td colspan="16" width="284">
					<p>
						Добыча торфа, других полезных ископаемых (10-11)
					</p>
				</td>
				<td colspan="2" width="39"></td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td colspan="5" width="259">
					<p>
						Прочие отрасли горно-добывающей промышленности (14)
					</p>
				</td>
				<td colspan="4" width="45"></td>
				<td colspan="16" width="284">
					<p>
						Производство пищевых продуктов, включая напитки, и табака (15-16)
					</p>
				</td>
				<td colspan="2" width="39"></td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td colspan="5" width="259">
					<p>
						Текстильное производство, производство одежды (17-18)
					</p>
				</td>
				<td colspan="4" width="45"></td>
				<td colspan="16" width="284">
					<p>
						Производство кожи, изделий из кожи и производство обуви (19)
					</p>
				</td>
				<td colspan="2" width="39"></td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td colspan="5" width="259">
					<p>
						Обработка древесины и производство изделий из дерева (20)
					</p>
				</td>
				<td colspan="4" width="45"></td>
				<td colspan="16" width="284">
					<p>
						Целлюлозно- бумажное производство (21)
					</p>
				</td>
				<td colspan="2" width="39"></td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td colspan="5" width="259" height="14">
					<p>
						Издательская и полиграфическая деятельность (22)
					</p>
				</td>
				<td colspan="4" width="45"></td>
				<td colspan="16" width="284">
					<p>
						Производство кокса, нефтепродуктов и ядерных материалов (23)
					</p>
				</td>
				<td colspan="2" width="39"></td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td colspan="5" width="259">
					<p>
						Химическое производство (24)
					</p>
				</td>
				<td colspan="4" width="45"></td>
				<td colspan="16" width="284">
					<p>
						Производство резиновых и пластмассовых изделий (25)
					</p>
				</td>
				<td colspan="2" width="39"></td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td colspan="5" width="259">
					<p>
						Производство прочих неметаллических минеральных продуктов (26)
					</p>
				</td>
				<td colspan="4" width="45"></td>
				<td colspan="16" width="284">
					<p>
						Металлургическое производство и производство готовых металлических изделий (27-28)
					</p>
				</td>
				<td colspan="2" width="39"></td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td colspan="5" width="259">
					<p>
						Производство машин и оборудования (29)
					</p>
				</td>
				<td colspan="4" width="45"></td>
				<td colspan="16" width="284">
					<p>
						Производство электрооборудования, электронного и оптического оборудования (30-33)
					</p>
				</td>
				<td colspan="2" width="39"></td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td colspan="5" width="259" height="14">
					<p>
						Производство транспортных средств и оборудования (34-35)
					</p>
				</td>
				<td colspan="4" width="45"></td>
				<td colspan="16" width="284">
					<p>
						Производство мебели и прочие производства (36)
					</p>
				</td>
				<td colspan="2" width="39"></td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td colspan="5" width="259">
					<p>
						Обработка вторичного сырья (37)
					</p>
				</td>
				<td colspan="4" width="45"></td>
				<td colspan="16" width="284">
					<p>
						Производство и распределение электроэнергии, газа, пара и горячей воды (40-41)
					</p>
				</td>
				<td colspan="2" width="39"></td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td colspan="5" width="259">
					<p>
						Строительство (45)
					</p>
				</td>
				<td colspan="4" width="45"></td>
				<td colspan="16" width="284">
					<p>
						Торговля автомобилями и мотоциклами, их техобслуживание, ремонт (50)
					</p>
				</td>
				<td colspan="2" width="39"></td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td colspan="5" width="259">
					<p>
						Розничная и оптовая торговля (кроме автомобилей и мотоциклов); ремонт бытовых изделий и предметов личного пользования (51-52)
					</p>
				</td>
				<td colspan="4" width="45"></td>
				<td colspan="16" width="284">
					<p>
						Гостиницы и рестораны (55)
					</p>
				</td>
				<td colspan="2" width="39"></td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td colspan="5" width="259" height="8">
					<p>
						Транспорт и связь (60-64)
					</p>
				</td>
				<td colspan="4" width="45"></td>
				<td colspan="16" width="284">
					<p>
						Финансовая деятельность (65-67)
					</p>
				</td>
				<td colspan="2" width="39"></td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td colspan="5" width="259">
					<p>
						Операции с недвижимым имуществом, аренда и предоставление услуг (70-74)
					</p>
				</td>
				<td colspan="4" width="45"></td>
				<td colspan="16" width="284">
					<p>
						Государственное управление и обеспечение военной безопасности; обязательное социальное обеспечение (75)
					</p>
				</td>
				<td colspan="2" width="39"></td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td colspan="5" width="259">
					<p>
						Образование (80)
					</p>
				</td>
				<td colspan="4" width="45"></td>
				<td colspan="16" width="284">
					<p>
						Здравоохранение и предоставление социальных услуг (85)
					</p>
				</td>
				<td colspan="2" width="39"></td>
			</tr>
		</tbody>
		<tbody>
			<tr valign="top">
				<td colspan="5" width="259" height="8">
					<p>
						Предоставление прочих коммунальных, социальных и персональных услуг (90-93)
					</p>
				</td>
				<td colspan="4" width="45"></td>
				<td colspan="16" width="284">
					<p>
						Предоставление услуг по ведению домашнего хозяйства, деятельность домашних хозяйств (95-97)
					</p>
				</td>
				<td colspan="2" width="39"></td>
			</tr>
		</tbody>
	</table>
	<table width="684" cellpadding="7" cellspacing="1">
		<colgroup>
			<col width="2"/>
		</colgroup>
		<colgroup>
			<col width="136"/>
		</colgroup>
		<colgroup>
			<col width="2"/>
		</colgroup>
		<colgroup>
			<col width="61"/>
		</colgroup>
		<colgroup>
			<col width="20"/>
		</colgroup>
		<colgroup>
			<col width="4355"/>
		</colgroup>
		<colgroup>
			<col width="25"/>
		</colgroup>
		<colgroup>
			<col width="64"/>
		</colgroup>
		<colgroup>
			<col width="81"/>
		</colgroup>
		<colgroup>
			<col width="13"/>
			<col width="4354"/>
		</colgroup>
		<colgroup>
			<col width="4358"/>
		</colgroup>
		<colgroup>
			<col width="123"/>
		</colgroup>
		<tbody>
			<tr>
				<td colspan="13" width="667" height="1">
					<p>
						<strong>IV</strong>
						<strong>
							СВЕДЕНИЯ О КОНТАКТНЫХ ЛИЦАХ</strong>
						<strong></strong>
					</p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="13" width="667" height="10">
					<p>
						<strong>Руководитель организации</strong>
						(лицо, имеющее право действовать от имени юридического лица без доверенности)
					</p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2" width="153" height="16">
					<p>
						Фамилия, имя, отчество
					</p>
				</td>
				<td colspan="5" width="154"></td>
				<td colspan="3" width="188"></td>
				<td colspan="3" width="127"></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2" width="153">
					<p>
						Должность в объединении (предприятии, организации)
					</p>
				</td>
				<td colspan="11" width="499"></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2" width="153" height="9">
					<p>
						Основное место работы, должность
					</p>
				</td>
				<td colspan="11" width="499"></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2" width="153">
					<p>
						Телефон (региональный код)
					</p>
				</td>
				<td colspan="4" width="114"></td>
				<td width="25">
					<p align="right">
						Факс
					</p>
				</td>
				<td width="64"></td>
				<td colspan="4" width="113">
					<p align="right">
						Электронная почта
					</p>
				</td>
				<td width="123"></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="13" width="667" height="11">
					<p>
						<strong>
							Руководитель, ответственный за связь с РСПП
						</strong>
					</p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2" width="153" height="5">
					<p>
						Фамилия, имя, отчество
					</p>
				</td>
				<td colspan="5" width="154"></td>
				<td colspan="3" width="188"></td>
				<td colspan="3" width="127"></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2" width="153" height="9">
					<p>
						Должность в объединении (предприятии, организации)
					</p>
				</td>
				<td colspan="11" width="499"></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2" width="153" height="9">
					<p>
						Основное место работы, должность
					</p>
				</td>
				<td colspan="5" width="154"></td>
				<td colspan="6" width="330"></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2" width="153">
					<p>
						Телефон (региональный код)
					</p>
				</td>
				<td colspan="3" width="113"></td>
				<td colspan="2" width="26">
					<p align="right">
						Факс
					</p>
				</td>
				<td width="64"></td>
				<td colspan="3" width="109">
					<p align="right">
						Электронная почта
					</p>
				</td>
				<td colspan="2" width="127"></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="13" width="667" height="11">
					<p>
						<strong>Контактное лицо</strong>
					</p>
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2" width="153" height="13">
					<p>
						Фамилия, имя, отчество
					</p>
				</td>
				<td colspan="5" width="154"></td>
				<td colspan="2" width="160"></td>
				<td colspan="4" width="155"></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2" width="153" height="14">
					<p>
						Должность в объединении (предприятии, организации)
					</p>
				</td>
				<td colspan="11" width="499"></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2" width="153" height="9">
					<p>
						Основное место работы, должность
					</p>
				</td>
				<td colspan="8" width="357"></td>
				<td colspan="3" width="127"></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td colspan="2" width="153" height="8">
					<p>
						Телефон (региональный код)
					</p>
				</td>
				<td colspan="3" width="113"></td>
				<td colspan="2" width="26">
					<p align="right">
						Факс
					</p>
				</td>
				<td width="64"></td>
				<td colspan="3" width="109">
					<p align="right">
						Электронная почта
					</p>
				</td>
				<td colspan="2" width="127"></td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<td width="2" height="21" valign="top"></td>
				<td colspan="2" width="153" valign="bottom">
					<p>
						<a name="_GoBack"></a>
					</p>
					<p>
						<em>
							<strong>Подпись руководителя:
							</strong>
						</em>
					</p>
				</td>
				<td width="61" valign="bottom">
					<p>
						<em>
							<strong>/</strong>
						</em>
					</p>
				</td>
				<td colspan="9" width="406" valign="bottom">
					<p>
						<em>
							<strong>/</strong>
						</em>
					</p>
				</td>
			</tr>
			<tr>
				<td width="2" valign="top"></td>
				<td colspan="2" width="153" valign="bottom">
					<p>
						<em>
							<strong>Дата, печать</strong>
						</em>
					</p>
				</td>
				<td width="61" valign="bottom"></td>
				<td colspan="9" width="406" valign="bottom"></td>
			</tr>
		</tbody>
	</table>
	<div id="sdfootnote1">
		<p>
			<a name="sdfootnote1sym" href="#sdfootnote1anc">1</a>
			<sup></sup>
			Указывается среднегодовая численность за последний отчетный год работников списочного состава, внешних совместителей, работников, выполнявших работы по договорам гражданско-правового характера.
		</p>
	</div>
</div>
