<div class="print-page">
	<div class="print-container">
		<div class="registration-card">
			<div class="registration-card-header">
				<h2 class="registration-card-header-title">
					РЕГИСТРАЦИОННАЯ КАРТА
					<p>
						члена Республиканского союза промышленников и предпринимателей
					</p>
				</h2>
			</div>
			<div class="registration-card-content">
				<table class="registration-card-content-table">
					<tr class="registration-card-content-table-title">
						<td colspan="2">ОБЩИЕ СВЕДЕНИЯ ОБ ОРГАНИЗАЦИИ</td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>1. Организационно-правовая форма</strong>
							согласно Уставу и Свидетельству о государственной регистрации юридического лица
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>2. Поўная назва на беларускай мове</strong>
							(без указання органiзацыйна-правовой формы)
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>
								3. Полное наименование на русском языке
							</strong>
							(без указания организационно-правовой формы)
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>
								4. Полное наименование на английском языке
							</strong>
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>5. Скарочаная назва на беларускай мове</strong>
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>6. Краткое наименование на русском языке
							</strong>
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>7. Краткое наименование на английском языке</strong>
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>8. Регистрационный номер (в ЕГР)</strong>
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>9. Дата присвоения ЕГР/УНП</strong>
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>10. Фактический адрес (место нахождения) организации</strong>
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name">
							Почтовый индекс
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name">
							Область Республики Беларусь
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name">
							Район
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name">
							Город (населенный пункт)
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name">
							Улица (проспект, переулок и т.д.)
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name">
							Номер дома (владение)
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name">
							Корпус (строение)
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name">
							Офис (квартира)
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>11. Интернет сайт Организации</strong>
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name">
							<strong>12. Среднесписочная численность сотрудников непосредственно в Организации (чел.) без филиалов, представительств и дочерних предприятий / обществ1</strong>
						</td>
						<td class="column-value"><input type="text" class="registration-card-input"></td>
					</tr>
				</table>

				<table class="registration-card-content-table">
					<tr class="registration-card-content-table-title">
						<td colspan="2">ОБЩИЕ СВЕДЕНИЯ О ДЕЯТЕЛЬНОСТИ ОРГАНИЗАЦИИ-члене РСПП</td>
					</tr>
					<tr>
						<td class="column-name --wider">
							<strong>
								1. Общее число удаленных подразделений (филиалов, представительств) и дочерних предприятий/обществ
							</strong>
							(указать количество)
						</td>
						<td class="column-value --thinner"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name --wider">
							<strong>
								2. Среднесписочная численность персонала, включая филиалы, представительства и дочерние предприятия/общества (чел.)
							</strong>
							Указывается общая численность персонала в организациях
						</td>
						<td class="column-value --thinner"><input type="text" class="registration-card-input"></td>
					</tr>
					<tr>
						<td class="column-name --wider">
							<strong>
								3. Объем реализованной продукции (товаров, услуг) тыс.руб
							</strong>
							Указывается объем реализованной продукции (товаров и услуг) всех коммерческой организации за последний отчетный год.
						</td>
						<td class="column-value --thinner"><input type="text" class="registration-card-input"></td>
					</tr>
				</table>
				<table class="registration-card-content-table">
					<tr class="registration-card-content-table-title">
						<td colspan="2">Сведения об основных видах экономической деятельности организации – члене РСПП (ОКЭД)</td>
					</tr>
					<tr class="registration-card-content-table-title">
						<td colspan="2">Наименование вида деятельности</td>
					</tr>
					<tr>
						<td class="--equal">
							<div class="column-deals-name">
								Сельское хозяйство, охота (01)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal">
							<div class="column-deals-name">
								Лесное хозяйство (02)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal">
							<div class="column-deals-name">
								Рыболовство, рыбоводство (05)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal">
							<div class="column-deals-name">
								Добыча торфа, других полезных ископаемых (10-11)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal">
							<div class="column-deals-name">
								Прочие отрасли горно-добывающей промышленности (14)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal">
							<div class="column-deals-name">
								Производство пищевых продуктов, включая напитки, и табака (15-16)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal">
							<div class="column-deals-name">
								Текстильное производство, производство одежды (17-18)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal">
							<div class="column-deals-name">
								Производство кожи, изделий из кожи и производство обуви (19)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal">
							<div class="column-deals-name">
								Обработка древесины и производство изделий из дерева (20)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal">
							<div class="column-deals-name">
								Целлюлозно- бумажное производство (21)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal">
							<div class="column-deals-name">
								Издательская и полиграфическая деятельность (22)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal">
							<div class="column-deals-name">
								Производство кокса, нефтепродуктов и ядерных материалов (23)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal">
							<div class="column-deals-name">
								Химическое производство (24)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal">
							<div class="column-deals-name">
								Производство резиновых и пластмассовых изделий (25)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal">
							<div class="column-deals-name">
								Производство прочих неметаллических минеральных продуктов (26)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal">
							<div class="column-deals-name">
								Металлургическое производство и производство готовых металлических изделий (27-28)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal">
							<div class="column-deals-name">
								Производство машин и оборудования (29)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal">
							<div class="column-deals-name">
								Производство электрооборудования, электронного и оптического оборудования (30-33)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal">
							<div class="column-deals-name">
								Производство транспортных средств и оборудования (34-35)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal">
							<div class="column-deals-name">
								Производство мебели и прочие производства (36)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal">
							<div class="column-deals-name">
								Обработка вторичного сырья (37)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal">
							<div class="column-deals-name">
								Производство и распределение электроэнергии, газа, пара и горячей воды (40-41)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal">
							<div class="column-deals-name">
								Строительство (45)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal">
							<div class="column-deals-name">
								Торговля автомобилями и мотоциклами, их техобслуживание, ремонт (50)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal">
							<div class="column-deals-name">
								Розничная и оптовая торговля (кроме автомобилей и мотоциклов); ремонт бытовых изделий и предметов личного пользования (51-52)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal">
							<div class="column-deals-name">
								Гостиницы и рестораны (55)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal">
							<div class="column-deals-name">
								Транспорт и связь (60-64)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal">
							<div class="column-deals-name">
								Финансовая деятельность (65-67)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>

					<tr>
						<td class="--equal">
							<div class="column-deals-name">
								Операции с недвижимым имуществом, аренда и предоставление услуг (70-74)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal">
							<div class="column-deals-name">
								Государственное управление и обеспечение военной безопасности; обязательное социальное обеспечение (75)

							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>

					<tr>
						<td class="--equal">
							<div class="column-deals-name">
								Образование (80)

							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal">
							<div class="column-deals-name">
								Здравоохранение и предоставление социальных услуг (85)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
					<tr>
						<td class="--equal">
							<div class="column-deals-name">
								Предоставление прочих коммунальных, социальных и персональных услуг (90-93)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
						<td class="--equal">
							<div class="column-deals-name">
								Предоставление услуг по ведению домашнего хозяйства, деятельность домашних хозяйств (95-97)
							</div>
							<div class="column-deals-value">
								<input type="checkbox" class="registration-card-checkbox">
								<label for="registration-card-checkbox"></label>
							</div>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>
