<div class="print-container">
	<p lang="ru-RU">
		Республиканский союз промышленников и предпринимателей
	</p>
	<p lang="ru-RU">
		Председателю РСПП
	</p>
	<p lang="ru-RU" align="center">
		А.И.Швецу
	</p>
	<p lang="ru-RU" align="center">
		ЗАЯВЛЕНИЕ
	</p>
	<p lang="ru-RU" align="justify">
		О вступлении в члены Республиканского союза промышленников и предпринимателей
	</p>
	<p lang="ru-RU" align="center">
		<em>____________________________________________________________</em>
	</p>
	<p lang="ru-RU" align="center">
		(полное наименование организации)
	</p>
	<p lang="ru-RU" align="justify">
		просит принять нашу организацию в члены Республиканского союза промышленников и предпринимателей (РСПП).
	</p>
	<p lang="ru-RU" align="justify">
		Положения Устава Союза и решения его органов управления обязуемся соблюдать.
	</p>
	<p lang="ru-RU">
		Решение принято ____________________________________________________________
	</p>
	<p lang="ru-RU" align="justify">
		(Правлением, собранием, советом или иным органам, полномочным принимать решение об участии в других организациях)
	</p>
	<p lang="ru-RU" align="justify">
		Протокол № _______________ от «____» _________________ 201____ года.
	</p>
	<table width="559" cellpadding="7" cellspacing="0">
		<colgroup>
			<col width="161"/>
			<col width="190"/>
			<col width="166"/>
		</colgroup>
		<tbody>
			<tr valign="top">
				<td width="161"></td>
				<td width="190"></td>
				<td width="166">
					<p lang="ru-RU">
						<em>/ /</em>
					</p>
				</td>
			</tr>
			<tr>
				<td colspan="3" width="545" valign="top">
					<p lang="ru-RU">
						<em>(должность руководителя) (подпись) (Ф.И.О)</em>
					</p>
				</td>
			</tr>
			<tr valign="top">
				<td width="161"></td>
				<td width="190">
					<p lang="ru-RU">
						Печать
					</p>
				</td>
				<td width="166">
					<p lang="ru-RU">
						дата
					</p>
				</td>
			</tr>
		</tbody>
	</table>
	<p lang="ru-RU">
		<u>СПРАВОЧНО:</u>
	</p>
	<p lang="ru-RU">
		Реквизиты Республиканского союза промышленников и предпринимателей
	</p>
	<p lang="ru-RU">
		УНП 805000965
	</p>
	<p lang="ru-RU">
		Расчетный счет:
	</p>
	<p lang="ru-RU">
		- в белорусских рублях 3015048277018
	</p>
	<p lang="ru-RU">
		- в российских рублях 3015048277513
	</p>
	<p lang="ru-RU">
		- в долларах США 3015048277513
	</p>
	<p lang="ru-RU">
		в «Приорбанк» ОАО ЦБУ 111 г.Минск, УНП 100220190, БИК 153001749
	</p>
	<p lang="ru-RU">
		адрес банка 220123 г.Минск пр. Машерова 40
	</p>
	<p lang="ru-RU">
		Председатель РСПП Швец Александр Иосифович
	</p>
</div>
