<div class="col-md-3 album-content-item">
	<div class="photo-container">
  	<%= image_tag picture&.image&.url %>
  </div>
  <% if can? :destroy, Picture %>
    <%= link_to gallery_album_picture_path(@gallery.smart_id, album, picture),
   		method: :delete, class: "delete-picture-btn" do %>
    	Удалить
    <% end %>
  <% end %>
</div>
