<div class="picture-container">
	<div class="album-header">
		<% if @pictures.any? %>
			<h1 class="album-header-title"><%= @album.name %></h1>
		<% else %>
			<h1 class="album-header-title">В этом альбоме пока нет фотографий</h1>
		<% end %>
	</div>

	<div class="album-content">
		<div class="col-lg-9">
			<% @pictures.each do |picture| %>
				<%= render 'photo', album: @album, picture: picture %>
			<% end %>
		</div>
		<div class="col-lg-3 album-description">
			<%= @album.description %>
		</div>
	</div>
</div>
