<% if can? :manage, Gallery %>
<div id="upload-video">
	<a href="<%= new_gallery_album_video_path(@gallery,@album)%>">
		<p>
			Добавить видео
		</p>
	</a>
</div>
<% end %>
<div class="video-container">
	<div class="">
		<% if @album.videos.any? %>
		<h1><%=@album.name%></h1>
	<% else %>
		<h1>Нет видео</h1>
		<% end %>
		<p class="gallery-description">
			<%= @album.description %>
		</p>
	</div>
	<div class="gallery-video-block">
		<%= render 'videos' %>
	</div>

</div>
