<div class="container-fluid album-page">
	<div>
		<a href="<%=gallery_path(@gallery)%>" class="upload">
			<p class="big-text">Назад</p>
		</a>
	</div>

	<% if @gallery.type_gallery == 'photo'%>
	<%= render 'picture_block' %>
	<%else %>
	<%= render 'video_block' %>
	<% end %>
</div>
