<div class="partition-title-pdf form-group row">
	<h3>ОБЩИЕ СВЕДЕНИЯ ОБ ОРГАНИЗАЦИИ</h3>
</div>
<div class="pdf-page-field form-group row">
	<label for="1-1" class="col-md-5 text-right text-info">
		Организационно-правовая форма согласно Уставу и Свидетельству о государственной регистрации юридического лица
	</label>
	<div class="col-md-7">
		<input id="1-1" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="1-2" class="col-md-5 text-right text-info">
		Поўная назва на беларускай мове (без указання органiзацыйна-правовой формы)
	</label>
	<div class="col-md-7">
		<input id="1-2" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="1-3" class="col-md-5 text-right text-info">
		Полное наименование на русском языке (без указания организационно-правовой формы)
	</label>
	<div class="col-md-7">
		<input id="1-3" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="1-4" class="col-md-5 text-right text-info">
		Полное наименование на английском языке
	</label>
	<div class="col-md-7">
		<input id="1-4" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="1-5" class="col-md-5 text-right text-info">
		Скарочаная назва на беларускай мове
	</label>
	<div class="col-md-7">
		<input id="1-5" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="1-6" class="col-md-5 text-right text-info">
		Краткое наименование на русском языке
	</label>
	<div class="col-md-7">
		<input id="1-6" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="1-7" class="col-md-5 text-right text-info">
		Краткое наименование на английском языке
	</label>
	<div class="col-md-7">
		<input id="1-7" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="1-8" class="col-md-5 text-right text-info">
		Регистрационный номер (в ЕГР)
	</label>
	<div class="col-md-7">
		<input id="1-8" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="1-9" class="col-md-5 text-right text-info">
		Дата присвоения ЕГР/УНП
	</label>
	<div class="col-md-7">
		<input id="1-9" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="1-10" class="col-md-5 text-right text-info">
		Фактический адрес (место нахождения) организации
	</label>
	<div class="col-md-7">
		<input id="1-10" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="mail-index-pdf" class="col-md-5 text-right text-info">
		Почтовый индекс
	</label>
	<div class="col-md-7">
		<input id="mail-index-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="region-rb-pdf" class="col-md-5 text-right text-info">
		Область Республики Беларусь
	</label>
	<div class="col-md-7">
		<input id="region-rb-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="district-rb-pdf" class="col-md-5 text-right text-info">
		Район
	</label>
	<div class="col-md-7">
		<input id="district-rb-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="city-pdf" class="col-md-5 text-right text-info">
		Город (населенный пункт)
	</label>
	<div class="col-md-7">
		<input id="city-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="street-pdf" class="col-md-5 text-right text-info">
		Улица (проспект, переулок и т.д.)
	</label>
	<div class="col-md-7">
		<input id="street-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="house-number-pdf" class="col-md-5 text-right text-info">
		Номер дома (владение)
	</label>
	<div class="col-md-7">
		<input id="house-number-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="corpus-pdf" class="col-md-5 text-right text-info">
		Корпус (строение)
	</label>
	<div class="col-md-7">
		<input id="corpus-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="office-pdf" class="col-md-5 text-right text-info">
		Офис (квартира)
	</label>
	<div class="col-md-7">
		<input id="office-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="1-11" class="col-md-5 text-right text-info">
		Интернет сайт Организации
	</label>
	<div class="col-md-7">
		<input id="1-11" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="1-12" class="col-md-5 text-right text-info">
		Среднесписочная численность сотрудников непосредственно в Организации (чел.) без филиалов, представительств и дочерних предприятий / обществ
	</label>
	<div class="col-md-7">
		<input id="1-12" class="pdf-page-input form-control" type="text">
	</div>
</div>
