<div class="pdf-page-title form-group row">
	<h2>Форма вступить в союз
		<button type="button" class="btn btn-default" data-toggle="modal" data-target="#info-modal-pdf">
			<span class="glyphicon glyphicon-info-sign  info-sign"></span>
		</button>
	</h2>
	<h4>Поля, помеченные
		<strong class="required-field">*</strong>
		- обязательны для заполнения!</h4>
</div>

<%= render 'join-rspp/help_information' %>
