<meta http-equiv="content-type" content="text/html; charset=utf-8"/>

<div class="partition-title-pdf form-group row">
	<h3>ОБЩИЕ СВЕДЕНИЯ ОБ ОРГАНИЗАЦИИ</h3>
</div>

<div class="pdf-page-field form-group row">
	<label for="11" class="col-md-5 text-left text-info required">
		Организационно-правовая форма согласно Уставу и Свидетельству о государственной регистрации юридического лица
	</label>
	<div class="col-md-7 big-input">
		<input id="11" class="pdf-page-input form-control" required type="text">
	</div>
</div>

<div class="pdf-page-field form-group row">
	<label for="12" class="col-md-5 text-left text-info">
		Поўная назва на беларускай мове (без указання органiзацыйна-правовой формы)
	</label>
	<div class="col-md-7 big-input">
		<input id="12" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="13" class="col-md-5 text-left text-info required">
		Полное наименование на русском языке (без указания организационно-правовой формы)
	</label>
	<div class="col-md-7 big-input">
		<input id="13" required class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="14" class="col-md-5 text-left text-info">
		Полное наименование на английском языке
	</label>
	<div class="col-md-7 big-input">
		<input id="14" class="pdf-page-input form-control " type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="15" class="col-md-5 text-left text-info">
		Скарочаная назва на беларускай мове
	</label>
	<div class="col-md-7 big-input">
		<input id="15" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="16" class="col-md-5 text-left text-info">
		Краткое наименование на русском языке
	</label>
	<div class="col-md-7 big-input">
		<input id="16" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="17" class="col-md-5 text-left text-info">
		Краткое наименование на английском языке
	</label>
	<div class="col-md-7 big-input">
		<input id="17" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="18" class="col-md-5 text-left text-info required">
		Регистрационный номер (в ЕГР)
	</label>
	<div class="col-md-7 big-input">
		<input id="18" required class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="19" class="col-md-5 text-left text-info required">
		Дата присвоения ЕГР/УНП
	</label>
	<div class="col-md-7 big-input">
		<input id="19" required class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label class="col-md-12 text-center text-info subheader">
		Фактический адрес (место нахождения) организации
	</label>
</div>
<div class="pdf-page-field form-group row">
	<label for="mail-index-pdf" class="col-md-5 text-left text-info">
		Почтовый индекс
	</label>
	<div class="col-md-7 big-input">
		<input id="mail-index-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="region-rb-pdf" class="col-md-5 text-left text-info required">
		Область Республики Беларусь
	</label>
	<div class="col-md-7 big-input">
		<input id="region-rb-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="district-rb-pdf" class="col-md-5 text-left text-info">
		Район
	</label>
	<div class="col-md-7 big-input">
		<input id="district-rb-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="city-pdf" class="col-md-5 text-left text-info required">
		Город (населенный пункт)
	</label>
	<div class="col-md-7 big-input">
		<input id="city-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="street-pdf" class="col-md-5 text-left text-info required">
		Улица (проспект, переулок и т.д.)
	</label>
	<div class="col-md-7 big-input">
		<input id="street-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="house-number-pdf" class="col-md-5 text-left text-info required">
		Номер дома (владение)
	</label>
	<div class="col-md-7 big-input">
		<input id="house-number-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="corpus-pdf" class="col-md-5 text-left text-info">
		Корпус (строение)
	</label>
	<div class="col-md-7 big-input">
		<input id="corpus-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="office-pdf" class="col-md-5 text-left text-info required">
		Офис (квартира)
	</label>
	<div class="col-md-7 big-input">
		<input id="office-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="111" class="col-md-5 text-left text-info required">
		Интернет сайт Организации
	</label>
	<div class="col-md-7 big-input">
		<input id="111" required class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="112" class="col-md-5 text-left text-info required">
		Среднесписочная численность сотрудников непосредственно в Организации (чел.) без филиалов, представительств и дочерних предприятий / обществ
	</label>
	<div class="col-md-7 big-input">
		<input id="112" required class="pdf-page-input form-control" min="1" type="number">
	</div>
</div>
