<div class="partition-title-pdf">
	<h3>
		IV СВЕДЕНИЯ О КОНТАКТНЫХ ЛИЦАХ
	</h3>
</div>
<div class="partition-subtitle-pdf">
	<h3>
		Руководитель организации (лицо, имеющее право действовать от имени юридического лица без доверенности)
	</h3>
</div>

<div class="pdf-page-field form-group row">
	<label for="lastname-organization-pdf" class="col-md-3 text-info text-right  ">
		<strong class="required-field">*</strong class="required-field">
		Фамилия
	</label>
	<div class=" col-md-7">
		<input id="lastname-organization-pdf" required class="pdf-page-input form-control " type="text">
	</div>
</div>

<div class="pdf-page-field form-group row">
	<label for="firstname-organization-pdf" class="col-md-3 text-info text-right  ">
		<strong class="required-field">*</strong class="required-field">
		Имя
	</label>
	<div class=" col-md-7">
		<input id="firstname-organization-pdf" required class="pdf-page-input form-control " type="text">
	</div>
</div>

<div class="pdf-page-field form-group row">
	<label for="patronymic-organization-pdf" class="col-md-3 text-info text-right  ">
		<strong class="required-field">*</strong class="required-field">
		Отчество
	</label>
	<div class=" col-md-7">
		<input id="patronymic-organization-pdf" required class="pdf-page-input form-control " type="text">
	</div>
</div>

<div class="pdf-page-field form-group row">
	<label for="position-organization-pdf" class="col-md-3 text-info text-right  ">
		<strong class="required-field">*</strong class="required-field">
		Должность в объединении (предприятии, организации)
	</label>
	<div class=" col-md-7">
		<input id="position-organization-pdf" required class="pdf-page-input form-control " type="text">
	</div>
</div>

<div class="pdf-page-field form-group row">
	<label for="main-workplace-organization-pdf" class="col-md-3 text-info text-right  ">
		<strong class="required-field">*</strong class="required-field">
		Основное место работы, должность
	</label>
	<div class=" col-md-7">
		<input id="main-workplace-organization-pdf" required class="pdf-page-input form-control " type="text">
	</div>
</div>

<div class="pdf-page-field form-group row">
	<label for="telephone-organization-pdf" class="col-md-3 text-info text-right">
		Телефон (региональный код)
	</label>
	<div class="col-md-7">
		<input id="telephone-organization-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="fax-organization-pdf" class="col-md-3 text-info text-right">
		Факс
	</label>
	<div class="col-md-7">
		<input id="fax-organization-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="email-organization-pdf" class="col-md-3 text-info text-right">
		Электронная почта
	</label>
	<div class="col-md-7">
		<input id="email-organization-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>

<div class="partition-subtitle-pdf">
	<h3>
		Руководитель, ответственный за связь с РСПП
	</h3>
</div>

<div class="pdf-page-field form-group row">
	<label for="lastname-connection-rspp-pdf" class="col-md-3 text-info text-right  ">
		<strong class="required-field">*</strong class="required-field">
		Фамилия
	</label>
	<div class=" col-md-7">
		<input id="lastname-connection-rspp-pdf" required class="pdf-page-input form-control " type="text">
	</div>
</div>

<div class="pdf-page-field form-group row">
	<label for="firstname-connection-rspp-pdf" class="col-md-3 text-info text-right  ">
		<strong class="required-field">*</strong class="required-field">
		Имя
	</label>
	<div class=" col-md-7">
		<input id="firstname-connection-rspp-pdf" required class="pdf-page-input form-control " type="text">
	</div>
</div>

<div class="pdf-page-field form-group row">
	<label for="patronymic-connection-rspp-pdf" class="col-md-3 text-info text-right  ">
		<strong class="required-field">*</strong class="required-field">
		Отчество
	</label>
	<div class=" col-md-7">
		<input id="patronymic-connection-rspp-pdf" required class="pdf-page-input form-control " type="text">
	</div>
</div>

<div class="pdf-page-field form-group row">
	<label for="position-connection-rspp-pdf" class="col-md-3 text-info text-right  ">
		<strong class="required-field">*</strong class="required-field">
		Должность в объединении (предприятии, организации)
	</label>
	<div class=" col-md-7">
		<input id="position-connection-rspp-pdf" required class="pdf-page-input form-control " type="text">
	</div>
</div>

<div class="pdf-page-field form-group row">
	<label for="main-workplace-connection-rspp-pdf" class="col-md-3 text-info text-right  ">
		<strong class="required-field">*</strong class="required-field">
		Основное место работы, должность
	</label>
	<div class=" col-md-7">
		<input id="main-workplace-connection-rspp-pdf" required class="pdf-page-input form-control " type="text">
	</div>
</div>

<div class="pdf-page-field form-group row">
	<label for="telephone-connection-rspp-pdf" class="col-md-3 text-info text-right">
		Телефон (региональный код)
	</label>
	<div class="col-md-7">
		<input id="telephone-connection-rspp-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="fax-connection-rspp-pdf " class="col-md-3 text-info text-right">
		Факс
	</label>
	<div class="col-md-7">
		<input id="fax-connection-rspp-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
<div class="pdf-page-field form-group row">
	<label for="email-connection-rspp-pdf" class="col-md-3 text-info text-right">
		Электронная почта
	</label>
	<div class="col-md-7">
		<input id="email-connection-rspp-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>

<div class="partition-subtitle-pdf">
	<h3>
		Контактное лицо
	</h3>
</div>

<div class="pdf-page-field form-group row">
	<label for="lastname-contact-face-pdf" class="col-md-3 text-info text-right  ">
		<strong class="required-field">*</strong class="required-field">
		Фамилия
	</label>
	<div class=" col-md-7">
		<input id="lastname-contact-face-pdf" required class="pdf-page-input form-control " type="text">
	</div>
</div>

<div class="pdf-page-field form-group row">
	<label for="firstname-contact-face-pdf" class="col-md-3 text-info text-right  ">
		<strong class="required-field">*</strong class="required-field">
		Имя
	</label>
	<div class=" col-md-7">
		<input id="firstname-contact-face-pdf" required class="pdf-page-input form-control " type="text">
	</div>
</div>

<div class="pdf-page-field form-group row">
	<label for="patronymic-contact-face-pdf" class="col-md-3 text-info text-right  ">
		<strong class="required-field">*</strong class="required-field">
		Отчество
	</label>
	<div class=" col-md-7">
		<input id="patronymic-contact-face-pdf" required class="pdf-page-input form-control " type="text">
	</div>
</div>

<div class="pdf-page-field form-group row">
	<label for="position-contact-face-pdf" class="col-md-3 text-info text-right  ">
		<strong class="required-field">*</strong>
		Должность в объединении (предприятии, организации)
	</label>
	<div class=" col-md-7">
		<input id="position-contact-face-pdf" required class="pdf-page-input form-control " type="text">
	</div>
</div>

<div class="pdf-page-field form-group row">
	<label for="main-workplace-contact-face-pdf" class="col-md-3 text-info text-right  ">
		<strong class="required-field">*</strong>
		Основное место работы, должность
	</label>
	<div class=" col-md-7">
		<input id="main-workplace-contact-face-pdf" required class="pdf-page-input form-control " type="text">
	</div>
</div>

<div class="pdf-page-field form-group row">
	<label for="telephone-contact-face-pdf" class="col-md-3 text-info text-right">
		Телефон (региональный код)
	</label>
	<div class="col-md-7">
		<input id="telephone-contact-face-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>

<div class="pdf-page-field form-group row">
	<label for="fax-contact-face-pdf" class="col-md-3 text-info text-right">
		Факс
	</label>
	<div class="col-md-7">
		<input id="fax-contact-face-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>

<div class="pdf-page-field form-group row">
	<label for="email-contact-face-pdf" class="col-md-3 text-info text-right">
		Электронная почта
	</label>
	<div class="col-md-7">
		<input id="email-contact-face-pdf" class="pdf-page-input form-control" type="text">
	</div>
</div>
