<div class="final-page-pdf">
	<!-- <button class="btn btn-default btn-generate-form">Проверить</button> -->
	<%= link_to 'Скачать заявление', statement_path(:format => "pdf"), class: "btn btn-success send-data-pdf" %>
	<%= link_to 'Скачать регистрационную карту', registration_card_path(:format => "pdf"), class: "btn btn-success send-data-pdf" %>
	<%= link_to 'Скачать счет', bill_path(:format => "pdf") ,class: "btn btn-success send-data-pdf" %>
	<div class="final-page-pdf-content">

		<!-- Final button  -->
		<%= link_to 'Скачать файлы', '' , class: "send-data-pdf btn-download" %>
	</div>
</div>
