<div id="info-modal-pdf" class="modal fade" role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h2 class="modal-title main-title">Порядок и размеры</h2>
				<div class="modal-title sub-title">
					<h4>
						внесения (уплаты) вступительных, членских и целевых взносов, пожертвований
					</h4>
					<h4>
						в Республиканский союз промышленников и предпринимателей (РСПП) с 12.04.2016 года
					</h4>
					<p>
						(принимается в соответствии с положениями Устава РСПП, пункты 4.3, 4.9, 7.2, 7.3, 7.5, 7.6):
					</p>
				</div>
			</div>
			<div class="modal-body">
				<div class="info-item">
					<h5>
						<span class="emphasised-text">1. Размеры вступительных взносов для юридических лиц - членов РСПП (Плательщиков):</span>
					</h5>
					<p>1.1. Для юрлиц - членов РСПП из числа общественных объединений (ОО), некоммерческих организаций (НКО) вступительные взносы уплачиваются в добровольном порядке на уровне как для микро организаций;</p>
					<p>1.2. Для юридических лиц - членов РСПП из числа микро организаций (до 15 человек работающих) – 10 базовых величин - БВ <strong>(230 рублей);</strong></p>
					<p>1.3. Для юридических лиц - членов РСПП из числа организаций малого предпринимательства (от 16 до 100 человек работающих) – 20 базовых величин - БВ <strong>(460 рублей);</strong></p>
					<p>1.4. Для юридических лиц - членов РСПП из числа организаций среднего предпринимательства (от 101 до 250 человек работающих) – 40 базовых величин - БВ <strong>(920 рублей);</strong></p>
					<p>1.5. Для юридических лиц - членов РСПП с численностью работающих свыше 250 человек – вступительный взнос устанавливается по договоренности с плательщиком исходя из его возможностей, но не ниже 40 базовых величин - БВ <strong>(920 рублей);</strong></p>
					<p>1.6. Для Банков и других кредитно-финансовых организаций – по договоренности с вступающим в РСПП членом до 250 базовых величин - БВ <strong> (5750 рублей);</strong></p>
					<p>1.7. Для отдельных плательщиков взносов – размер вступительного взноса <strong>может устанавливаться по согласованию Председателя с Плательщиком в более высоком размере</strong> в каждом конкретно случае.</p>
				</div>
				<div class="info-item">
					<h5>
						<span class="emphasised-text">2. Размеры годовых членских взносов для юридических лиц - членов РСПП</span>
						(с возможностью уплаты ежеквартально по согласованию Плательщиков с Председателем):
					</h5>
					<p>2.1. Для юридических лиц - членов РСПП из числа ОО, НКО – 10 базовых величин - БВ <strong>(230 рублей)</strong> на основе добровольности их уплаты (либо не уплачиваются с уведомлением от Плательщика в адрес РСПП);</p>
					<p>2.2. Для юридических лиц - членов РСПП из числа микро организаций (до 15 человек работающих) – 20 базовых величин - БВ <strong>(460 рублей);</strong></p>
					<p>2.3. Для юридических лиц - членов РСПП из числа организаций малого предпринимательства (от 16 до 100 человек работающих) – 40 базовых величин - БВ <strong>(920 рублей);</strong></p>
					<p>2.4. Для юридических лиц - членов РСПП из числа организаций среднего предпринимательства (от 101 до 250 человек работающих) – 60 базовых величин - БВ <strong>(1380 рублей);</strong></p>
					<p>2.5. Для юридических лиц - членов РСПП с численностью работающих свыше 250 человек – вступительный взнос устанавливается по договоренности с плательщиком исходя из его возможностей, но не ниже 80 базовых величин - БВ <strong>(1840 рублей);</strong></p>
					<p>2.6. Для Банков и других кредитно-финансовых организаций – по договоренности Председателя с Плательщиком, но не менее 200 базовых величин - БВ <strong>(4600 рублей);</strong></p>
					<p>
						<strong>Примечания:</strong>
					</p>
					<p>
						<strong>Для Плательщиков делегировавших представителей в Совет РСПП</strong>
						(за исключением ОО и НКО)
						<strong>размер годового членского взноса</strong>
						устанавливается в более высоком размере по согласованию с Председателем.</p>
				</div>
				<div class="info-item">
					<h5>
						<span class="emphasised-text">3. Размеры целевых членских взносов для юридических лиц - членов РСПП и добровольных пожертвований в РСПП от членов РСПП и иных лиц:</span>
					</h5>
					<p>3.1. Размер целевых взносов членов РСПП устанавливается Председателем по согласованию с Плательщиком и с учетом заинтересованности Плательщика в финансировании целевых уставных задач РСПП.</p>
					<p>3.2. Добровольные пожертвования (безвозмездная спонсорская помощь) в РСПП устанавливаются и уплачиваются Плательщиками по их усмотрению в соответствии с действующим законодательством Республики Беларусь (Указ Президента Республики Беларусь № 300
						от 1 июля 2005 г. «О предоставлении и использовании безвозмездной (спонсорской) помощи» (с последующими изменениями).</p>
				</div>
				<div class="info-item">
					<h5>
						<span class="emphasised-text">4. Порядок внесения членских, годовых и целевых взносов в РСПП, согласование их размера:</span>
					</h5>
					<p>4.1. Членские, годовые и целевые взносы вносятся, как правило, в денежном виде на расчётный счёт РСПП. Указанные взносы по согласованию Плательщика с Председателем могут вноситься (передаваться) в имущественном виде с оформлением в установленном
						порядке;</p>
					<p>4.2. Добровольные пожертвования (безвозмездная спонсорская помощь) с учетом обращений РСПП вносятся (оказываются) их Плательщиками в безналичном порядке в денежном виде на расчётный счёт РСПП или в виде передаваемого имущества, принимаемого на
						баланс РСПП (с учетом требований действующего законодательства);</p>
					<p>4.3. Указанные выше согласования размеров взносов и пожертвований могут производиться в отдельном соглашении (договоре), либо на заявлении вступающей организации, либо путём обмена письмами РСПП с Плательщиком, либо иным методом, позволяющим с
						достоверностью подтвердить наличие волеизъявления Плательщика на внесение своего взноса (или пожертвования) в РСПП в указанном (согласованном) размере.</p>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Заркыть</button>
			</div>
		</div>

	</div>
</div>
