<div class="navigaton-content col-lg-12">
	<div class="button-group navigation-form">
		<button class="btn btn-primary btn-prev-form">Назад</button>
		<button class="btn btn-default btn-next-form">Далее</button>
	</div>
</div>
