<div class="partition-subtitle-pdf">
	<h3>
		Сведения об основных видах экономической деятельности организации – члене РСПП (ОКЭД) (отметить)
	</h3>
</div>

<table class="table table-striped table-pdf">
	<thead>
		<tr class="table-title-pdf">
			<td colspan="4">Наименование вида деятельности</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<label for="test" class="text-info">Сельское хозяйство, охота (01)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t01" type="checkbox">
			</td>
			<td>
				<label for="test" class="text-info">Лесное хозяйство (02)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t02" type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test" class="text-info">Рыболовство, рыбоводство (05)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t05" type="checkbox">
			</td>
			<td>
				<label for="test" class="text-info">Добыча торфа, других полезных ископаемых (10-11)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t10" type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test" class="text-info">Прочие отрасли горно-добывающей промышленности (14)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t14" type="checkbox">
			</td>
			<td>
				<label for="test" class="text-info">Производство пищевых продуктов, включая напитки, и табака (15-16)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t15" type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test" class="text-info">Текстильное производство, производство одежды (17-18)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t17" type="checkbox">
			</td>
			<td>
				<label for="test" class="text-info">Производство кожи, изделий из кожи и производство обуви (19)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t19" type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test" class="text-info">Обработка древесины и производство изделий из дерева (20)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t20" type="checkbox">
			</td>
			<td>
				<label for="test" class="text-info">Целлюлозно- бумажное производство (21)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t21" type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test" class="text-info">Издательская и полиграфическая деятельность (22)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t22" type="checkbox">
			</td>
			<td>
				<label for="test" class="text-info">Производство кокса, нефтепродуктов и ядерных материалов (23)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t23" type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test" class="text-info">Химическое производство (24)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t24" type="checkbox">
			</td>
			<td>
				<label for="test" class="text-info">Производство резиновых и пластмассовых изделий (25)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t25" type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test" class="text-info">Производство прочих неметаллических минеральных продуктов (26)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t26" type="checkbox">
			</td>
			<td>
				<label for="test" class="text-info">Металлургическое производство и производство готовых металлических изделий (27-28)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t27" type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test" class="text-info">Производство машин и оборудования (29)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t29" type="checkbox">
			</td>
			<td>
				<label for="test" class="text-info">Производство электрооборудования, электронного и оптического оборудования (30-33)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t30" type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test" class="text-info">Производство транспортных средств и оборудования (34-35)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t34" type="checkbox">
			</td>
			<td>
				<label for="test" class="text-info">Производство мебели и прочие производства (36)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t36" type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test" class="text-info">Обработка вторичного сырья (37)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t37" type="checkbox">
			</td>
			<td>
				<label for="test" class="text-info">Производство и распределение электроэнергии, газа, пара и горячей воды (40-41)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t40" type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test" class="text-info">Строительство (45)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t45" type="checkbox">
			</td>
			<td>
				<label for="test" class="text-info">Торговля автомобилями и мотоциклами, их техобслуживание, ремонт (50)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t50" type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test" class="text-info">Розничная и оптовая торговля (кроме автомобилей и мотоциклов); ремонт бытовых изделий и предметов личного пользования (51-52)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t51" type="checkbox">
			</td>
			<td>
				<label for="test" class="text-info">Гостиницы и рестораны (55)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t55" type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test" class="text-info">Транспорт и связь (60-64)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t60" type="checkbox">
			</td>
			<td>
				<label for="test" class="text-info">Финансовая деятельность (65-67)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t65" type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test" class="text-info">Операции с недвижимым имуществом, аренда и предоставление услуг (70-74)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t70" type="checkbox">
			</td>
			<td>
				<label for="test" class="text-info">Государственное управление и обеспечение военной безопасности; обязательное социальное обеспечение (75)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t75" type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test" class="text-info">Образование (80)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t80" type="checkbox">
			</td>
			<td>
				<label for="test" class="text-info">Здравоохранение и предоставление социальных услуг (85)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t85" type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test" class="text-info">Предоставление прочих коммунальных, социальных и персональных услуг (90-93)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t90" type="checkbox">
			</td>
			<td>
				<label for="test" class="text-info">Предоставление услуг по ведению домашнего хозяйства, деятельность домашних хозяйств (95-97)</label>
			</td>
			<td class="checkbox-cell">
				<input id="t95" type="checkbox">
			</td>
		</tr>
	</tbody>
</table>
