<table class="table-pdf">
	<thead>
		<tr class="table-title-pdf">
			<td colspan="4">Наименование вида деятельности</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				<label for="test">Сельское хозяйство, охота (01)</label>
			</td>
			<td>
				<input type="checkbox">
			</td>
			<td>
				<label for="test">Лесное хозяйство (02)</label>
			</td>
			<td>
				<input type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test">Рыболовство, рыбоводство (05)</label>
			</td>
			<td>
				<input type="checkbox">
			</td>
			<td>
				<label for="test">Добыча торфа, других полезных ископаемых (10-11)</label>
			</td>
			<td>
				<input type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test">Прочие отрасли горно-добывающей промышленности (14)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
			<td>
				<label for="test">Производство пищевых продуктов, включая напитки, и табака (15-16)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test">Текстильное производство, производство одежды (17-18)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
			<td>
				<label for="test">Производство кожи, изделий из кожи и производство обуви (19)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test">Обработка древесины и производство изделий из дерева (20)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
			<td>
				<label for="test">Целлюлозно- бумажное производство (21)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test">Издательская и полиграфическая деятельность (22)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
			<td>
				<label for="test">Производство кокса, нефтепродуктов и ядерных материалов (23)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test">Химическое производство (24)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
			<td>
				<label for="test">Производство резиновых и пластмассовых изделий (25)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test">Производство прочих неметаллических минеральных продуктов (26)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
			<td>
				<label for="test">Металлургическое производство и производство готовых металлических изделий (27-28)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test">Производство машин и оборудования (29)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
			<td>
				<label for="test">Производство электрооборудования, электронного и оптического оборудования (30-33)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test">Производство транспортных средств и оборудования (34-35)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
			<td>
				<label for="test">Производство мебели и прочие производства (36)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test">Обработка вторичного сырья (37)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
			<td>
				<label for="test">Производство и распределение электроэнергии, газа, пара и горячей воды (40-41)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test">Строительство (45)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
			<td>
				<label for="test">Торговля автомобилями и мотоциклами, их техобслуживание, ремонт (50)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test">Розничная и оптовая торговля (кроме автомобилей и мотоциклов); ремонт бытовых изделий и предметов личного пользования (51-52)</label>
			</td>
			<td>
				<input type="checkbox">
			</td>
			<td>
				<label for="test">Гостиницы и рестораны (55)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test">Транспорт и связь (60-64)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
			<td>
				<label for="test">Финансовая деятельность (65-67)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test">Операции с недвижимым имуществом, аренда и предоставление услуг (70-74)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
			<td>
				<label for="test">Государственное управление и обеспечение военной безопасности; обязательное социальное обеспечение (75)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test">Образование (80)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
			<td>
				<label for="test">Здравоохранение и предоставление социальных услуг (85)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
		</tr>
		<tr>
			<td>
				<label for="test">Предоставление прочих коммунальных, социальных и персональных услуг (90-93)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
			<td>
				<label for="test">Предоставление услуг по ведению домашнего хозяйства, деятельность домашних хозяйств (95-97)</label>
			</td>
			<td>

				<input type="checkbox">
			</td>
		</tr>
	</tbody>
</table>
