<div class="container">
	<% if @survey %>
		<div class="col-md-8">
			<div class="survey">
				<%= render 'survey_show', survey: @survey %>
			</div>
		</div>
		<div class="col-md-4">
			<h2 class="comments-title">Комментарии:</h2>
			<div class="comments-block">
				<ul class="comments-content for-survey-<%= @survey.id %>">
					<% @survey.comments.each do |comment| %>
						<%= render 'surveys/comments/comment', comment: comment %>
					<% end %>
				</ul>
				<% if can? :create , Comment %>
					<%= render 'comments/new_comment', commentable: @survey %>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
