<div class="block-1">
	<div class="col-md-6 main-video">
		<div class="main-video-content">
			<iframe src="https://www.youtube.com/embed/gRIWkWJ861Q" height="100%" width="100%" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	<div class="col-md-2  video-previews">
		<div class="col-md-12">
			<div class="video-previews-item col-md-12 col-sm-4">
				<iframe src="https://www.youtube.com/embed/gRIWkWJ861Q" height="100%" width="100%" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="video-previews-item col-md-12 col-sm-4">
				<iframe src="https://www.youtube.com/embed/gRIWkWJ861Q" height="100%" width="100%" frameborder="0" allowfullscreen></iframe>
			</div>
			<div class="video-previews-item col-md-12 col-sm-4">
				<iframe src="https://www.youtube.com/embed/gRIWkWJ861Q" height="100%" width="100%" frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</div>
	<div class="contacts-block col-md-4 col-sm-12">
		<div class="contacts-block-content">
			<div class="contacts-block-content-item--main">
				<h3>Свяжитесь с нами</h3>
				<p>Важнейшая задача РСПП - защита законных прав и интересов частного бизнеса</p>
			</div>
			<div class="contacts-block-content-item">
				<h4 class="contacts-block-item-title">Тел:</h4>
				<p>+375 44 126 45 89</p>
			</div>
			<div class="contacts-block-content-item">
				<h4 class="contacts-block-item-title">E-mail:</h4>
				<p>rspp@gmail.com</p>
			</div>
			<div class="contacts-block-content-item">
				<h4 class="contacts-block-item-title">Подписывайтесь:</h4>
				<div class="socials">
					<a class="icon icon-facebook"></a>
					<a class="icon icon-youtube"></a>
				</div>
			</div>
		</div>
	</div>
</div>
