<div class="block-2">
	<div class="news-rspp col-lg-8 col-md-8">
		<div class="news-rspp-header">
			<h2>Новости РСПП</h2>
		</div>

		<div class="news-rspp-body">

		<% 2.times do %>

			<div class="news-rspp-body-item">
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-4 img-container">
					<img src="img_chania.jpg" alt="">
				</div>
				<div class="item-description col-lg-9 col-md-8 col-sm-8 col-xs-8">
					<div class="item-title">
						Председатель РСПП Александр Швец принял участие в заседании "круглого стола"
					</div>
					<div class="item-text">
						26 января 2017 года в Палате представителей состоялся круглый стол на тему «Уголовная политика в отношении преступлений против порядка осуществления экономической деятельности», который был инициирован Постоянной комиссией Палаты представителей по законодательству и Постоянной комиссией Совета Республики по законодательству и государственному строительству. ​
					</div>
					<div class="more-btn">
						<a href="#" class="link-more">Читать далее...</a>
					</div>
				</div>
			</div>
		<% end %>

		</div>
	</div>

	<div class="appeal-survey col-lg-4 col-md-4 col-sm-12">
		<div class="appeal">
			<div class="appeal-header">
				<h2>Обратиться</h2>
			</div>
			<div class="appeal-content">
				<input type="email" placeholder="Email" id="email-appeal">
				<button type="button" class="appeal-button">Написать обращение</button>
			</div>
		</div>

		<% if @survey %>
	 		<div class="survey">
				<div class="survey-header">
					<h2>Опрос</h2>
				</div>
				<div class="survey-content">
					<div class="question">
						<h4>Как повлияет правление Трампа на экономику Беларуси?</h4>
					</div>
					<div class="options-list">
						<%= form_for @survey, url: vote_survey_path(@survey) do |f| %>

							<% 4.times do |option| %>
								<div class="option">
									<%= f.radio_button :closed, option + 1, id: option + 1 %>
									<label for="<%= option + 1 %>">Положительно</label>
									<!-- For checkbox styling -->
									<div class="check"><div class="inside"></div></div>
								</div>
							<% end %>

							<div class="text-right vote-btn-align">
								<a onclick="$(this).closest('form').submit()" class="vote-btn">
									Проголосовать
								</a>
							</div>

						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
