<% if main_partner %>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-partner-container">
    <div class="main-partner-content">

      <div class="main-partner-title">
        <h2>
          Cтратегический партнер
        </h2>
      </div>

      <div class="main-partner-image col-lg-4 col-md-4 col-sm-4">
        <%= image_tag main_partner&.image&.url %>
      </div>

      <div class="main-partner-description col-lg-8 col-md-8 col-md-8">
        <%= main_partner.description %>
      </div>

    </div>
  </div>
<% end %>

<% if partners.present? %>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 partners-container">
    <div class="partners-content">

      <div class="partners-title">
        <h2>
          Наши партнёры
        </h2>
      </div>

      <div class="partners-carousel">
        <% partners&.each do |partner| %>
          <%= link_to partner.link, target: "_blank" do %>
            <div class="single-partner">
              <%= image_tag partner.image.url %>
            </div>
          <% end %>
        <% end %>
      </div>

    </div>
  </div>
<% end %>
