<div class="gallery-navigation">
	<% @galleries.all.each do |gallery| %>
	<% if (type == gallery.type_gallery) %>
	<a href="<%= gallery.link %>" class="gallery-navigation-item active">
		<%= gallery.name %>
	</a>
<% else %>
	<a href="<%= gallery.link %>" class="gallery-navigation-item">
		<%= gallery.name %>
	</a>
	<% end %>
	<% end %>
</div>
