<div class="gallery-routes">
	<a href="">Галереи</a>
	<% if @gallery.type_gallery == 'photo' %>
		<a href="">Фотогалерея</a>
	<% elsif @gallery.type_gallery == 'video' %>
		<a href="">Видеогалерея</a>
	<%end%>
	<a href="">Альбомы</a>
</div>
