<div class="container-fluid gallery-page">
	<div>
		<% if can? :manage, @gallery %>
		<a href="<%= new_gallery_path %>" class="upload">
			<p class="big-text">Создать галерею</p>
		</a>
		<% end %>
	</div>
	<div class="gallery-page-content">
		<div class="gallery-page-items">
			<div class="gallery-page-header">
				<% if @galleries.empty? %>
				<h1>Нет галерей</h1>
			<% else %>
				<a href="<%= galleries_path %>">
					<h1>Галереи</h1>
				</a>
			</div>
			<%= render 'galleries' %>
			<% end %>
		</div>
	</div>
</div>
