.news-post-form {
  margin-bottom: 10rem;

  textarea {
    resize: none;
    height: 20rem;
  }

  .actions {
    margin-top: 2rem;

    .create-btn {
      padding: 1rem 1.5rem;
      background: #519cff;
      color: #FFFFFF;
      border: none;
      font-size: 1.5rem;
      transition: 0.2s;
      margin-right: 0.5rem;

      &:hover {
        background: darken(#519cff, 10%);
      }
    }

    .back-btn {
      padding: 1rem 1.5rem;
      border: 1px solid #519cff;
      color: #519cff;
      font-size: 1.5rem;
      transition: 0.2s;
      text-decoration: none;
      transition: 0.2s;

      &:hover {
        border-color: darken(#519cff, 10%);
        color: darken(#519cff, 10%);
      }
    }
  }
}
