.new-album {
	margin-top: 7rem;

	&-header {
		text-align: center;
		padding-bottom: 4rem;
		position: relative;

		h1 {
			font-size: 3rem;
		}

		&:after {
			content: "";
			position: absolute;
			top: 70%;
			left: 50%;
			transform: translateX(-50%);
			width: 15%;
			border-bottom: 1px solid #333333;
		}
	}

	form {

		.actions {
			margin-top: 2rem;

			.create-btn {
				padding: 1rem 1.5rem;
				background: #519cff;
				color: #FFFFFF;
				border: none;
				font-size: 1.5rem;
				transition: 0.2s;

				&:hover {
					background: darken(#519cff, 10%);
				}
			}

			.back-btn {
				padding: 1rem 1.5rem;
				border: 1px solid #519cff;
				color: #519cff;
				font-size: 1.5rem;
				transition: 0.2s;
				text-decoration: none;
				transition: 0.2s;

				&:hover {
					border-color: darken(#519cff, 10%);
					color: darken(#519cff, 10%);
				}
			}
		}
	}
}

.album {

	.new-item-button {
		text-align: center;
		position: relative;
		top: 5rem;

		a {
			border: 1px solid #519cff;
			color: #519cff;
			padding: 0.5rem 1rem;
			display: inline-block;
			font-size: 1.6rem;
			text-decoration: none;
			transition: 0.2s;

			&:hover {
				border-color: darken(#519cff, 10%);
				color: darken(#519cff, 10%);
			}
		}
	}

	&-header {
		width: 100%;
		height: 4rem;
		text-align: center;
		margin-bottom: 2rem;

		&-title {
			font-family: Roboto Medium;
			font-size: 3rem;
		}
	}

	.picture-container, .video-container {
		margin-top: 11rem;
	}

	.video-container {

		.video-block, .comments-block {
			padding: 0;
			margin-bottom: 5rem;

			.video-item {

				.type-video {
					border: 1px solid black;
					display: inline-block;
					background-color: #333333;
					color: #FFFFFF;
					font-size: 1.5rem;
					font-family: 'Roboto Light', Helvetica;
					padding: 0.5rem 1rem;
					margin-bottom: 0.5rem;
					margin-top: 0.1rem;
				}

				.actions {
					height: 2.45rem;
					float: right;

					.delete-video-link {
						display: inline-block;

						a {
							color: #FFFFFF;
							background: #D91720;
							font-size: 1.5rem;
							padding: 0.4rem 1rem 0.4rem 1rem;
						}
					}

					.edit-video-link {
						display: inline-block;

						a {
							color: #FFFFFF;
							background: #519cff;
							font-size: 1.5rem;
							padding: 0.4rem 1rem 0.4rem 1rem;
						}
					}
				}

				.video-description-block {
					font-size: 1.3rem;
					padding: 1rem;
					border: 1px solid #333333;
				}
			}
		}

		.comments-block {
			padding-top: 1.5rem;

			.comments-content {
				max-height: 33.5rem;
				padding-left: 1rem;
				overflow-y: auto;

				.single-comment {
					margin-bottom: 1rem;
					border: none;

					.comment-author {
						font-size: 1.5rem;
						font-family: Helvetica;
						font-weight: bold;
					}

					.comment-text {
						padding: 0.5rem;
					}
				}
			}

			form {
				padding-left: 2rem;

				.form-input {
					font-size: 1.3rem;
				}

				.actions {
					margin-top: 0.5rem;

					.create-btn {
		        padding: 0.5rem 1rem;
		        background: #519cff;
		        color: #FFFFFF;
		        border: none;
		        font-size: 1.3rem;
		        transition: 0.2s;
		        float: right;

		        &:hover {
		          background: darken(#519cff, 10%);
		        }
		      }
				}
			}
		}
	}

	&-content {

		.album-description {
			padding-right: 0;
			padding-left: 2.5rem;
			font-size: 1.8rem;
			font-family: 'PT Sans', Helvetica;
			margin-bottom: 5rem;

			// if we centering text than our block is full-width, so remove
			// some paddings
			&.text-center {
				padding: 0;
			}
		}

		&-item {
			height: 14rem;
			overflow: hidden;
			margin-bottom: 1rem;
			text-align: center;

			.photo-container {
				height: 80%;
				overflow: hidden;

				img {
					width: 100%;
					top: 50%;
					transform: translateY(-50%);
					position: relative;
					height: auto;
					cursor: pointer;
				}
			}

			.delete-picture-btn {
				color: #E70D1A;
				font-size: 1.5rem;
				font-family: 'Roboto Light', Helvetica;
				margin-top: 0.5rem;
				display: inline-block;

				&:hover {
					color: darken(#E70D1A, 7%);
				}
			}
		}
	}
}
