.sign-up-container {

  form {
    margin-bottom: 10rem;

    h2 {
      font-size: 2rem;
    }

    .form-input {
      padding: 8px;
      outline: none;
      border: 1px solid #B0CFE0;
      font-size: 1.8rem;
      width: 100%;
      margin-bottom: 2rem;
    }

    .actions {
      margin-top: 2rem;
      text-align: center;

      input[type=submit] {
        padding: 1rem 1.5rem;
        background: #519cff;
        color: #FFFFFF;
        border: none;
        font-size: 1.5rem;
        transition: 0.2s;

        &:hover {
          background: darken(#519cff, 10%);
        }
      }
    }
  }
}
