@import "Roboto.scss";
$header-color: #A2A2A2;
$header-logo-text-color: #FFFFFF;
$authentication-text-color: #FFFFFF;
$head-min-height: 10rem;
$burger-menu-color: #FFFFFF;
$topic-text-color: #3D3D3D;
$join-us-btn-text-color: #B8B8B8;
$join-us-btn-text-color-hover: #FFFFFF;
$join-us-btn-background-color: #626262;
$burger-background-color: #2f323a;


.header {
	.head {
		line-height: 10rem; //for vertical-centering
		background: $header-color;
		min-height: $head-min-height;
		box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.7);

		.burger-menu-icon {
			display: none;
			position: absolute;
			left: 1.5rem;
			top: 1.5rem;
			width: 8rem;
			height: 8rem;
			background-image: asset_url('burger-menu.png');
			background-size: cover;
			z-index: 20;
		}

		.logo {
			display: inline-block;
			vertical-align: middle;

			&-image {
				height: 8.5rem;
				width: 10.5rem;
			}
		}

		.logo-text {
			display: inline-block;
			max-width: 43.5rem;
			vertical-align: middle;
			margin-left: 1rem;

			.text {
				font-family: 'PT Sans Narrow', sans-serif;
				color: $header-logo-text-color;
				font-size: 3rem;
				margin: 0;
				padding: 0;
			}
		}

		.authentication {
			display: inline-block;
			float: right;
			position: relative;
			top: $head-min-height / 2;
			transform: translateY(-50%);

			.sign-in-link {
				text-decoration: none;
				font-family: 'Roboto Light', Helvetica;
				font-size: 2.5rem;
				color: $authentication-text-color;
				transition: 0.2s;

				.icon {
					display: inline-block;
					position: relative;
					top: 0.2rem;
					width: 2.2rem;
					height: 2.2rem;
					background-repeat: no-repeat;
					margin-right: 2.5rem;
					left: 1.5rem;

					&-lock {
						background-position: 0 0;
					}
				}

				&:hover {
					color: #DDDDDD;
				}
			}

			.sign-up-link {
				@extend .sign-in-link;
				font-size: 2rem;
			}
		}

		.user-info {
			display: inline-block;
			line-height: initial;
			float: right;
			top: $head-min-height / 2;
			transform: translateY(-50%);
			position: relative;
			font-size: 1.7rem;
			font-family: 'Roboto Light', Helvetica;

			.user-name {
				text-align: center;
			}

			a {
				width: 100%;
				text-align: center;
				display: inline-block;

				&:first-child {
					margin-top: 0.6rem;
				}
			}
		}
	}

	.navbar {
		height: 10rem;
		margin-bottom: 1rem;

		.topics {
			display: flex;
			justify-content: space-between;
			width: 80%;
			margin-top: 1rem;

			.topic {
				position: relative;

				&-text {
					text-decoration: none;
					color: $topic-text-color;
					font-family: 'Roboto Light', sans-serif;
					font-size: 2rem;
					white-space: nowrap;

					&:hover + .sliding-underscore {
						width: 100%;
					}
				}

				.subtopics-nav {
					display: none;
					top: 2.2rem;
					padding-right: 5rem;
					padding-left: 5rem;
					left: -5rem;
					padding-top: 2rem;
					padding-bottom: 4rem;
					position: absolute;

					a {
						font-size: 1.8rem;
						font-family: 'Roboto Regular', Helvetica;
					}

					&:hover {
						display: flex;
					}

					.subtopic {
						&:not(:last-child) {
							margin-right: 2rem;
						}

						&:hover + .sliding-underscore {
							width: 100%;
						}
					}
				}

				&:hover > .subtopics-nav {
					display: flex;
				}

				&:first-child {
					.subtopics-nav {
						left: -5rem;
					}
				}

				&:last-child {
					.subtopics-nav {
						padding-right: 5rem;
						right: -5rem;
						left: initial;
					}
				}
			}

			.sliding-underscore {
				width: 0;
				margin: 0 auto;
				border-bottom: 1px solid $topic-text-color;
				transition: 0.4s;
			}
		}

		.join-us-btn {
			color: $join-us-btn-text-color;
			font-size: 2.2rem;
			font-family: 'Roboto Light', sans-serif;
			display: inline-block;
			background: $join-us-btn-background-color;
			position: absolute;
			top: -0.1rem; // crutch
			right: -3.5rem;
			padding: 1.2rem 3rem;
			border-bottom-left-radius: 0.8rem;
			border-bottom-right-radius: 0.8rem;
			transition: background 0.3s, color 0.3s;

			&:hover {
				color: $join-us-btn-text-color-hover;
				background: darken($join-us-btn-background-color, 5%);
			}
		}
	}

	.burger-menu {
		display: none;
		width: 43%;
		min-width: 28.5rem;
		border-right: 1px solid #BBBBBB;
		position: fixed;
		left: 0;
		background: #FFFFFF;
		z-index: 150;
		height: 100%;

		&-logo-container {
			width: 100%;
			text-align: center;
			max-height: 10rem;
			overflow: hidden;
			border-bottom: 2px solid #BBBBBB;
			border-top: 2px solid #BBBBBB;

			img {
				height: auto;
				width: 28.5rem;
				top: -7rem;
				position: relative;
			}
		}

		&-join-us-btn-container {
			height: 7rem;
			width: 100%;
			line-height: 4rem;
			text-align: center;
			background: #e9e9e9;

			a {
				width: 50%;
				font-size: 1.7rem;
				display: inline-block;
				height: 4rem;
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				text-decoration: none;
				font-family: "Roboto Light", Helvetica;
				color: $join-us-btn-text-color;
				border-radius: 3px;
				background: $join-us-btn-background-color;
				transition: background 0.3s, color 0.3s;

				&:hover {
					color: $join-us-btn-text-color-hover;
					background: darken($join-us-btn-background-color, 5%);
				}
			}
		}

		&-topics-container {
			background: #e9e9e9;
			z-index: -1;
			position: relative;
			height: 100%;
			max-height: 100%;
			line-height: 5rem;
			padding-top: 5rem;
			top: -3.5rem;
			padding-bottom: 23rem;
			overflow: hidden;

			.topic-container-for-overflow {
				max-height: 100%;
				overflow-y: scroll;
				width: calc(100% + 20px);
				background:
				/* Shadow covers */
				linear-gradient(#e9e9e9 30%, rgba(255,255,255,0)),
				linear-gradient(rgba(255,255,255,0), #e9e9e9 70%) 0 100%,
				/* Shadows */
				radial-gradient(50% 0, farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)),
				radial-gradient(50% 100%,farthest-side, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;

				background:
					/* Shadow covers */
					linear-gradient(#e9e9e9 30%, rgba(255,255,255,0)),
					linear-gradient(rgba(255,255,255,0), #e9e9e9 70%) 0 100%,

				/* Shadows */
				radial-gradient(farthest-side at 50% 0, rgba(0,0,0,.2), rgba(0,0,0,0)),
				radial-gradient(farthest-side at 50% 100%, rgba(0,0,0,.2), rgba(0,0,0,0)) 0 100%;
				background-color: #e9e9e9;
				background-repeat: no-repeat;
				background-size: 100% 40px, 100% 40px, 100% 14px, 100% 14px;

				/* Opera doesn't support this in the shorthand */
				background-attachment: local, local, scroll, scroll;

				a {
					text-decoration: none;
					max-width: 100%;
				}

				.burger-menu-topic {
					width: 100%;
					font-size: 2.3rem;
					text-align: center;
					border-top: 1px solid #CCCCCC;
					color: #555555;
					font-family: "Roboto Medium", Helvetica;
					transition: 0.2s;
					padding: 0.8rem 0;


					&:last-child {
						border-bottom: 1px solid #CCCCCC;
					}

					&:hover {
						background: lighten(#e9e9e9, 4%);
						color: #222222;
					}
				}
			}
		}

		&-footer {
			border-right: 1px solid #BBBBBB;
			height: 8rem;
			line-height: 3rem;
			position: fixed;
			width: 43%;
			min-width: 28.5rem;
			background: #e9e9e9;
			bottom: 0;
			text-align: center;

			.burger-menu-sign-in-btn {
				padding: 0.7rem 1.1rem;
				font-size: 1.7rem;
				display: inline-block;
				position: relative;
				font-family: "Roboto Light", Helvetica;
				background: #626262;
				transition: background 0.3s, color 0.3s;
				color: #FFFFFF;
				text-decoration: none;

				&:hover {
					background: darken(#626262, 5%);
				}
			}

			.burger-menu-sign-up-btn, .burger-menu-logout-btn {
				padding: 0.6rem 1.1rem;
				font-size: 1.7rem;
				display: inline-block;
				position: relative;
				font-family: "Roboto Light", Helvetica;
				border: 1px solid #626262;
				transition: border 0.3s color 0.3s;
				color: #333333;
				text-decoration: none;

				&:hover {
					border-color: #000000;
					color: #000000;
				}
			}
		}
	}

}
@media (max-width: 1085px) {
	.header {
		.navbar {
			.topics {
				margin-top: 7rem;
				width: 100%;
			}

			.join-us-btn {
				text-align: center;
				width: 30%;
				left: 50%;
				transform: translateX(-50%);
				padding: 1rem;
			}
		}
	}
}

@media (max-width: 991px) {
	.container {
		&.clearfix {
			margin-left: 5rem;
    	width: 95%;
		}
	}
	.header {
		.navbar {
			.topics {
				display: none;
			}
		}

		.head {

			.burger-menu-icon {
				width: 5rem;
				height: 5rem;
				top: $head-min-height / 2;
				transform: translateY(-50%);
				display: block;
			}
		}
	}
}

@media (max-width: 785px) {
	.header {

		.head {

			.authentication {
				display: none;
			}

			.user-info {
				display: none;
			}
		}

	}
}

@media (max-width: 755px) {
	.header {

		.burger-menu {

			&-join-us-btn-container {
				line-height: 1.7rem;

				a {
					padding: 0.2rem 1.5rem;
				}

				&:before, &:after {
					top: 0;
				}
			}
		}
	}
}

@media (max-width: 660px) {
	.header {

		.head {

			.logo-text {
				display: none;
			}

			.logo {
				text-align: center;
				width: 100%;
				position: absolute;
				left: 0;
				overflow: hidden;
				height: 10rem;

				.logo-image {
					width: 22rem;
					height: auto;
					position: relative;
					transform: translateY(-23%);
				}
			}
		}

		.burger-menu {

			.topic-container-for-overflow {

				.burger-menu-topic {
					font-size: 1.8rem;
				}
			}
		}
	}
}

@media (max-width: 625px) {
	.header {

		.navbar {

			.join-us-btn {
				display: none;
			}
		}
	}
}

@media (max-width: 385px) {
	.header {


		.head {

			.logo {
				text-align: left;

				.logo-image {
					left: 9rem;
				}
			}
		}
	}
}

@media (min-width: 991px) {
	// !important to override 'display: block' applied by jquery
	.shadow {
		display: none !important;
	}

	.header {
		.burger-menu {
			display: none !important;
		}
	}
}

