$news-navigation-list-item-background: #519CFF;
$news-navigation-list-item-text: #519cff;

.news-posts-previews-container {
	margin-bottom: 4rem;

	.news-navigation {
		text-align: center;
		margin-top: 2rem;
		margin-bottom: 4rem;

		&-list {
			padding: 0;
			list-style: none;

			.active {
				background: $news-navigation-list-item-background;

				a {
					color: #ffffff;
				}
			}

			&-item {
				background: #ffffff;
				border: 1px solid $news-navigation-list-item-background;
				width: 17rem;
				height: 4rem;
				line-height: 4rem;
				cursor: pointer;
				text-align: center;
				display: inline-block;
				margin-top: 1rem;

				a {
					font-family: Roboto Regular;
					font-size: 1.6rem;
					display: inline-block;
					width: 100%;
					height: 100%;
					color: $news-navigation-list-item-text;
					text-decoration: none;
				}
			}
		}
	}

	&-body {
		padding: 1rem 2rem;

		.news-posts-previews-item {
			width: 100%;
			margin-top: 2.5rem;
			margin-bottom: 2rem;
			display: inline-block;

			.img-container {
				padding-left: 0;
				padding-right: 0;
				overflow: hidden;
				border: 3px solid #EBEAEA;

				img {
					position: relative;
					left: 50%;
					transform: translateX(-50%);
					width: auto;
					height: 15rem;
					display: inline-block;
				}
			}

			.item-description {
				position: relative;
				height: 100%;
				vertical-align: top;
				display: inline-block;
				font-family: 'Roboto Regular';
				padding-right: 0;

				.item-title {
					font-family: 'Roboto Bold';
					font-size: 1.8rem;
					margin-bottom: 0.8rem;
				}

				.item-text {
					padding-left: 1rem;
					font-family: 'Roboto Light';
					font-size: 1.2rem;
				}

				.more-btn {
					position: absolute;
					bottom: -3.5rem;
					left: 2rem;

					.link-more {
						font-size: 1.5rem;
						color: #70abff;
					}
				}
			}
		}
	}
}

.news-post-container {
  h1 {
    font-family: 'Roboto Medium', Helvetica;
  }

  h3 {
    font-size: 20px;
    font-family: 'Roboto Regular', Helvetica;
  }

  // defaults from ckeditor
	.news-post-content {
		font-family: 'Roboto Light', Helvetica;
    line-height: 1.6;
    font-size: 18px;

    p {
      margin: 13px 0;
      line-height: 1.6;
    }

    h1 {
      margin: 17.4167px 0;
      line-height: 1.2;
    }

    blockquote {
      padding: 2px 0;
      padding-left: 20px;
      padding-right: 8px;
      font-style: italic;
      font-family: Georgia, Times, "Times New Roman", serif;
      font-size: 13px;
      border-style: solid;
      border-color: #ccc;
      border-width: 0;
      border-left-width: 5px;
      margin: 13px 40px;
    }

    img[style*="left"]  {
      margin-right: 20px;
      margin-bottom: 10px;
    }
    img[style*="right"] {
      margin-left: 20px;
      margin-bottom: 10px;
    }
	}
}

.news-post-form {

  .styled-select {
    background: asset_url("select-arrow.jpg") no-repeat right center;
    height: 34px;
    width: 240px;
    overflow: hidden;

    select {
      border: 1px solid #CCCCCC;
      height: 34px;
      width: 268px;
      padding: 5px;
      background: transparent;
      font-size: 1.8rem;
    }
  }
}
