.partner-form {
    width: 35%;
    min-width: 36.9rem;
    min-height: 27.5rem;
    z-index: 110;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    background: #FFFFFF;
    color: #000000;
    box-shadow: 0px 0px 2px #333333;
    display: none;

    &-header {
        font-size: 2.2rem;
        border-bottom: 1.5px solid #000000;
        padding: 15px;
    }

    &-body {
      margin-top: 1rem;
      padding: 0 1rem;
      padding-bottom: 2rem;
      font-size: 1.7rem;
      border-bottom: 1.5px solid #000000;

      #loadedImage {
        margin: 1rem 0;

        img {
          max-height: 15rem;
          max-width: 100%
        }
      }

      #partner-link {
        font-size: 1.6rem;
        width: 100%;
      }

      #partner-image-input {
        max-width: 100%;
        overflow: hidden;
      }

      .textarea-label {
        width: 22%;
        display: inline-block;
        vertical-align: middle;
      }

      .textarea-content {
        width: 76%;
        display: inline-block;
        vertical-align: middle;
        line-height: 2rem;

        textarea {
          height: 8rem;
        }
      }

    }

    .close {
        position: fixed;
        top: 20px;
        right: 20px;
    }

    .actions {
      margin: 1rem 0;
    }

}
