.add-slide-form {
    width: 20%;
    min-width: 369px;
    min-height: 275px;
    z-index: 1000;
    top: 12%;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto;
    position: fixed;
    background: #FFFFFF;
    color: #000000;
    box-shadow: 0 0 10px 0 #000000;
    display: none;

    &-header {
        font-size: 22px;
        border-bottom: 1.5px solid #000000;
        padding: 15px;
    }

    &-body {
      margin-top: 10px;
      padding: 0 10px;
      padding-bottom: 20px;
      font-size: 2rem;
      border-bottom: 1.5px solid #000000;

      #loadedImage {
        margin-top: 10px;
        max-height: 150px;
      }

      .slide-text {
        width: 100%;
        text-align: center;
        margin-top: 20px;

        input[type=text] {
          width: 100%;
        }
      }

      button {
        width: 45%;
        float: right;
        font-size: 1.5rem;
      }

    }

    &-footer {
        padding: 15px;
        padding-bottom: 25px;

        button {
          font-size: 1.8rem;
        }
    }

    .close {
        position: fixed;
        top: 20px;
        right: 20px;
    }

}