@import "gallery";



#blueimp-gallery {
	@media (min-width: 768px) {
		.modal-dialog {
			max-width: 70%;
		}
	}
	@media (max-width: 700px) {
		.modal-dialog {
			max-width: 70%;
			min-height: 800px !important;
		}
	}
}
