@import "variables";
$gallery-header-height: 5rem;
$gallery-header-color: rgba(81, 156, 255, 1);
$gallery-header-triangle-color: #3668a9;
$gallery-item-description-color: lighten(rgba(84, 86, 88, 1), 10%);
$gallery-header-text-color: #FFFFFF;

.gallery {
	&-header {

	}

	&-body {
		&-container {
			box-sizing: border-box;
			padding: 10rem;
		}

		&-item {
			height: 30rem;
			border: 0.2rem solid #000000;
			border-radius: 1rem;
			font-family: Roboto Light;
			overflow: hidden;
			cursor: pointer;
			transition: box-shadow 0.5s;

			&:hover {
				box-shadow: 0 0 1rem #000000;
			}

			&-description {
				width: 100%;
				text-align: center;
				background: $gallery-item-description-color;
				padding-bottom: 2rem;
				padding-top: 1rem;
			}

			.gallery-link {
				color: #ffffff;

				h3 {
					margin: 0 0 1rem;
				}
			}

			.gallery-image-container {
				height: 70%;
				width: 100%;
				box-sizing: border-box;
				padding: 10% 25%;
			}

			.gallery-default-image {
				width: 100%;
				height: 100%;
			}
		}
	}
}
