@import "variables";
$gallery-header-height: 5rem;
$gallery-navigation-background-color-active: rgba(81, 156, 255, 1);
$gallery-navigation-background-color: #ffffff;
$gallery-navigation-text-color: rgba(81, 156, 255, 1);
$gallery-navigation-create-color: rgba(81, 156, 255, 1);
$gallery-navigation-text-color-active: #ffffff;
$gallery-navigation-border: rgba(81, 156, 255, 1);
$gallery-item-description-color: lighten(rgba(84, 86, 88, 1), 10%);
$shape-width: 4rem;
$shape-border: 0.1rem;
$shape-height: 4rem;

textarea {
	resize: none;
}

.gallery {
	&-header {}

	&-navigation {
		margin-left: 7rem;

		&-item {
			display: inline-block;
			background: $gallery-navigation-background-color;
			width: 12rem;
			vertical-align: middle;
			position: relative;
			height: $shape-height;
			line-height: $shape-height;
			font-size: 1.6rem;
			text-align: center;
			border: $shape-border solid $gallery-navigation-border;
			color: $gallery-navigation-text-color;
			cursor: pointer;
			text-decoration: none;

			&:hover {
				text-decoration: none;
			}
		}

		&-create {
			display: inline-block;
			border-radius: 0.5rem;
			border: 1px solid $gallery-navigation-create-color;
			float: right;
			right: 5rem;
			height: $shape-height;
			width: 4rem;
			vertical-align: middle;
			position: relative;
			cursor: pointer;

			span {
				position: absolute;
				top: 50%;
				left: 50%;
				font-size: 2.5rem;
				transform: translate(-50%, -50%);
			}
		}

		&-item:nth-child(odd) {}

		&-item:nth-child(even) {
			margin-left: 2rem;
		}

		.active {
			background: $gallery-navigation-background-color-active;
			color: $gallery-navigation-text-color-active;
		}
	}

	&-routes {
		margin-bottom: 2rem;

		a {}

		a:not(:last-child) {
			&:after {
				display: inline-block;
				content: "/";
				margin: 0 2rem;
				text-transform: none;
				text-decoration: none;
			}
		}
	}

	&-body {
		&-container {
			box-sizing: border-box;
			padding: 10rem;
		}

		&-item {
			height: 30rem;
			border: 0.2rem solid #000000;
			border-radius: 1rem;
			font-family: Roboto Light;
			overflow: hidden;
			cursor: pointer;
			transition: box-shadow 0.5s;

			&:hover {
				box-shadow: 0 0 1rem #000000;
			}

			&-description {
				width: 100%;
				text-align: center;
				background: $gallery-item-description-color;
				padding-bottom: 2rem;
				padding-top: 1rem;
			}

			.gallery-link {
				color: #ffffff;

				h3 {
					margin: 0 0 1rem;
				}
			}

			.gallery-image-container {
				height: 70%;
				width: 100%;
				box-sizing: border-box;
				padding: 5% 30%;
			}

			.gallery-default-image {
				width: 100%;
				height: 100%;
			}
		}
	}
}
