@import "variables";

.col-centered {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.pdf-page-field {
  position: relative;
  margin-bottom: 30px !important;

  label {
    font-size: 16px !important;
  }

  .required {
    border-left: 3px solid $main-color-first;
    padding-left: 15px;
  }

  .big-input {
    position: absolute;
    top: 50%;
    left: 42%;
    transform: translateY(-50%);
  }

  .small-input {
    @extend .big-input;
    left: 70%;
  }

  .subheader {
    font-size: 18px !important;
    color: #000000;
  }

}
