@import "variables";
$background-form-page: #ffffff;
$btn-border-color: rgba(84, 86, 88, 1);
$btn-text-color: #FFFFFF;
$btn-background-color: rgba(81, 156, 255, 1);

.col-centered {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
}

.pdf-page-field {
	position: relative;
	margin-bottom: 3rem;

	label {
		font-size: 1.6rem;
	}

	.required {
		border-left: 3px solid $main-color-first;
		padding-left: 15px;
	}
	// .big-input {
	//   position: absolute;
	//   top: 50%;
	//   left: 42%;
	//   transform: translateY(-50%);
	// }
	//
	// .small-input {
	//   @extend .big-input;
	//   left: 70%;
	// }
	.subheader {
		font-size: 18px !important;
		color: #000000;
	}
}

.form-page {
	background: $background-form-page;
	padding: 0 !important;
	min-height: 100%;

	.form-control-warning {
		border: 1px solid #d9534f !important;

		&:focus,
		&:hover {
			box-shadow: none;
		}
	}

	.form-part {
		height: 100%;
	}

	.final-page-pdf {
		text-align: center;

		&-header {
			h2 {
				font-family: Roboto Regular;
			}

			h3 {
				font-family: Roboto Light;
			}
		}

		&-content {
			margin-top: 10%;
		}
	}

	.btn-next-form,
	.btn-prev-form {
		font-size: 2rem;
	}

	.btn-download {
		display: inline-block;
		text-decoration: none !important;
		font-size: 2.6rem;
		min-width: 30rem;
		padding: 0.3em 1em;
		border: 1px solid #aaa;
		border-radius: 100px;
		color: $btn-text-color;
		font-family: Roboto Regular;
		outline: none;
		background: $btn-background-color;
		background-position: calc(100% - 2.7em) 0, calc(100% - 2.7em + 1px) 0, 0 0;
		overflow: hidden;
	}

	.btn-download:hover {
		background-color: lighten($btn-background-color, 2%);
	}

	input {
		font-size: 1.8rem;
	}

	.navigaton-content {
		width: 100%;
		margin-top: 50px;
	}

	.form-container {
		font-size: 1.4rem;
		width: 80%;
		height: 100%;
		margin: auto;

		td {
			box-sizing: border-box;
			padding: 5px;
		}

		.checkbox-cell {
			width: 7%;
			text-align: center;
			line-height: 40px;

			input {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				width: 70%;
				height: 70%;
			}
		}

		.pdf-page {
			&-title {
				text-align: center;

				* {
					font-weight: bold;
				}
			}

			&-content {
				width: 70%;
				height: 100%;
				box-sizing: border-box;
				padding: 10px 50px;
				margin: auto;
			}

			.form-group * {
				vertical-align: middle !important;
			}
		}

		label {
			display: inline-block;
			font-size: 1.5rem;
		}

		.navigation-form {
			text-align: center;
			margin-bottom: 30px;
		}

		.required-field {
			padding: 0;
			font-size: 2.5rem;
		}

		.table-pdf {
			border: 1px solid #000000;
			border-radius: 5px;

			.table-title-pdf {
				text-align: center;

				td {
					font-size: 2rem;
					font-weight: bold;
				}
			}

			td,
			tr {
				height: 40px;
				border: 1px solid #000000;
				font-size: 1.5rem;
			}
		}

		.partition-title-pdf {
			text-align: center;
			text-decoration: underline;
			margin-bottom: 30px;

			h3 {
				font-weight: bold;
			}
		}

		.partition-subtitle-pdf {
			text-align: center;
			margin-bottom: 30px;

			h3 {
				font-weight: bold;
			}
		}
	}
}
@media (max-width: 1199px) {
	.form-container {
		width: 100% !important;
	}

	.pdf-page-content {
		width: 100% !important;

		.table-pdf {
			.checkbox-cell {
				position: relative;

				input {
					position: absolute;
					left: 50%;
					top: 50%;
					transform: translate(-50%,-50%);
				}
			}
		}

		.navigaton-content {
			margin-top: 50px;

			.navigation-form {
				button {
					font-size: 4rem;
				}
			}
		}

		.pdf-page-title {
			h2 {
				font-size: 5rem;
			}
		}

		.partition-subtitle-pdf {
			h3 {
				font-size: 3.5rem;
			}
		}

		.partition-title-pdf {
			h3 {
				font-size: 4.5rem;
			}
		}

		.form-part {
			label {
				font-size: 3rem;
			}

			.pdf-page-input {
				height: 5.5rem;
				font-size: 4.5rem;
			}
		}
	}
}
// @media (max-width: 970px) {
// 	.form-container {
// 		width: 100% !important;
// 	}
//
// 	.pdf-page-content {
// 		width: 100% !important;
//
// 		.pdf-page-title {
// 			h2 {
// 				font-size: 4rem;
// 			}
// 		}
//
// 		.partition-title-pdf {
// 			h3 {
// 				font-size: 3.5rem;
// 			}
// 		}
//
// 		.form-part {
// 			label {
// 				font-size: 2rem;
// 			}
//
// 			.pdf-page-input {
// 				height: 3.5rem;
// 				font-size: 2.5rem;
// 			}
// 		}
// 	}
// }
