@import "variables";
$background-form-page: $site-background-color;
@media (max-width: 970px) {
	.form-container {
		width: 100% !important;
	}

	.pdf-page-content {
		width: 80% !important;
	}
}

.form-page {
	background: $background-form-page;
	padding: 0 !important;
	min-height: 100%;

	.form-control-warning {
		border: 1px solid #d9534f !important;

		&:focus,
		&:hover {
			box-shadow: none;
		}
	}

	.form-part {
		height: 100%;
	}

	.final-page-pdf {
		text-align: center;

		&-content {
			margin-top: 30%;
		}
	}

	.btn-next-form,
	.btn-prev-form {
		font-size: 2rem;
	}

	.btn-download {
		display: inline-block;
		text-shadow: 1px 1px #fff;
		text-decoration: none !important;
		font-size: 2.6rem;
		width: 300px;
		padding: 0.3em 1em;
		border: 1px solid #aaa;
		border-radius: 100px;
		outline: none;
		background: #d6dbbf no-repeat;
		background-image: linear-gradient(to left, #aaa, #aaa), linear-gradient(to left, #feffe8, #feffe8), linear-gradient(#feffe8, #d6dbbf);
		background-position: calc(100% - 2.7em) 0, calc(100% - 2.7em + 1px) 0, 0 0;
		background-size: 1px 100%, 1px 100%, auto auto;
		overflow: hidden;
	}

	.btn-download:after {
		content: "\bb";
		position: relative;
		bottom: 0;
		display: inline-block;
		margin-left: 85px;
		vertical-align: middle;
		font-family: "Times","Times New Roman","serif","sans-serif","EmojiSymbols";
		font-weight: 700;
		font-size: 140%;
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}

	.btn-download:hover {
		background-color: #fdfd9f;
		background-image: linear-gradient(to left, #aaa, #aaa), linear-gradient(to left, #feffe8, #feffe8), linear-gradient(#fffce7, #fdfd9f);
	}

	.btn-download:active:after {
		bottom: -1.2em;
		transition: 0.3s;
	}

	input {
		font-size: 1.8rem;
	}

	.navigaton-content {
		width: 100%;
		margin-top: 50px;
	}

	.form-container {
		font-size: 1.4rem;
		width: 80%;
		height: 100%;
		margin: auto;

		td {
			box-sizing: border-box;
			padding: 5px;
		}

		.checkbox-cell {
			width: 7%;
			text-align: center;
			line-height: 40px;

			input {
				position: relative;
				top: 50%;
				transform: translateY(-50%);
				width: 70%;
				height: 70%;
			}
		}

		.pdf-page {
			&-title {
				text-align: center;

				* {
					font-weight: bold;
				}
			}

			&-content {
				width: 70%;
				height: 100%;
				box-sizing: border-box;
				padding: 10px 50px;
				margin: auto;
			}

			.form-group * {
				vertical-align: middle !important;
			}
		}

		label {
			display: inline-block;
			font-size: 1.5rem;
		}

		.navigation-form {
			text-align: center;
			margin-bottom: 30px;
		}

		.required-field {
			padding: 0;
			font-size: 2.5rem;
		}

		.table-pdf {
			border: 1px solid #000000;
			border-radius: 5px;

			.table-title-pdf {
				text-align: center;

				td {
					font-size: 2rem;
					font-weight: bold;
				}
			}

			td,
			tr {
				height: 40px;
				border: 1px solid #000000;
				font-size: 1.5rem;
			}
		}

		.partition-title-pdf {
			text-align: center;
			text-decoration: underline;
			margin-bottom: 30px;

			h3 {
				font-weight: bold;
			}
		}

		.partition-subtitle-pdf {
			text-align: center;
			margin-bottom: 30px;

			h3 {
				font-weight: bold;
			}
		}
	}
}
