@import "_header";
@import "_block1";
@import "_block2";
@import "_block3";
@import "_prefooter";
@import "_slider";
@import "_footer";
@import "gallery";
@import "albums";

body {
	font-size: 10px;
}

p {
	margin: 0;
	padding: 0;
	line-height: initial; // danger
}
