@font-face {
	font-family: 'Roboto Black Italic';
	src: asset_url('Roboto/Roboto-Blackitalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Black';
	src: asset_url('Roboto/Roboto-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Bold Italic';
	src: asset_url('Roboto/Roboto-Bolditalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Bold';
	src: asset_url('Roboto/Roboto-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Light';
	src: asset_url('Roboto/Roboto-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Light Italic';
	src: asset_url('Roboto/Roboto-Lightitalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Medium Italic';
	src: asset_url('Roboto/Roboto-Mediumitalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Medium';
	src: asset_url('Roboto/Roboto-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Regular';
	src: asset_url('Roboto/Roboto-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Thin Italic';
	src: asset_url('Roboto/Roboto-Thinitalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto Thin';
	src: asset_url('Roboto/Roboto-Thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
