<li class="list-group-item">
    <div class="row">
        <div class="col-xs-10 col-md-11">
            <div>
                <div class="mic-info">
                    Автор:
                    <a href="#"><%= comment.user_name %></a>
                    <%= comment.created_at.strftime("%d-%m-%Y") %>
                </div>
            </div>
            <div class="comment-text">
                <%= comment.comment %>
            </div>
            <div class="action">
                <button type="button" class="btn btn-primary btn-xs" title="Изменить">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
                <button type="button" class="btn btn-danger btn-xs" title="Удалить">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
        </div>
    </div>
</li>
