<div class="comments-content-<%= commentable.id%>">
    <div class="panel panel-default widget">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-comment"></span>
            <h3 class="panel-title">
                Последние комментарии
            </h3>

            <span class="label label-info comment-size">
                <%= commentable.comments.size %>
            </span>
        </div>
        <a href="#" class="btn btn-primary btn-sm btn-block" role="button">
            <span class="glyphicon glyphicon-refresh"></span>
            Все комментарии
        </a>
        <div class="panel-body">
            <ul class="list-group comments-list">
                <% commentable.comments.each do |comment| %>
                <%= render comment, commentable: commentable %>
                <% end %>
            </ul>
        </div>
    </div>
</div>
