<% if can? :create , Comment %>
<%= form_for [ commentable, commentable.comments.build ], remote: true do |f| %>
<div class="form-group new-comment">
    <%= f.text_area :comment, class: "form-control", placeholder: "Добавить комментарий..." %>
</div>
<%= f.submit value: "Отправить", class: "btn btn-primary btn-sm send-comment" %>
<% end %>

<% end %>
