<li class="list-group-item single-comment">
  <div>
    <span class="comment-author"><%= comment.user.name %></span>
    <span class="pull-right">
      <%= link_to "Удалить", survey_comment_path(comment.commentable, comment), method: :delete, remote: true %>
    </span>
  </div>
  <div class="comment-text">
      <%= comment.comment %>
  </div>
  <span class="comment-date"><%= comment.created_at.strftime("%d-%m-%Y") %></span>
</li>
