<ul>
	<li class="tab"><a href="<%= news_posts_path(:rspp) %>">Новости РСПП</a></li>
	<li class="tab"><a href="<%= news_posts_path(:business) %>">Деловые новости</a></li>
	<li class="tab"><a href="<%= news_posts_path(:mass_media) %>">СМИ о нас</a></li>
</ul>

<% @news_posts.each do |news_post| %>
	<%= news_post.title %>
<% end %>
