
<%= form_for @post, html: {id: "news-post-form"} do |f| %>
  <div class="container news-post-container">
    <p class="info">Введите заголовок:</p>
    <h1>
      <p><%= f.text_field :title, autocomplete: "off", placeholder: "Заголовок" %></p>
    </h1>

    <!-- <hr> -->

    <p class="info">Введите краткое описание(не обязательно):</p>
    <h3>
      <b>
        <p><%= f.text_area :description, autocomplete: "off", placeholder: "Краткое описание" %></p>
      </b>
    </h3>


    <!-- <hr> -->

    <!-- <div class="btn-load" id="upload-picture-news-post">
      Загрузить фото
      <input type="hidden" name="news_post[image_url]" id="news_post_image_url">
    </div> -->

    <p class="info-last">Введите содержание новости:</p>

    <div class="btn-load text-center" id="upload-picture-news-post"">
      <div class="btn-area">
        Добавить картинку...
      </div>
    </div>
    <input type="hidden" name="news_post[image_url]" id="news_post_image_url">

    <div class="middle-content">
<!--       <div class="btn-area" id="upload-picture-news-post-left">
          Добавить картинку...
      </div> -->
      <div class="editor">
        <div id="toolbar"></div>
        <div id="content-input"></div>
      </div>
<!--       <div class="btn-area" id="upload-picture-news-post-right">
          Добавить картинку...
      </div> -->
    </div>

<!--     <div class="btn-load text-center" id="upload-picture-news-post-bottom">
      <div class="btn-area">
        Добавить картинку...
      </div>
    </div> -->
    <input id="text" type="hidden" name="news_post[text]">


    <p><%= f.submit "Добавить" %></p>
  </div>
<% end %>

<script>
  var toolbarOptions = [
    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
    [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
    ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
    ['blockquote', 'code-block'],

    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
    [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
    [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent

    [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
    [{ 'font': [] }],
    [{ 'align': [] }]                            
  ];
  var quill = new Quill('#content-input', {
    modules: {
      toolbar: toolbarOptions
    },
    theme: 'snow',
  });

  var form = $("#news-post-form");
  form.on('submit', function() {
    var text = $('#text');
    text.val(JSON.stringify(quill.getContents()));
    text.appendTo(form);
  }) 
</script>