<div class="footer">
	<div class="container clearfix">

		<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
			<p class="copyright">
				© 2017 «РСПП», Все права защищены
			</p>
		</div>

		<div class="col-lg-4 col-lg-offset-1
								col-md-4 col-md-offset-1
								col-sm-12
								col-xs-12">
			<div class="footer-address">
				<p>
					Минск, ул. Сторожевская, 5, офис 15
				</p>
			</div>
		</div>

		<div class="col-lg-2 col-lg-offset-1
								col-md-2 col-md-offset-1
								col-sm-12
								col-xs-12">
			<div class="footer-contact">
				<p class="phone">+375 11 111 11 11</p>
			</div>
		</div>

	</div>
</div>
